Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

fix: new docker image with cached steps #150
  Dockerfile
Due: none

chore: add build-config command in dockerfile #150
  Dockerfile
Due: none

chore: apply default yarn ignores #150
  .gitignore
Due: none

fix: add default config file, only for type checking #150
  Dockerfile
Due: none

fix: run in docker without yarn
  Dockerfile
Due: none

ci: add concurrency and cancel-in-progress to Github action #150
  .github/workflows/ci.yml
Due: none

fix: display category name in tab title #128
  pages/category/[id].vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: update category page title on category change #128
  components/PoisList/PoisList.vue
  pages/category/[id].vue
Due: yarn eslint --fix, yarn stylelint

chore: remove sed command in ci #150
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

chore: update vite-plugin-vuetify #152
  package.json
  yarn.lock
Due: none

fix: disable favorite mode for pois type: address #135
  components/Home/Home.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

list add category name in page title #128
  components/PoisList/PoisList.vue
  pages/category/[id].vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

feat: color on odd lines from poistable #142
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

feat: convert poistable to datatable #142
  components/PoisList/PoisTable.vue
  nuxt.config.ts
Due: yarn eslint --fix, yarn stylelint

chore: apply lint fix #142
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

chore: change datatable header color #142
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

feat: add glyphicons support #161
  components/UI/TeritorioIcon.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.21.1
  package.json
Due: none

feat: add setup mode to website component + accepting an array of urls #164
  components/Fields/Website.vue
Due: yarn eslint --fix, yarn stylelint

feat: add website field with prefix/suffix support #164
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: isWebsite condition #164
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

chore: website component #164
  components/Fields/Field.vue
  components/Fields/Website.vue
Due: yarn eslint --fix, yarn stylelint

Support any website tag (#165)
  components/Fields/Field.vue
  components/Fields/Website.vue
Due: yarn eslint --fix, yarn stylelint

fix: support any website tag (#165)
  components/Fields/Field.vue
  components/Fields/Website.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.21.2
  package.json
Due: none

chore: delete useless array casting #147
  components/Fields/Stars.vue
Due: yarn eslint --fix, yarn stylelint

chore: change import of proptype
  components/Fields/Stars.vue
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

fix: json object parsing on feature properties #147
  stores/map.ts
Due: yarn eslint --fix

Always one star on favorite notebook (#160)
  components/Fields/Stars.vue
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

fix: always one star on favorite notebook (#160)
  components/Fields/Stars.vue
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

Fix menu store. menuItem.category could also be null
  stores/menu.ts
Due: yarn eslint --fix

feat: add contrib mode middleware #142
  middleware/contrib-mode.global.ts
  stores/site.ts
Due: yarn eslint --fix

feat: add editor_id and osm_note fields #142
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

feat: add icons to contrib fields #142
  components/Fields/Field.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

feat: add contrib fields label translation #142
  components/Fields/Field.vue
  locales/en-GB.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
