Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

chore: update eslint hidden deps
  yarn.lock
Due: none

chore: update jest hidden deps
  yarn.lock
Due: none

chore: update nuxtjs plugins hidden deps
  yarn.lock
Due: none

chore: update babel hidden deps
  yarn.lock
Due: none

chore: update @nuxtjs/tailwindcss hidden deps
  yarn.lock
Due: none

chore: update hidden deps
  yarn.lock
Due: none

chore: update @nuxtjs/tailwindcss
  package.json
  yarn.lock
Due: none

deploy: c42e4f7352bcdf43c78114cf4bb7aafd3b4ee223
  project.json
  sw.js
Due: yarn eslint --fix

ci: fix cypress
  .github/workflows/ci.yml
Due: none

deploy: 9ea01eeaac99f53f4e3a5b21a18fb86892eeb0ff
  project.json
  sw.js
Due: yarn eslint --fix

fix: fix localhost for cypress
  .github/workflows/ci.yml
  cypress.config.ts
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/embedded.cy.ts
  cypress/e2e/favourites.cy.ts
  cypress/e2e/home-content.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/e2e/pois/map.cy.ts
  cypress/e2e/tracking.cy.ts
  vidos-config-cypress.json
  vidos-config-empty.json
Due: yarn eslint --fix

ci: ci
  .github/workflows/ci.yml
Due: none

fix: fix api/manifest.ts code
  api/manifest.ts
Due: yarn eslint --fix

deploy: ec63dae58dcf5eb3ce9b182ac1cb3c18dd5bb957
  iframe.html
  main.40e73dce.iframe.bundle.js
  main.40e73dce.iframe.bundle.js.map
  main.804e8747.iframe.bundle.js
  main.804e8747.iframe.bundle.js.LICENSE.txt
  main.804e8747.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

fix: more scoped css teritorio/vido-private#858
  components/Home/Home.vue
  pages/category/index.vue
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: note book, stick icons tools teritorio/vido-private#860
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

deploy: e52b76e1866781aad185d6421faf19666d47285f
  iframe.html
  pages/category/index.05f2c27b.iframe.bundle.js
  pages/category/index.f50f9baa.iframe.bundle.js
  pages/embedded.01d90af3.iframe.bundle.js
  pages/embedded.b5e0af59.iframe.bundle.js
  pages/index.2940d3ca.iframe.bundle.js
  pages/index.855f18f0.iframe.bundle.js
  project.json
  runtime~main.81869fcb.iframe.bundle.js
  runtime~main.f1a177aa.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

chore: update @teritorio/map
  package.json
  yarn.lock
Due: none

fix: fix js code in template
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
Due: yarn eslint --fix, yarn stylelint

chore: add missing geojson deps
  package.json
  yarn.lock
Due: none

fix: switch vuex-shared-mutations to typescript
  nuxt.config.ts
  plugins/vuex-shared-mutations.ts
Due: yarn eslint --fix

deploy: 524df8ab597aef624c544a33ce99cdf0b2a9b797
  iframe.html
  main.804e8747.iframe.bundle.js
  main.804e8747.iframe.bundle.js.map
  main.e141b569.iframe.bundle.js
  main.e141b569.iframe.bundle.js.LICENSE.txt
  main.e141b569.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

fix: remove useless drop down
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

fix: embedde, always show close button
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix UI button with no label
  components/UI/UIButton.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 02002918efd87087939d5201459dde0a811c4d78
  iframe.html
  main.d13b75c5.iframe.bundle.js
  main.d13b75c5.iframe.bundle.js.LICENSE.txt
  main.d13b75c5.iframe.bundle.js.map
  main.e141b569.iframe.bundle.js
  main.e141b569.iframe.bundle.js.map
  pages/embedded.01d90af3.iframe.bundle.js
  pages/embedded.5c8f8cde.iframe.bundle.js
  pages/index.393e2028.iframe.bundle.js
  pages/index.855f18f0.iframe.bundle.js
  project.json
  runtime~main.2d47df65.iframe.bundle.js
  runtime~main.f1a177aa.iframe.bundle.js
  sw.js
  vendors~main.5101a6f9.iframe.bundle.js
  vendors~main.5101a6f9.iframe.bundle.js.map
  vendors~main.d9be35a5.iframe.bundle.js
  vendors~main.d9be35a5.iframe.bundle.js.LICENSE.txt
  vendors~main.d9be35a5.iframe.bundle.js.map
Due: yarn eslint --fix

fix: add .output to .gitignore
  .gitignore
Due: none

refactor: move Filters/Select.vue
  components/Filters/Select.vue
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix filter input margin
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 223f1450a9b08f92f585e8c1c2fbf894f779efb1
  iframe.html
  main.d13b75c5.iframe.bundle.js
  main.d13b75c5.iframe.bundle.js.map
  main.f62b5b00.iframe.bundle.js
  main.f62b5b00.iframe.bundle.js.LICENSE.txt
  main.f62b5b00.iframe.bundle.js.map
  project.json
  sw.js
  vendors~main.b9907a26.iframe.bundle.js
  vendors~main.b9907a26.iframe.bundle.js.LICENSE.txt
  vendors~main.b9907a26.iframe.bundle.js.map
  vendors~main.d9be35a5.iframe.bundle.js
  vendors~main.d9be35a5.iframe.bundle.js.map
Due: yarn eslint --fix

fix: fix future vue syntaxe
  components/Map/MapBase.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

fix: disable cooperative-gestures on Embedded
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 2ad032ae878b23284afd228dc113cfc3aaa1bb07
  iframe.html
  main.ed226749.iframe.bundle.js
  main.ed226749.iframe.bundle.js.LICENSE.txt
  main.ed226749.iframe.bundle.js.map
  main.f62b5b00.iframe.bundle.js
  main.f62b5b00.iframe.bundle.js.map
  pages/embedded.0ac125b3.iframe.bundle.js
  pages/embedded.5c8f8cde.iframe.bundle.js
  project.json
  runtime~main.2d47df65.iframe.bundle.js
  runtime~main.ee066122.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

chore: future, pass app to tracker
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  plugins/tracking.ts
Due: yarn eslint --fix

fix: force nbsp in french i18n
  locales/fr.js
Due: yarn eslint --fix

fix: fix responsive share link copy button
  components/UI/ShareLinkModal.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

deploy: 19c228b9ac0a4c0db169489ad14a41b044ec400a
  iframe.html
  lang-fr.js.53231b66.iframe.bundle.js
  lang-fr.js.ba414b3e.iframe.bundle.js
  main.e1ae6887.iframe.bundle.js
  main.e1ae6887.iframe.bundle.js.LICENSE.txt
  main.e1ae6887.iframe.bundle.js.map
  main.ed226749.iframe.bundle.js
  main.ed226749.iframe.bundle.js.map
  project.json
  runtime~main.af745fcb.iframe.bundle.js
  runtime~main.ee066122.iframe.bundle.js
  sw.js
  vendors~main.6914c658.iframe.bundle.js
  vendors~main.6914c658.iframe.bundle.js.LICENSE.txt
  vendors~main.6914c658.iframe.bundle.js.map
  vendors~main.b9907a26.iframe.bundle.js
  vendors~main.b9907a26.iframe.bundle.js.map
Due: yarn eslint --fix
