Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

chore: update misc small libs
  package.json
  yarn.lock
Due: none

fix: remove console.error
  store/favorite.ts
Due: yarn eslint --fix

fix: simplify and fix search input focus
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

test: fix cypress test
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/Link.vue
  cypress/e2e/mock.ts
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix, yarn stylelint

chore: revert update core
  package.json
  yarn.lock
Due: none

fix: fix cypress test
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix

deploy: d68f97a76c2e383adc0d61b202594fd3c6513d60
  iframe.html
  main.9553c69d.iframe.bundle.js
  main.9553c69d.iframe.bundle.js.map
  main.ac715af3.iframe.bundle.js
  main.ac715af3.iframe.bundle.js.LICENSE.txt
  main.ac715af3.iframe.bundle.js.map
  pages/index.1b31357e.iframe.bundle.js
  pages/index.7f9d6f60.iframe.bundle.js
  pages/poi/_id/details.ed54cecf.iframe.bundle.js
  pages/poi/_id/details.f558319b.iframe.bundle.js
  pages/pois/_ids/map.96f0a24b.iframe.bundle.js
  pages/pois/_ids/map.b35b422f.iframe.bundle.js
  project.json
  runtime~main.462b117e.iframe.bundle.js
  runtime~main.b049767f.iframe.bundle.js
  vendors~main.48f3bc38.iframe.bundle.js
  vendors~main.48f3bc38.iframe.bundle.js.LICENSE.txt
  vendors~main.48f3bc38.iframe.bundle.js.map
  vendors~main.4a8c57ec.iframe.bundle.js
  vendors~main.4a8c57ec.iframe.bundle.js.map
  vendors~pages/index.629713e0.iframe.bundle.js
  vendors~pages/index.629713e0.iframe.bundle.js.LICENSE.txt
  vendors~pages/index.629713e0.iframe.bundle.js.map
  vendors~pages/index.f0568bbd.iframe.bundle.js
  vendors~pages/index.f0568bbd.iframe.bundle.js.map
  vendors~pages/poi/_id/details.ef8c69c4.iframe.bundle.js
  vendors~pages/poi/_id/details.fcccc2e6.iframe.bundle.js
Due: yarn eslint --fix

chore: add cypress-terminal-report to help debug from github actions
  cypress.config.ts
  cypress/support/e2e.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: only enable Storybook CI on develop branch
  .github/workflows/ci.yml
Due: none

fix: always log tracking in dev
  plugins/tracking.ts
Due: yarn eslint --fix

fix: deals with low speed of CI test
  cypress/e2e/home-content.cy.ts
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix

fix: preset tracking cookie to false
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix

ci: copy NODE_ENV for nuxt build
  nuxt.config.ts
  plugins/tracking.ts
Due: yarn eslint --fix

deploy: b3d70d14a38b0929ed584f727a9b086089e429b0
  iframe.html
  main.774df8e6.iframe.bundle.js
  main.774df8e6.iframe.bundle.js.LICENSE.txt
  main.774df8e6.iframe.bundle.js.map
  main.ac715af3.iframe.bundle.js
  main.ac715af3.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: on detail page, show description as block vido-private#841
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: support header recursionLevel in routes field vido-private#841
  components/Fields/Field.vue
  components/Fields/RouteField.vue
  components/Fields/RoutesField.vue
  components/PoisDetails/FieldsHeader.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move PoisDetails/FieldsHeader -> UI/FieldsHeader
  components/Fields/Field.vue
  components/Fields/RouteField.vue
  components/PoisDetails/FieldsGroup.vue
  components/UI/FieldsHeader.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename Map.fullScreenMap to fullPage
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

feat: add fullscreen control to route map vido-private#841
  components/Map/Map.stories.ts
  components/Map/Map.vue
  components/Map/MapControls.vue
  components/MapPois.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 521381e50a28cf83ecdc8fa6a7f1e750a6bf9319
  iframe.html
  main.5279b49b.iframe.bundle.js
  main.5279b49b.iframe.bundle.js.LICENSE.txt
  main.5279b49b.iframe.bundle.js.map
  main.774df8e6.iframe.bundle.js
  main.774df8e6.iframe.bundle.js.map
  pages/poi/_id/details.1d669385.iframe.bundle.js
  pages/poi/_id/details.f558319b.iframe.bundle.js
  pages/pois/_ids/map.888345cb.iframe.bundle.js
  pages/pois/_ids/map.b35b422f.iframe.bundle.js
  project.json
  runtime~main.462b117e.iframe.bundle.js
  runtime~main.471e839e.iframe.bundle.js
Due: yarn eslint --fix

fix: add css and vue-agile workaround #13
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 156c58bd053e31c9ab09ca51072acbbb1e8254e8
  iframe.html
  pages/poi/_id/details.1d669385.iframe.bundle.js
  pages/poi/_id/details.5f998ea4.iframe.bundle.js
  project.json
  runtime~main.471e839e.iframe.bundle.js
  runtime~main.62b33acb.iframe.bundle.js
Due: yarn eslint --fix

fix: revert filed header h3
  components/UI/FieldsHeader.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactoring RoutesFiled vido-private#841
  components/Fields/RouteField.vue
  components/Fields/RoutesField.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: detail, does not show array-field as <ul/>
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

feat: use external link with phone icon for tel: URL vido-private#840
  components/Fields/Phone.vue
  components/UI/ExternalLink.vue
Due: yarn eslint --fix, yarn stylelint

feat: remove Ubuntu font
  assets/details.scss
  assets/fonts/Ubuntu/LICENCE.txt
  assets/fonts/Ubuntu/README.txt
  assets/fonts/Ubuntu/Ubuntu-L.eot
  assets/fonts/Ubuntu/Ubuntu-L.otf
  assets/fonts/Ubuntu/Ubuntu-L.ttf
  assets/fonts/Ubuntu/Ubuntu-L.woff
  assets/fonts/Ubuntu/Ubuntu-Light.css
  assets/fonts/Ubuntu/copyright.txt
  components/PoisDetails/Footer.vue
  pages/poi/_id/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix route waypoint css
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: display OH layout vido-private#840
  components/Fields/OpeningHours.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix slideshow dots
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 8568e2332fb17f54235af16e20dd8c1d97a48a0c
  fonts/Ubuntu-L.0641989.woff
  fonts/Ubuntu-L.1f43a24.eot
  fonts/Ubuntu-L.b6c0962.ttf
  iframe.html
  lang-en.js.a11f965e.iframe.bundle.js
  lang-en.js.bbf3d6ef.iframe.bundle.js
  lang-es.js.1516a445.iframe.bundle.js
  lang-es.js.bac4dacd.iframe.bundle.js
  lang-fr.js.0dd1ad77.iframe.bundle.js
  lang-fr.js.d918630f.iframe.bundle.js
  main.5279b49b.iframe.bundle.js
  main.5279b49b.iframe.bundle.js.map
  main.d8fb6c5e.iframe.bundle.js
  main.d8fb6c5e.iframe.bundle.js.LICENSE.txt
  main.d8fb6c5e.iframe.bundle.js.map
  pages/poi/_id/details.5f998ea4.iframe.bundle.js
  pages/poi/_id/details.f1572cc6.iframe.bundle.js
  project.json
  runtime~main.1ab53738.iframe.bundle.js
  runtime~main.62b33acb.iframe.bundle.js
  vendors~main.48f3bc38.iframe.bundle.js
  vendors~main.48f3bc38.iframe.bundle.js.map
  vendors~main.69fc569d.iframe.bundle.js
  vendors~main.69fc569d.iframe.bundle.js.LICENSE.txt
  vendors~main.69fc569d.iframe.bundle.js.map
Due: yarn eslint --fix

feat: make picture reactive, for good this time
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/UI/NuxtPicture.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 429204622c1606d4730d47b1e239877204d694b5
  iframe.html
  main.96e9308b.iframe.bundle.js
  main.96e9308b.iframe.bundle.js.LICENSE.txt
  main.96e9308b.iframe.bundle.js.map
  main.d8fb6c5e.iframe.bundle.js
  main.d8fb6c5e.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: route on poicard
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

deploy: cd10525a3b1e814a11aee0a91ef65f7eb87d2156
  iframe.html
  main.26974d8e.iframe.bundle.js
  main.26974d8e.iframe.bundle.js.LICENSE.txt
  main.26974d8e.iframe.bundle.js.map
  main.96e9308b.iframe.bundle.js
  main.96e9308b.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: code clean
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactoring search, remove state machine
  components/Home/Home.machine.ts
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix main header logo #14
  components/Home/Menu.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

chore: update font-teritorio vido-private#833
  package.json
  yarn.lock
Due: none
