Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

refactor: refactor favorite icon
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: add missing i18n
  components/MainMap/MapPoiToast.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

refactor: rename components/TeritorioIcon to components/UI
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/SelectedSubCategoriesDense.vue
  components/Details/Index.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MapPoiToast.vue
  components/Search/SearchResultBlock.vue
  components/UI/TeritorioIcon.vue
  components/UI/TeritorioIconBadge.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

refactor: remove slot deprecated syntax
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
Due: yarn eslint --fix, yarn stylelint

refactor: localstorage favorite refactoring
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  lib/constants.ts
  store/favorite.ts
Due: yarn eslint --fix, yarn stylelint

refactor: refactor FavoriteIcon
  components/UI/FavoriteIcon.stories.ts
  components/UI/FavoriteIcon.vue
Due: yarn eslint --fix, yarn stylelint

feat: details, remove Breadcrumb teritorio/vido-private#587
  components/Details/Breadcrumb.vue
  components/Details/Index.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename store action toggleFavoritesMode to setFavorites
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  store/favorite.ts
Due: yarn eslint --fix, yarn stylelint

feat: add favorite support on details pages
  README.md
  components/Details/Header.vue
  components/Details/Index.vue
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

fix: review AddressField code
  components/Fields/AddressField.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove dead faIcon code
  components/MainMap/MapPoiToast.vue
  components/Search/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

feat: support slot in storybook
  lib/storybook-types.ts
Due: yarn eslint --fix

fix: simplify plugins/settings.ts
  plugins/settings.ts
Due: yarn eslint --fix

feat: replace sptag by propertyTranslations
  components/MainMap/MapPoiToast.vue
  lib/apiPropertyTranslations.ts
  nuxt.config.js
  pages/index.vue
  plugins/property-translations.ts
Due: yarn eslint --fix, yarn stylelint

refactor: clean POI typing in MapPoiToast
  components/MainMap/MapPoiToast.vue
  lib/apiPois.ts
Due: yarn eslint --fix, yarn stylelint

refactor: clean not used props in SnackBar
  components/MainMap/SnackBar.vue
Due: yarn eslint --fix, yarn stylelint

feat: add route info into detail page
  components/Details/Index.vue
  locales/en.js
  locales/es.js
  locales/fr.js
  pages/poi/_id/details.vue
Due: yarn eslint --fix, yarn stylelint

refactor: better fetch API error handeling
  components/Home/Home.vue
  components/MainMap/MapPoiToast.vue
  components/MainMap/NavMenu.vue
  lib/apiMenu.ts
  lib/apiPois.ts
  lib/apiSettings.ts
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: set gobal data page in created
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactoring route field
  components/Fields/RouteField.vue
  components/Fields/RoutesField.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: catch exception from fetch
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: review pop completion after clic on map
  components/MainMap/MapFeatures.vue
  components/MainMap/MapPoiToast.vue
  lib/apiPois.ts
  lib/mapPois.ts
Due: yarn eslint --fix, yarn stylelint

fix: disable nuxt loading bar
  nuxt.config.js
Due: yarn eslint --fix

refactor: distinguish MapPoi and ApiPoi
  components/MainMap/MapFeatures.vue
  components/MainMap/MapPoiToast.vue
  lib/apiPois.ts
  lib/mapPois.ts
  lib/markerLayerFactory.ts
  store/map.ts
Due: yarn eslint --fix, yarn stylelint

refactor: details block
  components/Details/Block.vue
  components/Details/Contact.vue
Due: yarn eslint --fix, yarn stylelint

refactor: i18n units & route difficulties
  components/Fields/RouteField.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

refactor: fetch nav menu content on SSR
  components/Details/Header.vue
  components/Details/Index.vue
  components/Home/Home.vue
  components/MainMap/NavMenu.vue
  lib/apiContent.ts
  pages/index.vue
  pages/poi/_id/details.vue
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

feat: use fa icons for Details Blocks
  components/Details/Block.vue
  components/Details/Contact.vue
  components/Details/Download.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

feat: route details
  components/Details/Index.vue
  components/Fields/RouteField.vue
  components/Fields/RoutesField.vue
  components/MainMap/MapPoiToast.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

feat: from Details, download GPX
  components/Details/Download.vue
  components/Details/Index.vue
  locales/en.js
  locales/es.js
  locales/fr.js
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

refactor: use context in OpeningHours
  components/Details/Index.vue
  components/Fields/OpeningHours.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

chore: update stylelint
  package.json
  yarn.lock
Due: none

fix: lint vue code
  .eslintrc.js
  components/Categories/CategoryList/CategoryListItem.vue
Due: yarn eslint --fix, yarn stylelint

feat: add tracking cookies consent teritorio/vido-private#418
  components/Details/Footer.vue
  components/Home/Home.vue
  components/UI/CookiesConsent.vue
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  locales/en.js
  locales/es.js
  locales/fr.js
  package.json
  plugins/tracking.ts
  utils/types-config.ts
  vidos.config.sample.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: clarify code of property-translations
  plugins/property-translations.ts
Due: yarn eslint --fix

feat: remove raster style teritorio/vido-private#751
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapControlsBackground.stories.ts
  lib/constants.ts
  utils/types-config.ts
  utils/types.ts
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

chore: package update minor verion
  package.json
  yarn.lock
Due: none

chore: update commit tools
  package.json
  yarn.lock
Due: none

chore: fix sass-loader version
  package.json
  yarn.lock
Due: none

chore: update fortawesome
  package.json
  yarn.lock
Due: none
