Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

fix: layout shift on PoisTable header #248
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

fix: layout shift on PoisTable header #249
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

feat: add hiddenIframe target for josm link #259
  components/Fields/ContribFieldGroup.vue
  composables/useContrib.ts
Due: yarn eslint --fix, yarn stylelint

deploy: 9137ff3640c03a0523c6a65b2456040ae3cd485c
  .nojekyll
Due: none

fix: reactivity issue on device #255
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

fix: autocomplete menu width and apply text ellipsis #258
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: handle error cases first on PoisTable headers computed #256
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.22.0
  package.json
Due: none

fix: remove duplicated import
  components/Fields/Stars.vue
Due: yarn eslint --fix, yarn stylelint

fix: check geometry before preparing feature #265
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove loading state on poistable #264
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

feat: add linkedin support to field component #268
  components/Fields/Field.vue
  components/Fields/LinkedIn.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

fix: unclickable scrollbar #254
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

feat: keep hidden sources while on contrib mode #272
  components/PoisList/CategorySelector.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: wrong marker position on zoom-in #183
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

chore: remove @nuxtjs/sentry Nuxt2 module #250
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

feat: add sentry support #250
  .env.sample
  nuxt.config.ts
  package.json
  plugins/sentry.ts
  yarn.lock
Due: yarn eslint --fix

Update .env.sample
  .env.sample
Due: none

Enable Sentry support (#276)
  .env.sample
  nuxt.config.ts
  package.json
  plugins/sentry.ts
  yarn.lock
Due: yarn eslint --fix

chore: center badge data #78
  components/Menu/Item.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.22.1
  package.json
Due: none

chore: disable selector-class-pattern rule #220
  components/PoisList/PoisTable.vue
  components/UI/CookiesConsent.vue
  stylelint.config.js
Due: yarn eslint --fix, yarn stylelint

chore: improve carousel controls visibility #220
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

feat: sort select filter options after translation #75
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

chore: add OSM link to details footer #280
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

feat: add GeoJSON lin support to contrib field group #280
  components/Fields/ContribFieldGroup.vue
  composables/useContrib.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
