Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

feat(DateRange): hide date range span when opening_hours is present
  components/Fields/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

feat(DateRange): display event session dates from opening_hours
  components/Fields/DateRange.vue
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

refactor(DateRange): assign props and inline render-key literal
  components/Fields/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

fix(menu): prevent left panel from blocking map clicks
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
Due: yarn eslint --fix, yarn stylelint

fix(fields): hide addr group when all address fields are absent
  utils/utilities.ts
Due: yarn eslint --fix

chore: v1.28.9
  package.json
Due: none

chore(deps): migrate opening_hours from fork to official package v3.15.0
  package.json
  yarn.lock
Due: none

chore(deps): migrate opening_hours from fork to official package v3.15.0 (#876)
  package.json
  yarn.lock
Due: none

fix(map): keep polygons visible when selecting an address
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

refactor(map): extract INTERNAL_TYPE_ADDRESS constant and reset deps on address select
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/PoisDetails/PoiDetails.vue
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

fix(map): keep polygons visible when selecting an address (#896)
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/PoisDetails/PoiDetails.vue
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

fix(articles): remove attributions from footer
  pages/articles/[slug].vue
Due: yarn eslint --fix, yarn stylelint

fix(articles): remove attributions from footer (#899)
  pages/articles/[slug].vue
Due: yarn eslint --fix, yarn stylelint

fix(articles): render article content server-side for SEO indexability
  package.json
  pages/articles/[slug].vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix(articles): replace :deep(body) with .article-content — selector was never matching
  pages/articles/[slug].vue
Due: yarn eslint --fix, yarn stylelint

fix(articles): remove redundant settings guard and fix article-content CSS selector
  pages/articles/[slug].vue
Due: yarn eslint --fix, yarn stylelint

fix(articles): render article content server-side for SEO indexability (#900)
  package.json
  pages/articles/[slug].vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: remove dead code lib/apiPoiDeps.ts
  lib/apiPoiDeps.ts
Due: yarn eslint --fix

chore: remove dead code lib/apiPoiDeps.ts (#902)
  lib/apiPoiDeps.ts
Due: yarn eslint --fix

chore: v1.28.10
  package.json
Due: none

feat(lisio): integrate LISIO accessibility & translation widget
  .env.sample
  nuxt.config.ts
  plugins/lisio.client.ts
Due: yarn eslint --fix
