Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

chore(refactor): apply script setup style to MapPois #482
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

feat: make bus line clickable #463
  components/MainMap/MapFeatures.vue
  lib/vectorTilesPois.ts
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

fix: missing border-radius on menu block #387
  components/Home/MenuBlock.vue
Due: yarn eslint --fix, yarn stylelint

feat: display selected feature deps #461
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  stores/map.ts
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

feat: handle waypoint click #461
  components/MainMap/MapFeatures.vue
  lib/apiPoiDeps.ts
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: missing poi markers in selected categories on poi selection #494
  stores/menu.ts
Due: yarn eslint --fix

chore: update to maplibre v5.1.0 #494
  package.json
  yarn.lock
Due: none

fix: race condition between mode switching #496
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: PoiCardLight images overlapping container #474
  components/PoisCard/PoiCardLight.vue
  components/PoisCard/PoisDeck.vue
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.24.2
  package.json
Due: none

chore: rename siteStore to useSiteStore #462
  components/Fields/Field.vue
  components/Fields/OpeningHours.test.js
  components/Fields/OpeningHours.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Layout/Header.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  components/UI/RelativeDate.vue
  components/UI/ShareLinkModal.vue
  composables/useContrib.ts
  composables/useField.ts
  composables/useIsochrone.ts
  layouts/default.vue
  pages/articles/[slug].vue
  pages/category.vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

refactor: site store to composition api #462
  stores/site.ts
Due: yarn eslint --fix

feat: add article detail page #462
  components/Layout/PoiLayout.vue
  lib/apiArticle.ts
  pages/articles/[slug].vue
Due: yarn eslint --fix, yarn stylelint

chore: adapt article api call to elasa #462
  components/Home/Home.vue
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  components/MainMap/NavMenu.vue
  components/PoisDetails/PoiDetails.vue
  cypress/fixtures/APIFixture.ts
  layouts/default.vue
  lib/apiArticle.ts
  lib/apiContent.ts
  pages/category.vue
  pages/poi/[id]/details.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

chore: add client-side article html parsing #462
  lib/apiArticle.ts
  pages/articles/[slug].vue
Due: yarn eslint --fix, yarn stylelint

refactor: NavMenu to script setup style #462
  components/Home/Home.vue
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  components/MainMap/NavMenu.vue
  components/PoisDetails/PoiDetails.stories.ts
  components/PoisDetails/PoiDetails.story.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

refactor: header with script setup style #462
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  pages/articles/[slug].vue
  pages/category.vue
Due: yarn eslint --fix, yarn stylelint

chore: convert article api with useFetch #462
  components/Home/Home.vue
  components/MainMap/NavMenu.vue
  layouts/default.vue
  lib/apiArticle.ts
  pages/articles/[slug].vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

chore: improve article page styles #462
  pages/articles/[slug].vue
Due: yarn eslint --fix, yarn stylelint

feat: display line from poi deps #508
  components/MainMap/MapFeatures.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

refactor: map store to composition API style #508
  stores/map.ts
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
