Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

chore: update pinia for nuxt3
  package.json
  yarn.lock
Due: none

fix: fix PoisCard/Fields
  components/PoisCard/Fields.vue
Due: yarn eslint --fix, yarn stylelint

feat: replace vue-tailwind by vuetify
  components/Filters/DateRange.vue
  components/Filters/Select.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  nuxt.config.ts
  package.json
  plugins/vue-tailwind.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update pages param layout to Nuxt3
  pages/category/[id].vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace mapbox-gl-vue by @vladvesa/vue-maplibre-gl
  components/MainMap/MapControlsExplore.vue
  components/Map/Map.vue
  components/Map/MapControls.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

feat: port nuxt plugin to Nuxt3
  plugins/fontawesome.ts
  plugins/pinia-shared-state.ts
  plugins/property-translations.ts
  plugins/screen.ts
  plugins/settings.ts
  plugins/touch.ts
  plugins/tracking.ts
  plugins/vido-config.ts
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

chore: update tracker-matomo.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  plugins/tracking.ts
Due: yarn eslint --fix

chore: migrate ref to vue 3
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Share.vue
  components/Search/SearchInput.vue
  components/UI/Badge.vue
  package.json
Due: yarn eslint --fix, yarn stylelint

chore: update to nuxt@3
  .babelrc
  .yarn/plugins/@yarnpkg/plugin-compat.cjs
  .yarnrc.yml
  api/manifest.ts
  components/UI/NuxtPicture.vue
  nuxt.config.ts
  package.json
  tsconfig.json
  vue-shim.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update i18n
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.vue
  components/Fields/RoutesField.vue
  components/Filters/DateRange.vue
  components/Home/Embedded.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/PoisList/CategorySelector.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/UI/CookiesConsent.vue
  components/UI/FieldsHeader.vue
  components/UI/ShareLinkModal.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, remove v-on="$listeners"
  components/PoisCard/PoiCard.vue
  components/UI/IconButton.vue
  components/UI/UIButton.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in MapFeature on compo ref
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

chore: vue3 page fetch data on setup
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update country-flag-icons
  components/MainMap/NavMenu.vue
  components/UI/VFlag.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix vuetify usage
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  layouts/default.vue
  nuxt.config.ts
  package.json
  plugins/vuetify.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, use plugins
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove explicit node-fetch import
  lib/apiContent.ts
  lib/apiMenu.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
Due: yarn eslint --fix

chore: vue3 storybook
  .babelrc
  .storybook/main.ts
  lib/storybook-types.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix typing in components/Menu/Filter.vue
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

chore: update deps
  package.json
  yarn.lock
Due: none

chore: vue3, remove
  components/Home/Home.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 update layout
  layouts/default.vue
  layouts/error-layout.vue
Due: yarn eslint --fix, yarn stylelint

chore: update IconsBar to vue3
  components/UI/IconsBar.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in vue template
  components/Fields/RoutesField.vue
  pages/category/[id].vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 replace MetaInfo by MetaObject
  components/Home/Home.vue
  lib/apiSettings.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in vue template
  components/MainMap/MapControlsExplore.vue
  components/Map/MapControlsBackground.vue
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

chore: update @nuxt/image
  nuxt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

fix: transpile date-fns and lodash
  nuxt.config.ts
Due: yarn eslint --fix

chore: replace vue-agile by vuetify
  components/PoisDetails/Carousel.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update vue-screen
  package.json
  plugins/screen.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix header in vue3
  components/Home/Home.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix vue3 typing in vue template
  components/PoisDetails/PoiDetails.vue
  plugins/vido-config.ts
  tests/default.jest.ts
Due: yarn eslint --fix, yarn stylelint

chore: setup maplibre
  components/Map/Map.vue
  components/Map/MapControls.vue
  package.json
  pages/pois/[ids]/map.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: add vue-tsc
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: vue3, gtm
  nuxt.config.ts
  package.json
  plugins/tracking.ts
  yarn.lock
Due: yarn eslint --fix

chore: nuxt3 validate params
  pages/category/[id].vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, use plugin in template
  components/Fields/RoutesField.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  components/UI/CookiesConsent.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 router
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControlsBackground.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
  pages/category/[id].vue
  utils/url.ts
Due: yarn eslint --fix, yarn stylelint

chore: update sass-loader
  package.json
  yarn.lock
Due: none
