Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

ci: fix cypress
  .github/workflows/ci.yml
Due: none

docs: fix Readme
  README.md
Due: none

fix: remove double map style init
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update @nuxt/image
  nuxt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

chore: re-enable manifest, WPA
  api/manifest.ts
  nuxt.config.ts
  package.json
  server/middleware/manifest.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix GeolocateControl reponsive
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: partial fix of Filters/Select
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix header in vue3
  components/Home/Home.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

ci: fix histoire run
  .github/workflows/ci.yml
Due: none

fix: make CategorySelector working
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean nuxt.config.ts
  nuxt.config.ts
Due: yarn eslint --fix

fix: use fa in vuetify
  package.json
  plugins/vuetify.ts
  yarn.lock
Due: yarn eslint --fix

chore: update nuxt-image monkey patch
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

fix: add botton margin on image
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix Histoire mock
  utils/histoire-setup.js
Due: yarn eslint --fix

docs: refactoring README
  README.md
Due: none

fix: fix CategorySelector entry layout
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

test: fix short_description with Histoire
  __screenshots__/actual/Fields/Field/Description Details.png
  __screenshots__/actual/Fields/Field/Description Short.png
  __screenshots__/actual/Fields/Field/Description.png
  __screenshots__/actual/Home/Menu/Default.png
  __screenshots__/actual/PoisCard/Fields/Many.png
  __screenshots__/actual/PoisDetails/FieldsGroup/Many.png
  components/Fields/Field.story.vue
Due: yarn eslint --fix, yarn stylelint

feat: support async load of map when page exposed
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix maplibre-gl build
  nuxt.config.ts
Due: yarn eslint --fix

ci: use artifact in place of gist to store histoire-screenshots
  .github/workflows/ci.yml
Due: none

fix: fix select filter values
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove svg support, has the project does not has svg file
  .lintstagedrc
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: notebook full height
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix range number
  __screenshots__/actual/Filters/NumberRange/Default.png
  components/Filters/NumberRange.story.vue
  components/Filters/NumberRange.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: console.error clean
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix overlay click
  components/MainMap/FavoritesOverlay.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing
  components/Map/Map.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

fix: rename server/middleware as server/routes
  cypress/support/commands.ts
  server/middleware/cypress_mock.ts
  server/routes/__cypress_set_mocks.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap-style.xsl.ts
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix

fix: fix goToSelectedFeature
  components/Home/HomeMixin.ts
Due: yarn eslint --fix

fix: fix docker build
  .dockerignore
  .gitignore
  docker-compose.yml
  package.json
Due: none

docs: add CONTRIBUTING
  CONTRIBUTING
Due: none

ci: fix how to run cypress on ci
  .github/workflows/ci.yml
  package.json
Due: none

test: build with env CYPRESS
  .github/workflows/ci.yml
  nuxt.config.ts
  plugins/tracking.ts
  server/routes/__cypress_set_mocks.ts
Due: yarn eslint --fix

fix: go to selected search result
  components/Home/Home.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

fix: position of SelectedCategories
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
Due: yarn eslint --fix, yarn stylelint

fix: make reactive
  components/Fields/Field.vue
  components/Fields/Phone.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  plugins/device.ts
Due: yarn eslint --fix, yarn stylelint

fix: lint css
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

fix: only check typescript on dev & build
  nuxt.config.ts
  package.json
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
