Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

fix: fix typing in index.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

feat: tracks detalis pages teritorio/vido-private#721
  README.md
  components/Details/Index.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix categories tracking
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/HeaderRootCategories.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove global maplibre css import
  components/Map/MapControls.vue
  nuxt.config.js
Due: yarn eslint --fix, yarn stylelint

feat: optimize flags imports
  components/MainMap/NavMenu.vue
Due: yarn eslint --fix, yarn stylelint

refactor: isolate large bundle chunck for opening_hours compo
  components/Details/Index.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename favoritesAction from store
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/MainMap.vue
  store/favorite.ts
Due: yarn eslint --fix, yarn stylelint

fix: removed dead data source in MainMap
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: fail safe search focus
  components/Search/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

refactor: split MainMap to MapFeatures
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

fix: add missing selected_by_default in type def
  components/MainMap/MapFeatures.stories.ts
  lib/apiMenu.ts
Due: yarn eslint --fix

refactor: move MapPoiToast to Home
  components/Home/Home.vue
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

feat: fitBound with adjusted padding teritorio/vido-private#673
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

refactor: simplify unselect feature
  components/MainMap/MainMap.vue
  store/map.ts
Due: yarn eslint --fix, yarn stylelint

refactor: merge MainMap into Home
  components/Home/Home.vue
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove dead code isMenuConfigLoaded
  components/Home/Home.vue
  store/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix and simplify exact marker position
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove context from state machine
  components/Categories/SubCategoryFilterHeader.vue
  components/Home/Home.machine.ts
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  store/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix fit bound on small screen
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix show poi from search
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix bottom menu size
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

feat: add docker
  .dockerignore
  Dockerfile
  docker-compose.yml
  package.json
Due: none

fix: fix background control label teritorio/vido-private#741
  components/Map/MapControlsBackground.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix sample config
  vidos.config.sample.ts
Due: yarn eslint --fix

fix: add props typing in FavoriteNoteBook
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

fix: use computed getter
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

feat: update no rotation on mobile
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: does not run popup open event from notebook teritorio/vido-private#742
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix popup button background teritorio/vido-private#743
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: better typing in types-filters.ts
  utils/types-filters.ts
Due: yarn eslint --fix

fix: fix filter usage teritorio/vido-private#744
  store/menu.ts
Due: yarn eslint --fix

fix: betting API id typing
  components/Search/SearchHeader.vue
  lib/apiPois.ts
  lib/apiSearch.ts
  utils/styles.ts
Due: yarn eslint --fix, yarn stylelint

fix: update date filter label nextWeek, nextMonth
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix

chore: release v1.16.0
  package.json
Due: none

feat: not fail safe missing host config
  plugins/vido-config.ts
Due: yarn eslint --fix

fix: fix This weekend filter date computation
  components/Filters/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

chore: release v1.16.1
  package.json
Due: none

fix: review and update opening_hours
  components/Fields/OpeningHours.vue
  lib/apiSettings.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix i18n fr typo
  locales/fr.js
Due: yarn eslint --fix

chore: release v1.16.2
  package.json
Due: none

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
