Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

test: fix with histoire
  components/Filters/DateRange.vue
  components/UI/UIPicture.vue
  utils/histoire-setup.js
Due: yarn eslint --fix, yarn stylelint

fix: fix build
  lib/bbox.ts
  nuxt.config.ts
Due: yarn eslint --fix

ci: fix histoire
  .github/workflows/ci.yml
  histoire.config.ts
  package.json
Due: yarn eslint --fix

fix: try to avoid vite screen clear
  nuxt.config.ts
Due: yarn eslint --fix

test: remove jest test
  .github/workflows/ci.yml
  README.md
  components/Fields/OpeningHours.test.js
  jest.config.ts
  nuxt.config.ts
  package.json
  public/tests
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

fix: recentre menu grip
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix css conflict on form fields
  assets/tailwind.scss
Due: none

ci: review how to run cypress
  .github/workflows/ci.yml
  package.json
Due: none

chore: replace VueCookieLaw by VueCookieAcceptDecline
  components/UI/CookiesConsent.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

docs: improve README
  README.md
  Vido-main-map.webp
  doc/build.sh
  doc/data-flow.dot
  doc/data-flow.svg
Due: none

fix: fix carousel image size
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove highlight on back button with focus
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Menu.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

feat: wrapped useAsyncData for better and early error detection, better typing
  lib/getAsyncData.ts
  lib/throwFetchError.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: hide error details field from vuetify
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

feat: load vidos config at runtime
  lib/config.ts
  nuxt.config.ts
  package.json
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vido-config.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
  stores/site.ts
  utils/vido-config-static.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix checkbox
  assets/tailwind.scss
Due: none

fix: fix notbook layout
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

test: fix a cypress test
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix

fix: fix alt text color on PoiCard
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix histoire test
  __screenshots__/actual/Filters/DateRange/Default.png
Due: none

fix: support missing optional poi
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix css menu shadow
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

ci: fix histoire
  .github/workflows/ci.yml
Due: none

fix: port Fields/Instagram to nuxt3
  __screenshots__/actual/Fields/Field/Instagram.png
  components/Fields/Field.story.vue
  components/Fields/Instagram.vue
Due: yarn eslint --fix, yarn stylelint

chore: update maplibre-gl to v3
  components/Map/Map.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix range number filter inclusive bounds #91
  utils/types-filters.ts
Due: yarn eslint --fix

fix: hide SelectedCategories in home on large screen #81
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix setting menu right alignement #82
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: handle flex header on long category selection
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

chore: update deps
  package.json
  yarn.lock
Due: none

fix: fix select filter #86
  __screenshots__/actual/Filters/Select/Default.png
  components/Filters/Select.story.vue
  components/Filters/Select.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

refactor: field phone own story
  components/Fields/Field.story.vue
  components/Fields/Phone.story.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix histoire i18n mock
  utils/histoire-setup.js
Due: yarn eslint --fix

fix: fix phone detection and phone number display #99
  __screenshots__/actual/Fields/Phone/Default - desktop.png
  __screenshots__/actual/Fields/Phone/Default - mobile.png
  components/Fields/Field.vue
  plugins/device.ts
Due: yarn eslint --fix, yarn stylelint

fix: transpile @fortawesome/vue-fontawesome #101
  nuxt.config.ts
Due: yarn eslint --fix

test: filed Phone render variants
  components/Fields/Phone.story.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix email icon
  __screenshots__/actual/Fields/Field/Default List Many.png
  __screenshots__/actual/Fields/Field/Default List One.png
  __screenshots__/actual/Fields/Field/Email.png
  components/Fields/Field.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

fix: clip detail page overfollw #83
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove usage of #app from plugin
  plugins/vido-config.ts
Due: yarn eslint --fix
