Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

chore(deps): update teritorio-cluster plugin #438
  package.json
  yarn.lock
Due: none

Wrong cursor over cluster (#429)
  components/Map/MapBase.vue
  lib/clusters.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

feat: create feature composable #413
  composables/useFeature.ts
Due: yarn eslint --fix

fix: set selected feature from search results #427
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: handle empty menu #430
  stores/menu.ts
Due: yarn eslint --fix

chore: remove track of pin marker #427
  components/MainMap/MapFeatures.vue
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

chore: map type too deep
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.24.0
  package.json
Due: none

feat: add isochrone remove button #422
  components/Home/Home.vue
  components/Isochrone/IsochroneStatus.vue
  components/PoisCard/PoiCardContent.vue
  composables/useIsochrone.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix: add isochrone removal button on embedded page #433
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

chore: use feature composable in components #413
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/PoiDetails.story.vue
  components/Search/Search.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: make persistent layers #421
  composables/useIsochrone.ts
Due: yarn eslint --fix

chore: update @teritorio/maplibre-gl-teritorio-cluster plugin
  package.json
  yarn.lock
Due: none

refactor: remove unused code #413
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix(analytics): init trackers on page reload #440
  plugins/tracking.ts
Due: yarn eslint --fix

fix: url IDs rules #442
  pages/embedded.vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
Due: yarn eslint --fix, yarn stylelint

Add new tracking events (#444)
  README.md
  components/Isochrone/IsochroneTrigger.vue
  components/Map/MapControlsBackground.vue
  components/PoisCard/PoiCardContent.vue
  composables/useIsochrone.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

chore: upgrade teritorio cluster plugin #442
  package.json
  yarn.lock
Due: none

refactor: simplify regex #442
  pages/embedded.vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index.vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
Due: yarn eslint --fix, yarn stylelint

chore: move regex to composable #442
  composables/useIdsResolver.ts
  pages/embedded.vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index.vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
Due: yarn eslint --fix, yarn stylelint

chore: add regex validation to whole pages #442
  pages/category/[id].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

Fix URL IDs rules (#446)
  composables/useIdsResolver.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore(rollback): add gpx / pdf background color #447
  components/Fields/Field.vue
  components/PoisDetails/Block.vue
Due: yarn eslint --fix, yarn stylelint

fix: make category ids acts as folder
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.24.1
  package.json
Due: none

fix: add address id type in regex #452
  composables/useIdsResolver.ts
Due: yarn eslint --fix

fix: don't fetch inital poi if address id #365
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: allow GTM usage without user cookie consent #465
  plugins/tracking.ts
Due: yarn eslint --fix

chore(docs): add test commands
  README.md
  package.json
Due: none

chore(docs): automated simple-git-hooks setup #470
  README.md
  package.json
Due: none

chore: add commitlint #470
  commitlint.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
