Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

chore: vue3, remove
  components/Home/Home.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

chore: packages update
  package.json
  yarn.lock
Due: none

refactor: merge Fields in FieldsGroup to break recursive import loop
  components/PoisDetails/Fields.stories.ts
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: keep share modal close by default
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

docs: fix Readme
  README.md
Due: none

fix: type FontAwesomeIcon size prop
  components/Home/Menu.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

fix: update tsconfig
  tsconfig.json
Due: none

fix: fix typing in OpeningHours.test.ts
  components/Fields/OpeningHours.test.ts
  package.json
  tests/default.jest.ts
  yarn.lock
Due: yarn eslint --fix

chore: add vue-tsc
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: update nuxt-image monkey patch
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

test: fix
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/support/mock.ts
Due: yarn eslint --fix

fix: use fa in vuetify
  package.json
  plugins/vuetify.ts
  yarn.lock
Due: yarn eslint --fix

fix: add emit typing
  .eslintrc.js
  components/Fields/Field.vue
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Menu.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/SnackBar.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Filter.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/CategorySelector.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename NuxtPicture to UIPicture
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean storybook results
  __screenshots__/actual/PoisDetails/Fields/Default Empty.png
  __screenshots__/actual/PoisDetails/Fields/Many.png
  __screenshots__/actual/PoisList/PoisTable/Default.png
  components/PoisCard/PoiCard.stories.ts
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisList/PoisTable.stories.ts
Due: yarn eslint --fix

fix: image size on Carousel
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix PoisDetail map size
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean nuxt config
  nuxt.config.ts
Due: yarn eslint --fix

chore: vue3, gtm
  nuxt.config.ts
  package.json
  plugins/tracking.ts
  yarn.lock
Due: yarn eslint --fix

chore: replace vue-agile by vuetify
  components/PoisDetails/Carousel.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 router
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControlsBackground.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
  pages/category/[id].vue
  utils/url.ts
Due: yarn eslint --fix, yarn stylelint

fix: make filter support pinia
  stores/menu.ts
  utils/types-filters.ts
Due: yarn eslint --fix

chore: nuxt3, use plugin in template
  components/Fields/RoutesField.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  components/UI/CookiesConsent.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix order of transition-group and client-only
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace storybook by histoire
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  README.md
  components/Fields/DateRange.story.vue
  components/Fields/Field.story.vue
  components/Fields/Stars.story.vue
  components/Filters/DateRange.story.vue
  components/Filters/NumberRange.story.vue
  components/Home/Menu.story.vue
  components/MainMap/MapFeatures.story.vue
  components/Map/Map.story.vue
  components/Map/MapBase.story.vue
  components/Map/MapControlsBackground.story.vue
  components/Map/MapPois.story.vue
  components/Menu/Category.story.vue
  components/Menu/Group.story.vue
  components/Menu/ItemList.story.vue
  components/Menu/Link.story.vue
  components/PoisCard/Fields.story.vue
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCardLight.story.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisDetails/FieldsGroup.story.vue
  components/PoisDetails/PoiDetails.story.vue
  components/PoisList/PoisTable.story.vue
  components/UI/FavoriteIcon.story.vue
  components/UI/IconButton.story.vue
  components/UI/TeritorioIcon.story.vue
  histoire.config.ts
  nuxt.config.ts
  package.json
  utils/histoire-plugin-screenshot.ts
  utils/histoire-setup.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update vue2-touch-events to vue3-touch-events
  package.json
  plugins/touch.ts
  yarn.lock
Due: yarn eslint --fix

chore: update country-flag-icons
  components/MainMap/NavMenu.vue
  components/UI/VFlag.vue
Due: yarn eslint --fix, yarn stylelint

chore: update deps
  package.json
  yarn.lock
Due: none

fix: fix Link compo usage
  components/Menu/ItemList.vue
Due: yarn eslint --fix, yarn stylelint

chore: reneable nuxt-image configuration
  nuxt.config.ts
  plugins/vido-config.ts
  utils/vido-config-static.ts
Due: yarn eslint --fix

fix: make tailwind works
  layouts/default.vue
  nuxt.config.ts
  package.json
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

ci: fix cypress
  .github/workflows/ci.yml
Due: none

chore: nuxt3 update layout
  layouts/default.vue
  layouts/error-layout.vue
Due: yarn eslint --fix, yarn stylelint

fix: review field headers
  components/Fields/Field.vue
  components/Fields/RoutesField.vue
  components/PoisDetails/FieldsGroup.vue
Due: yarn eslint --fix, yarn stylelint

chore: update vue-screen
  package.json
  plugins/screen.ts
  yarn.lock
Due: yarn eslint --fix

chore: update IconsBar to vue3
  components/UI/IconsBar.vue
Due: yarn eslint --fix, yarn stylelint

refactor: replace useRoute*() by this.route*
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControlsBackground.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove tailwind/vietify explicits
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/MainMap/FavoriteMenu.vue
  components/PoisDetails/Carousel.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix tailwind prefix
  components/Fields/RoutesField.vue
  components/Fields/Stars.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, rename static dir to public
  public/README.md
  public/api.yaml
  public/favicon.ico
  public/icon.png
  public/tests
Due: none

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
