Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

fix: fix detail image size on small screen #119
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix nev menu highlighted item on build #118
  components/MainMap/NavMenu.vue
Due: yarn eslint --fix, yarn stylelint

deploy: a10417cd001b21b834c0c1b2e814a3adf252ec9d
  __sandbox.html
  assets/GenericMountStory.vue2-5745c0f4.js
  assets/Menu.story-6ee20e56.js
  assets/PoiCard-bef2c0ca.js
  assets/PoiCard.story-ec202dcf.js
  assets/PoiCardLight-e4ba1341.js
  assets/PoiCardLight.story-17a40304.js
  assets/PoisDeck.story-49d19fe6.js
  assets/SearchPane.vue-00d86f34.js
  assets/UIPicture-43681163.js
  assets/bundle-main-c6cd7417.js
  assets/bundle-sandbox-dd77c18c.js
  assets/style-fb76890d.css
  index.html
Due: yarn eslint --fix, yarn stylelint

fix: fix empty poi card on addr search #114
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

fix: disable i18n lazy-loading for now, overload is still low #113
  nuxt.config.ts
Due: yarn eslint --fix

fix: fix interpage fetch cache #117
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

fix: ts code lint
  components/PoisDetails/FieldsGroup.stories.ts
  cypress/fixtures/teritorio/references/teritorioReferenceAPIFixture.ts
  plugins/property-translations.ts
Due: yarn eslint --fix

fix: fix linting
  .eslintrc.js
  package.json
Due: yarn eslint --fix

fix: lint ts code
  .eslintrc.js
  components/Fields/Stars.stories.ts
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MapFeatures.vue
  cypress/e2e/tracking.cy.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiSearch.ts
  lib/mapPois.ts
  lib/markerLayerFactory.ts
  lib/trackers.ts
  lib/vectorTilesPois.ts
  utils/styles.ts
  utils/types-filters.ts
Due: yarn eslint --fix, yarn stylelint

fix: lint, remove unused import
  components/Fields/AddressField.vue
  components/Fields/RoutesField.story.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/Home/Menu.vue
  components/Map/Map.vue
  components/PoisList/PoisList.vue
  components/Search/SearchResultBlock.vue
  lib/clusters.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix, yarn stylelint

fix: lint
  .eslintrc.js
  components/Home/Home.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  lib/storybook-types.ts
  plugins/fontawesome.ts
  server/routes/__cypress_set_mocks.ts
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

fix: support unknown category color in cluster #121
  lib/clusters.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

fix: fix index and detail page title #126
  pages/index.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

feat: add GOOGLE_SITE_VERIFICATION setting
  lib/apiSettings.ts
  pages/index.vue
  utils/types-config.ts
Due: yarn eslint --fix, yarn stylelint

fix: fetch favorites as points
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix when open in favorite mode
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix selected_by_default categories
  components/Home/HomeMixin.ts
Due: yarn eslint --fix

fix: does not fail to load categories on missing ones
  stores/menu.ts
Due: yarn eslint --fix

fix: use div in array field list
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix menu parent_id undef support
  components/Home/Menu.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix API data structure
  lib/apiContent.ts
  lib/apiMenu.ts
Due: yarn eslint --fix

fix: fix gtm
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  plugins/tracking.ts
Due: yarn eslint --fix

fix: update layout to have category selector updated on map size
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

fix-110: update category selector style
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.21.0
  package.json
Due: none

fix: fix and simplify CategorySelector menu entry sort
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

feat: poiCard detail button has poi color
  components/PoisCard/PoiCardContent.vue
  lib/colorDefiner.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix usage of data API
  components/PoisList/CategorySelector.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

feat: support wilcard hostname
  plugins/vido-config.ts
Due: yarn eslint --fix

fix: fix Readme layout
  README.md
Due: none

:sparkles: [feat-18] init css on print
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  pages/poi/[id]/details.vue
  tailwind.config.js
Due: yarn eslint --fix, yarn stylelint

fix: update print css style
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: update on small layout
  components/PoisDetails/PoiDetails.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: lint error
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

feat: css for print #18 (#63)
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  pages/poi/[id]/details.vue
  tailwind.config.js
Due: yarn eslint --fix, yarn stylelint
