Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

fix(table): fix getColKey round-trip for multi-segment field paths
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

refactor: tighten types and simplify getNestedPropertyValue
  components/PoisDetails/FieldsGroup.vue
  utils/property.ts
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

fix(fields): resolve flat property keys containing colons
  components/Fields/Field.stories.ts
  components/Fields/Field.story.vue
  components/Fields/Field.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/PoisCard/Fields.stories.ts
  components/PoisCard/Fields.story.vue
  components/PoisCard/Fields.vue
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsGroup.story.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/PoisTable.vue
  cypress/e2e/category/pois-list.cy.ts
  cypress/fixtures/teritorio/references/menu.json
  stores/menu.ts
  types/local/field.ts
  utils/property.ts
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

fix(fields): deduplicate Field.vue and fix multilingual intermediate unwrap
  components/Fields/Field.vue
  components/Fields/RoutesField.story.vue
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

fix: add zindex on loading overlay
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: use inline-flex for links to fix list marker alignment on Firefox mobile
  components/Fields/FieldLink.vue
  components/UI/ExternalLink.vue
Due: yarn eslint --fix, yarn stylelint

fix: make navigation drawer card-text scrollable on detail page
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.28.1
  package.json
Due: none

chore: update menu type with global filters #358
  types/api/menu.ts
Due: yarn eslint --fix

feat: implement global filters from menu groups #358
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/Menu/Filter.vue
  stores/menu.ts
  types/api/menu.ts
Due: yarn eslint --fix, yarn stylelint

feat: add collapsible and chips global filter components #358
  components/Home/Menu.vue
  components/Menu/GlobalFiltersChips.vue
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move global filters inside their menu_group block
  components/Home/Menu.vue
  components/Menu/GlobalFiltersChips.vue
Due: yarn eslint --fix, yarn stylelint

fix: scope inline-flex to list items only to fix Firefox marker alignment
  components/Fields/Field.vue
  components/Fields/FieldLink.vue
  components/UI/ExternalLink.vue
Due: yarn eslint --fix, yarn stylelint

chore: add CLAUDE.md to gitignore
  .gitignore
Due: none

refactor: extract POI deps processing into shared composable
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  composables/usePoiDeps.ts
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove optimistic UI to prevent poi card flicker between selections
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: prevent module-level defaultOptions mutation in apiPois
  lib/apiPois.ts
Due: yarn eslint --fix

fix: reset allFeatures and features on menu config change
  stores/menu.ts
Due: yarn eslint --fix

refactor: pass apiEndpoint as parameter to lib/apiPois functions
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/PoisList/Actions.vue
  lib/apiPois.ts
  pages/embedded.vue
  pages/index.vue
  stores/menu.ts
  stores/search.ts
Due: yarn eslint --fix, yarn stylelint

chore: upgrade nuxt, @pinia/nuxt, and pinia
  components/BreadcrumbsWrapper.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/Menu.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  composables/useHostDetection.ts
  lib/apiArticle.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  nuxt.config.ts
  package.json
  pages/embedded.vue
  pages/index.vue
  stores/favorite.ts
  stores/menu.ts
  stores/navigation.ts
  stores/search.ts
  tsconfig.json
  utils/url.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore(global-filters): move chevron to left Remove filter counter
  .gitignore
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

style(global-filters): add hover effect matching menu items
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

style(global-filters): match category filter button style
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
