Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: remove double map style init
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in components/Menu/Filter.vue
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

fix: keep share modal close by default
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix header in vue3
  components/Home/Home.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean storybook results
  __screenshots__/actual/PoisDetails/Fields/Default Empty.png
  __screenshots__/actual/PoisDetails/Fields/Many.png
  __screenshots__/actual/PoisList/PoisTable/Default.png
  components/PoisCard/PoiCard.stories.ts
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisList/PoisTable.stories.ts
Due: yarn eslint --fix

fix: clean nuxt.config.ts
  nuxt.config.ts
Due: yarn eslint --fix

chore: nuxt3, rename static dir to public
  public/README.md
  public/api.yaml
  public/favicon.ico
  public/icon.png
  public/tests
Due: none

chore: update i18n
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.vue
  components/Fields/RoutesField.vue
  components/Filters/DateRange.vue
  components/Home/Embedded.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/PoisList/CategorySelector.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/UI/CookiesConsent.vue
  components/UI/FieldsHeader.vue
  components/UI/ShareLinkModal.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix Link compo usage
  components/Menu/ItemList.vue
Due: yarn eslint --fix, yarn stylelint

test: cypress mock, replace nock by mws
  cypress/support/commands.ts
  cypress/support/mock.ts
  package.json
  server/middleware/cypress_mock.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix tailwind prefix
  components/Fields/RoutesField.vue
  components/Fields/Stars.vue
Due: yarn eslint --fix, yarn stylelint

test: fix
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/support/mock.ts
Due: yarn eslint --fix

fix: remove tailwind/vietify explicits
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/MainMap/FavoriteMenu.vue
  components/PoisDetails/Carousel.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: add botton margin on image
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

chore: update marker cluster to vue3
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

fix: transpile date-fns and lodash
  nuxt.config.ts
Due: yarn eslint --fix

chore: add vue-tsc
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: update nuxt-image monkey patch
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix PoisDetail map size
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename NuxtPicture to UIPicture
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 replace MetaInfo by MetaObject
  components/Home/Home.vue
  lib/apiSettings.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update pages param layout to Nuxt3
  pages/category/[id].vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: type FontAwesomeIcon size prop
  components/Home/Menu.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, remove v-on="$listeners"
  components/PoisCard/PoiCard.vue
  components/UI/IconButton.vue
  components/UI/UIButton.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace mapbox-gl-vue by @vladvesa/vue-maplibre-gl
  components/MainMap/MapControlsExplore.vue
  components/Map/Map.vue
  components/Map/MapControls.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: review field headers
  components/Fields/Field.vue
  components/Fields/RoutesField.vue
  components/PoisDetails/FieldsGroup.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace @vueform by vuetify
  components/Filters/NumberRange.vue
  lib/module_types/vueform__slider/index.d.ts
  nuxt.config.ts
  package.json
  tailwind.config.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: make CategorySelector working
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

chore: re-enable manifest, WPA
  api/manifest.ts
  nuxt.config.ts
  package.json
  server/middleware/manifest.ts
  yarn.lock
Due: yarn eslint --fix

fix: make filter support pinia
  stores/menu.ts
  utils/types-filters.ts
Due: yarn eslint --fix

fix: fix ayouts/default.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: explicit fontawesome compo usage
  components/Fields/Facebook.vue
  components/Fields/Field.vue
  components/Fields/Stars.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/Block.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/ExternalLink.vue
  components/UI/FavoriteIcon.vue
  components/UI/ShareLinkModal.vue
  components/UI/TeritorioIcon.vue
  components/UI/UIButton.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix typing
  components/Fields/RoutesField.vue
  components/Home/Home.vue
  components/Map/MapBase.story.vue
  components/Map/MapBase.vue
  components/Map/MapPois.story.vue
  components/PoisDetails/PoiDetails.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  lib/storybook-types.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  nuxt.config.ts
  plugins/pinia-shared-state.ts
  plugins/screen.ts
  plugins/settings.ts
  plugins/tracking.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix vuetify usage
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  layouts/default.vue
  nuxt.config.ts
  package.json
  plugins/vuetify.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in MapFeature on compo ref
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix vue3 typing in vue template
  components/PoisDetails/PoiDetails.vue
  plugins/vido-config.ts
  tests/default.jest.ts
Due: yarn eslint --fix, yarn stylelint

chore: update country-flag-icons
  components/MainMap/NavMenu.vue
  components/UI/VFlag.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in OpeningHours.test.ts
  components/Fields/OpeningHours.test.ts
  package.json
  tests/default.jest.ts
  yarn.lock
Due: yarn eslint --fix

fix: update tsconfig
  tsconfig.json
Due: none
