Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

fix: client-only hydration mismatch #354
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

refactor: use script setup style #327
  components/Home/ExplorerOrFavoritesBack.vue
Due: yarn eslint --fix, yarn stylelint

fix: exclude bin folder from typecheck
  tsconfig.json
Due: none

chore: deactivate long-text rule
  cypress.config.ts
  cypress/e2e/poi/detail-simple.cy.ts
  package.json
Due: yarn eslint --fix

feat: add uncluster plugin support #226
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  lib/clusters.ts
  lib/markerLayerFactory.ts
  package.json
  stores/map.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: marker ids on test #226
  cypress/e2e/embedded.cy.ts
  cypress/e2e/pois/map.cy.ts
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix

fix: type error #226
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update yarn to v4.4.1
  package.json
Due: none

Fix README for build-config with docker
  README.md
Due: none

chore: declare teritorio cluster on higher level #226
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

chore: increase cluster radius #226
  components/Map/MapBase.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

feat: add bbox or point support on detail page #374
  lib/apiPois.ts
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: wrong prop definition #379
  components/PoisCard/PoiCardLight.vue
Due: yarn eslint --fix, yarn stylelint

fix: add teritorio cluster on map pois #226
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

chore: apply script setup style on poicardcontent #359
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

chore: add isochrone feature flag from config #359
  cypress/fixtures/teritorio/references/settings.json
  lib/apiSettings.ts
Due: yarn eslint --fix

chore: add isochrone composable #359
  composables/useIsochrone.ts
Due: yarn eslint --fix

feat: add isochrone module #359
  components/Isochrone/IsochroneMapControl.vue
  components/Isochrone/IsochroneTrigger.vue
  components/PoisCard/PoiCardContent.vue
  pages/index.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

chore: add isochrone feature flag from config #359
  cypress/fixtures/teritorio/references/settings.json
  lib/apiSettings.ts
  utils/types-config.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix

feat: add isochrone module #359
  components/Isochrone/IsochroneMapControl.vue
  components/Isochrone/IsochroneTrigger.vue
  components/Map/MapBase.vue
  components/PoisCard/PoiCardContent.vue
  composables/useIsochrone.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
  pages/index.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

feat: add close button on desktop poi-card #390
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCard.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
  package.json
  stores/map.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: error handling #359
  components/Isochrone/IsochroneTrigger.vue
  composables/useIsochrone.ts
Due: yarn eslint --fix, yarn stylelint

fix: keep isochrone across style changing #359
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: isochrone removal on explore mode #359
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
