Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

refactor: refacto tailwind css import
  assets/tailwind.scss
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

chore: vue3 storybook
  .babelrc
  .storybook/main.ts
  lib/storybook-types.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix css conflict on form fields
  assets/tailwind.scss
Due: none

fix: fix checkbox
  assets/tailwind.scss
Due: none

feat: wrapped useAsyncData for better and early error detection, better typing
  lib/getAsyncData.ts
  lib/throwFetchError.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix Histoire mock
  utils/histoire-setup.js
Due: yarn eslint --fix

fix: position of SelectedCategories
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove svg support, has the project does not has svg file
  .lintstagedrc
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix goToSelectedFeature
  components/Home/HomeMixin.ts
Due: yarn eslint --fix

fix: rename server/middleware as server/routes
  cypress/support/commands.ts
  server/middleware/cypress_mock.ts
  server/routes/__cypress_set_mocks.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap-style.xsl.ts
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix

fix: only check typescript on dev & build
  nuxt.config.ts
  package.json
Due: yarn eslint --fix

test: remove jest test
  .github/workflows/ci.yml
  README.md
  components/Fields/OpeningHours.test.js
  jest.config.ts
  nuxt.config.ts
  package.json
  public/tests
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

test: fix a cypress test
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix

chore: nuxt3, use useAsyncData
  lib/throwFetchError.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

docs: add CONTRIBUTING
  CONTRIBUTING
Due: none

chore: replace VueCookieLaw by VueCookieAcceptDecline
  components/UI/CookiesConsent.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

ci: review how to run cypress
  .github/workflows/ci.yml
  package.json
Due: none

fix: fix notbook layout
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix docker build
  .dockerignore
  .gitignore
  docker-compose.yml
  package.json
Due: none

fix: fix typing
  components/Map/Map.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

ci: fix histoire
  .github/workflows/ci.yml
  histoire.config.ts
  package.json
Due: yarn eslint --fix

fix: fix carousel image size
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix histoire test
  __screenshots__/actual/Filters/DateRange/Default.png
Due: none

chore: nuxt3, reenable PWA
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: go to selected search result
  components/Home/Home.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

fix: console.error clean
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix range number
  __screenshots__/actual/Filters/NumberRange/Default.png
  components/Filters/NumberRange.story.vue
  components/Filters/NumberRange.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

feat: async import of maplibregl
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.vue
  lib/bbox.ts
  lib/markerLayerFactory.ts
  lib/vectorTilesPois.ts
  nuxt.config.ts
  package.json
  utils/styles.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

refactor: remove use*() to use this
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vido-config.ts
Due: yarn eslint --fix, yarn stylelint

test: fix cypress test
  components/Fields/Coordinates.vue
  components/MainMap/NavMenu.vue
  components/PoisDetails/FieldsGroup.vue
  components/UI/IconButton.vue
  cypress.config.ts
  cypress/e2e/home-content.cy.ts
Due: yarn eslint --fix, yarn stylelint

fix: hide error details field from vuetify
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: recentre menu grip
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix overlay click
  components/MainMap/FavoritesOverlay.vue
Due: yarn eslint --fix, yarn stylelint

docs: improve README
  README.md
  Vido-main-map.webp
  doc/build.sh
  doc/data-flow.dot
  doc/data-flow.svg
Due: yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

test: fix short_description with Histoire
  __screenshots__/actual/Fields/Field/Description Details.png
  __screenshots__/actual/Fields/Field/Description Short.png
  __screenshots__/actual/Fields/Field/Description.png
  __screenshots__/actual/Home/Menu/Default.png
  __screenshots__/actual/PoisCard/Fields/Many.png
  __screenshots__/actual/PoisDetails/FieldsGroup/Many.png
  components/Fields/Field.story.vue
Due: yarn eslint --fix, yarn stylelint

fix: notebook full height
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

fix: make reactive
  components/Fields/Field.vue
  components/Fields/Phone.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  plugins/device.ts
Due: yarn eslint --fix, yarn stylelint

docs: refactoring README
  README.md
Due: none

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
