Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

refactor: i18n toast -> poiCard
  components/Details/Index.vue
  components/Fields/Phone.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardFields.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

refactor: rename Details to PoisDetails
  components/PoisDetails/Block.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/Contact.vue
  components/PoisDetails/Download.vue
  components/PoisDetails/Footer.vue
  components/PoisDetails/Header.vue
  components/PoisDetails/Location.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisDetails/Route/WayPoint.vue
  components/PoisDetails/Share.vue
  locales/en.js
  locales/es.js
  locales/fr.js
  pages/poi/_id/_mode.vue
Due: yarn eslint --fix, yarn stylelint

fix: no more toast
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

feat: replace font Ubuntu by Ubuntu-Light teritorio/vido-private#665
  assets/details.scss
  assets/fonts/Ubuntu/LICENCE.txt
  assets/fonts/Ubuntu/README.txt
  assets/fonts/Ubuntu/Ubuntu-L.eot
  assets/fonts/Ubuntu/Ubuntu-L.otf
  assets/fonts/Ubuntu/Ubuntu-L.ttf
  assets/fonts/Ubuntu/Ubuntu-L.woff
  assets/fonts/Ubuntu/Ubuntu-Light.css
  assets/fonts/Ubuntu/copyright.txt
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: add missing default fields to details page
  components/PoisCard/PoiCardFields.vue
  components/PoisDetails/PoiDetailsFields.vue
Due: yarn eslint --fix, yarn stylelint

feat: support zone details page type teritorio/vido-private#757
  lib/apiPois.ts
  pages/poi/_id/_mode.vue
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move in field geo: links
  components/Details/Location.vue
  components/Fields/CoordinateAction.vue
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

fix: add missing npm module json-loader
  package.json
  yarn.lock
Due: none

feat: more generic popup/detail_fields list with sub group
  components/Fields/RouteField.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.vue
  components/MapPois.vue
  components/PoisCard/PoiCardFields.stories.ts
  components/PoisCard/PoiCardFields.vue
  components/PoisDetails/Block.vue
  components/PoisDetails/Contact.vue
  components/PoisDetails/Download.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/PoiDetailsFields.vue
  components/PoisDetails/PoiDetailsFieldsGroup.vue
  cypress/fixtures/teritorio/references/poi/2.geojson
  cypress/fixtures/teritorio/references/pois.json
  cypress/fixtures/teritorio/references/route/2.geojson
  lib/apiPois.ts
  lib/markerLayerFactory.ts
  lib/vectorTilesPois.ts
  pages/poi/_id/_mode.vue
Due: yarn eslint --fix, yarn stylelint

ci: build storybook on CI
  .github/workflows/ci.yml
  package.json
Due: none

ci: run parallel jobs
  .github/workflows/ci.yml
  yarn.lock
Due: none

ci: refactoring in install action
  .github/actions/install/action.yaml
  .github/workflows/ci.yml
  .github/workflows/deploy_dev.yml
Due: none

ci: chain deploy job
  .github/workflows/ci.yml
  .github/workflows/deploy_dev.yml
Due: none

ci: deploy Storybook to gh-pages
  .github/workflows/ci.yml
  README.md
Due: none

feat: support multi-host in config
  plugins/vido-config.ts
  utils/types-config.ts
  vidos.config.sample.ts
Due: yarn eslint --fix

fix: switch nuxt config to ts
  nuxt.config.ts
Due: yarn eslint --fix

fix: filter date-fns i18n (not working)
  nuxt.config.ts
Due: yarn eslint --fix

fix: fix fixture
  cypress/fixtures/teritorio/references/poi/1.geojson
  cypress/fixtures/teritorio/references/poi/2.geojson
  cypress/fixtures/teritorio/references/route/2.geojson
Due: none

fix: add interraction below menu
  components/MainMap/MainHeader.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: remove shadow on atribution in mobile
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix tracking on POI change
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

chore: release v1.17.1
  package.json
Due: none

feat: add image placeholder
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

teritorio/vido-private#797 fix: update filter management logic (teritorio/vido-private#804)
  plugins/vue-tailwind.ts
  store/menu.ts
Due: yarn eslint --fix

teritorio/vido-private#786 fix: add logo url to detail header (teritorio/vido-private#805)
  components/PoisDetails/Header.vue
Due: yarn eslint --fix, yarn stylelint

test: test tracking with cypress
  components/PoisDetails/FieldsGroup.vue
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix, yarn stylelint

refactor: rework field in popup and details
  .eslintrc.js
  components/PoisCard/Field.stories.ts
  components/PoisCard/Field.vue
  components/PoisCard/Fields.vue
  components/PoisCard/PoiCard.vue
  components/PoisDetails/Block.vue
  components/PoisDetails/Field.stories.ts
  components/PoisDetails/Field.vue
  components/PoisDetails/Fields.stories.ts
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsGroupCard.vue
  components/PoisDetails/FieldsHeader.vue
  components/PoisDetails/PoiDetails.vue
  cypress/fixtures/teritorio/references/poi/1.geojson
  cypress/fixtures/teritorio/references/pois.json
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: hide waypoints and pois on route details when empty
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix tracking on POI change
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

test: setup cypress tracking test
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/MapPois.vue
  components/PoisCard/PoiCard.vue
  cypress/e2e/mock.ts
  cypress/e2e/tracking.cy.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

fix: generic poi extract from route
  pages/poi/_id/_mode.vue
Due: yarn eslint --fix, yarn stylelint

feat: structure PoiDetails fields
  components/PoisCard/Fields.stories.ts
  components/PoisCard/Fields.vue
  components/PoisCard/PoiCard.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroupCard.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

feat: replace route details by more generic way
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  lib/apiPoiDeps.ts
  pages/poi/_id/details.vue
Due: yarn eslint --fix, yarn stylelint

refactor: extract display display from /Fields/OpeningHours.vue
  components/Fields/OpeningHours.vue
  components/UI/RelativeDate.vue
Due: yarn eslint --fix, yarn stylelint

feat: on details, show last OSM edit date
  components/PoisDetails/PoiDetails.vue
  lib/apiPois.ts
Due: yarn eslint --fix, yarn stylelint

feat: in details add osm object link teritorio/vido-private#771
  components/PoisDetails/PoiDetails.vue
  lib/apiPois.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix share details conditional
  components/PoisDetails/Share.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix detail field opening-hours
  components/PoisDetails/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: space in opening hours
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

fix: details block margin
  components/PoisDetails/Fields.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
