Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

fix: fix filter select typing
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

refactor: merge Fields in FieldsGroup to break recursive import loop
  components/PoisDetails/Fields.stories.ts
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, use useAsyncData
  lib/throwFetchError.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename NuxtPicture to UIPicture
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

chore: update vue2-touch-events to vue3-touch-events
  package.json
  plugins/touch.ts
  yarn.lock
Due: yarn eslint --fix

fix: explicit fontawesome compo usage
  components/Fields/Facebook.vue
  components/Fields/Field.vue
  components/Fields/Stars.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/Block.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/ExternalLink.vue
  components/UI/FavoriteIcon.vue
  components/UI/ShareLinkModal.vue
  components/UI/TeritorioIcon.vue
  components/UI/UIButton.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

fix: replace @cypress/mock-ssr with custom code
  nuxt.config.ts
  package.json
  server/middleware/cypress_mock.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix back to map from poi details
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix ayouts/default.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix key in Field
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

chore: update marker cluster to vue3
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

chore: replace storybook by histoire
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  README.md
  components/Fields/DateRange.story.vue
  components/Fields/Field.story.vue
  components/Fields/Stars.story.vue
  components/Filters/DateRange.story.vue
  components/Filters/NumberRange.story.vue
  components/Home/Menu.story.vue
  components/MainMap/MapFeatures.story.vue
  components/Map/Map.story.vue
  components/Map/MapBase.story.vue
  components/Map/MapControlsBackground.story.vue
  components/Map/MapPois.story.vue
  components/Menu/Category.story.vue
  components/Menu/Group.story.vue
  components/Menu/ItemList.story.vue
  components/Menu/Link.story.vue
  components/PoisCard/Fields.story.vue
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCardLight.story.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisDetails/FieldsGroup.story.vue
  components/PoisDetails/PoiDetails.story.vue
  components/PoisList/PoisTable.story.vue
  components/UI/FavoriteIcon.story.vue
  components/UI/IconButton.story.vue
  components/UI/TeritorioIcon.story.vue
  histoire.config.ts
  nuxt.config.ts
  package.json
  utils/histoire-plugin-screenshot.ts
  utils/histoire-setup.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

refactor: replace useI18n by 'this.'
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

feat: async import of maplibregl
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.vue
  lib/bbox.ts
  lib/markerLayerFactory.ts
  lib/vectorTilesPois.ts
  nuxt.config.ts
  package.json
  utils/styles.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: remove tailwind/vietify explicits
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/MainMap/FavoriteMenu.vue
  components/PoisDetails/Carousel.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix PoisDetail map size
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: typing, polygons_extra is optional
  lib/apiSettings.ts
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: update tsconfig
  tsconfig.json
Due: none

fix: keep share modal close by default
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix lint warning
  components/Fields/Stars.stories.ts
  components/Fields/Stars.story.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix tracking
  plugins/tracking.ts
Due: yarn eslint --fix

fix: review field headers
  components/Fields/Field.vue
  components/Fields/RoutesField.vue
  components/PoisDetails/FieldsGroup.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix CategorySelector content
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean storybook results
  __screenshots__/actual/PoisDetails/Fields/Default Empty.png
  __screenshots__/actual/PoisDetails/Fields/Many.png
  __screenshots__/actual/PoisList/PoisTable/Default.png
  components/PoisCard/PoiCard.stories.ts
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisList/PoisTable.stories.ts
Due: yarn eslint --fix

fix: fix with new css reset with vuetify
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/Menu/Category.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, reenable PWA
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix order of transition-group and client-only
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

chore: update IconsBar to vue3
  components/UI/IconsBar.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing
  components/Fields/RoutesField.vue
  components/Home/Home.vue
  components/Map/MapBase.story.vue
  components/Map/MapBase.vue
  components/Map/MapPois.story.vue
  components/PoisDetails/PoiDetails.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  lib/storybook-types.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  nuxt.config.ts
  plugins/pinia-shared-state.ts
  plugins/screen.ts
  plugins/settings.ts
  plugins/tracking.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in OpeningHours.test.ts
  components/Fields/OpeningHours.test.ts
  package.json
  tests/default.jest.ts
  yarn.lock
Due: yarn eslint --fix

fix: type FontAwesomeIcon size prop
  components/Home/Menu.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

fix: review NumberRange
  components/Filters/NumberRange.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean pages/poi/[id]/details.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

chore: enable vite-plugin-vuetify
  nuxt.config.ts
Due: yarn eslint --fix

fix: fix carousel config
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: review DateRange
  components/Filters/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move MapControls into Map
  components/Map/Map.vue
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean nuxt config
  nuxt.config.ts
Due: yarn eslint --fix

fix: fix MapControlsBackground images
  components/Map/MapControlsBackground.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
