Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

deploy: 2c94cd2ccfd18b058ed6ab90af421ef587fbf51b
  iframe.html
  main.2e9e2738.iframe.bundle.js
  main.2e9e2738.iframe.bundle.js.LICENSE.txt
  main.2e9e2738.iframe.bundle.js.map
  main.4462d307.iframe.bundle.js
  main.4462d307.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

feat: sotre vido config in sotre and reuse it on page change
  pages/category/index.vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
  store/site.ts
Due: yarn eslint --fix, yarn stylelint

refactor: refactoring, clean and improve sitemap
  lib/sitemap.ts
  nuxt.config.ts
Due: yarn eslint --fix

feat: store fetched data in store to allow fast reuse on page switch
  pages/category/index.vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
  store/menu.ts
  store/site.ts
Due: yarn eslint --fix, yarn stylelint

feat: use NuxtLink #24
  components/PoisCard/PoiCard.vue
  components/UI/IconButton.vue
Due: yarn eslint --fix, yarn stylelint

chore: update fortawesome
  package.json
  yarn.lock
Due: none

fix: cypress html vlaidation with conditionnal classes
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoisDeck.vue
Due: yarn eslint --fix, yarn stylelint

test: add favourites tests, validate html accessibility, remove duplicate classes
  components/Home/ExplorerOrFavoritesBack.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  cypress/e2e/favourites.cy.ts
  cypress/e2e/home-content.cy.ts
  cypress/e2e/tracking.cy.ts
  plugins/vue-tailwind.ts
Due: yarn eslint --fix, yarn stylelint

fix: simplify test and fix
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  cypress/e2e/favourites.cy.ts
Due: yarn eslint --fix, yarn stylelint

test: add favorites notebook cypress test #42
  .gitignore
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  cypress/e2e/favourites.cy.ts
  plugins/vue-tailwind.ts
  poi_explode.rb
Due: yarn eslint --fix, yarn stylelint

feat: move favorites menu to FavoriteNoteBook #42
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/UI/IconButton.vue
Due: yarn eslint --fix, yarn stylelint

test: fix Home/Menu/Default storybook
  components/Home/Menu.stories.ts
Due: yarn eslint --fix

test: fix storybook screenshots after Font Awesome update
  __screenshots__/actual/Fields/Field/Coordinates.png
  __screenshots__/actual/Fields/Field/Download.png
  __screenshots__/actual/Fields/Field/Email.png
  __screenshots__/actual/Fields/Field/Route Gpx Trace.png
  __screenshots__/actual/Fields/Field/Route Pdf.png
  __screenshots__/actual/Fields/Field/Website.png
  __screenshots__/actual/Menu/Group/Activities Large.png
  __screenshots__/actual/Menu/Group/Edge Cases.png
  __screenshots__/actual/Menu/Group/Large.png
  __screenshots__/actual/Menu/ItemList/Default.png
  __screenshots__/actual/Menu/ItemList/Large.png
  __screenshots__/actual/Menu/Link/Default.png
  __screenshots__/actual/Menu/Link/Large.png
  __screenshots__/actual/PoisCard/PoiCard/Default.png
  __screenshots__/actual/PoisCard/PoisDeck/Default.png
  __screenshots__/actual/PoisCard/PoisDeck/Light.png
  __screenshots__/actual/PoisDetails/PoiDetails/Default.png
Due: none

deploy: 68fb697d13ef7fded00ed1dfb67525d41ccdaa1b
  iframe.html
  main.005ab6f8.iframe.bundle.js
  main.005ab6f8.iframe.bundle.js.LICENSE.txt
  main.005ab6f8.iframe.bundle.js.map
  main.2e9e2738.iframe.bundle.js
  main.2e9e2738.iframe.bundle.js.map
  pages/category/index.582112d3.iframe.bundle.js
  pages/category/index.a67dcedf.iframe.bundle.js
  pages/embedded.9ea4d9d5.iframe.bundle.js
  pages/embedded.b68d8c26.iframe.bundle.js
  pages/index.5bd1a2d6.iframe.bundle.js
  pages/index.901051a2.iframe.bundle.js
  pages/poi/_id/details.d5df81c6.iframe.bundle.js
  pages/poi/_id/details.ff03271c.iframe.bundle.js
  pages/pois/_ids/map.1c87a45d.iframe.bundle.js
  pages/pois/_ids/map.2c0b60a3.iframe.bundle.js
  project.json
  runtime~main.094c945d.iframe.bundle.js
  runtime~main.a7561c73.iframe.bundle.js
  vendors~main.683604a3.iframe.bundle.js
  vendors~main.683604a3.iframe.bundle.js.map
  vendors~main.c35ec932.iframe.bundle.js
  vendors~main.c35ec932.iframe.bundle.js.LICENSE.txt
  vendors~main.c35ec932.iframe.bundle.js.map
Due: yarn eslint --fix

refactor: refactoring icons list into a compo
  __screenshots__/actual/PoisDetails/PoiDetails/Default.png
  components/MainMap/FavoriteNoteBook.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/UI/IconsBar.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix notebook tool design
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

feat: use history back from PoiDetail when possible to go to main map #24
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: scope CSS when possible
  components/MainMap/SnackBar.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Search/Search.vue
  pages/category/index.vue
  pages/poi/_id/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: short content of CategorySelector
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix select placeholder text color
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

fix: disable favorites on Embedded
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

feat: disable PoiCard image on Embedded
  components/Home/Embedded.vue
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove notebook concept from PoiCard
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoisDeck.vue
Due: yarn eslint --fix, yarn stylelint

refactor: split PoiCard from it content
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

refactor: extract close buttion from FavoriteNoteBook
  components/MainMap/FavoriteNoteBook.vue
  components/UI/ShareLinkModal.vue
  components/UI/UIButton.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

feat: make Embedded PoiCard reactive
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

test: fix PoiCard styorybook
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoisDeck.stories.ts
Due: yarn eslint --fix, yarn stylelint

test: fix map css
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 795d9aca3e895e2248f26b7ddf5a2913536eba1e
  iframe.html
  lang-en.js.4a7ed745.iframe.bundle.js
  lang-en.js.9d63c401.iframe.bundle.js
  lang-es.js.e3452477.iframe.bundle.js
  lang-es.js.efcd32f3.iframe.bundle.js
  lang-fr.js.20474ad9.iframe.bundle.js
  lang-fr.js.6691827f.iframe.bundle.js
  main.005ab6f8.iframe.bundle.js
  main.005ab6f8.iframe.bundle.js.map
  main.5df1eef2.iframe.bundle.js
  main.5df1eef2.iframe.bundle.js.LICENSE.txt
  main.5df1eef2.iframe.bundle.js.map
  pages/category/index.4be6e487.iframe.bundle.js
  pages/category/index.582112d3.iframe.bundle.js
  pages/embedded.0f0aa03a.iframe.bundle.js
  pages/embedded.9ea4d9d5.iframe.bundle.js
  pages/index.5bd1a2d6.iframe.bundle.js
  pages/index.f7815f7e.iframe.bundle.js
  pages/poi/_id/details.5416f6e3.iframe.bundle.js
  pages/poi/_id/details.ff03271c.iframe.bundle.js
  project.json
  runtime~main.a7561c73.iframe.bundle.js
  runtime~main.c9096573.iframe.bundle.js
  vendors~main.933cbc5f.iframe.bundle.js
  vendors~main.933cbc5f.iframe.bundle.js.LICENSE.txt
  vendors~main.933cbc5f.iframe.bundle.js.map
  vendors~main.c35ec932.iframe.bundle.js
  vendors~main.c35ec932.iframe.bundle.js.map
Due: yarn eslint --fix

test: fix PoisDeck
  components/PoisCard/PoisDeck.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 02f0a5c36cf7bc782f6d3b4f2ca25339ef0d1bdb
  iframe.html
  main.5df1eef2.iframe.bundle.js
  main.5df1eef2.iframe.bundle.js.map
  main.73321650.iframe.bundle.js
  main.73321650.iframe.bundle.js.LICENSE.txt
  main.73321650.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: does not fails with page error on missing poi on index
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix details 404 page
  pages/poi/_id/details.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 16c26b0777e27e4fcb224f5e896848d1bed573fa
  iframe.html
  main.73321650.iframe.bundle.js
  main.73321650.iframe.bundle.js.map
  main.f3da9d0a.iframe.bundle.js
  main.f3da9d0a.iframe.bundle.js.LICENSE.txt
  main.f3da9d0a.iframe.bundle.js.map
  pages/index.f7815f7e.iframe.bundle.js
  pages/index.f79876c9.iframe.bundle.js
  pages/poi/_id/details.5416f6e3.iframe.bundle.js
  pages/poi/_id/details.e5bfbb57.iframe.bundle.js
  project.json
  runtime~main.82fc97b6.iframe.bundle.js
  runtime~main.c9096573.iframe.bundle.js
Due: yarn eslint --fix

fix: fix relative link to details page from PoiCard
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

feat: enable cooperativeGestures on Embedded
  components/Home/Embedded.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

feat: from detail use link to main map with poi id
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

deploy: b79c41f55d7bacbbed8690b8c01bbd8e49978e6b
  iframe.html
  main.a507e2e3.iframe.bundle.js
  main.a507e2e3.iframe.bundle.js.LICENSE.txt
  main.a507e2e3.iframe.bundle.js.map
  main.f3da9d0a.iframe.bundle.js
  main.f3da9d0a.iframe.bundle.js.map
  pages/embedded.0f0aa03a.iframe.bundle.js
  pages/embedded.63cc551f.iframe.bundle.js
  project.json
  runtime~main.45298427.iframe.bundle.js
  runtime~main.82fc97b6.iframe.bundle.js
Due: yarn eslint --fix

feat: add minimal service worker to enable PWA #44
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix PoiCard detail url
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
