Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

chore: search style on mobile #577
  components/Home/Home.vue
  components/MainMap/NavMenu.vue
  components/MenuNavbar.vue
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

chore: styles improvements #577
  components/BreadcrumbsWrapper.vue
  components/Home/Menu.vue
  components/MenuNavbar.vue
Due: yarn eslint --fix, yarn stylelint

chore: apply script setup style on Search #577
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on SearchResultBlock #577
  components/Search/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

chore: invert search loader & clear icon #577
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move useSearch composable to store #577
  components/Home/Home.vue
  components/MenuNavbar.vue
  stores/search.ts
Due: yarn eslint --fix, yarn stylelint

refactor: create SearchResults components #577
  components/Search/Search.vue
  components/Search/SearchResults.vue
Due: yarn eslint --fix, yarn stylelint

chore: change close button style #577
  components/MenuNavbar.vue
Due: yarn eslint --fix, yarn stylelint

chore: update test script
  package.json
Due: none

fix: test layer presence before adding to map
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

fix: tracking test
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix

fix: bad settings urls + add teritorio logo internally
  assets/logo-teritorio.png
  components/Layout/Footer.vue
  cypress/fixtures/teritorio/references/settings.json
Due: yarn eslint --fix, yarn stylelint

chore: deactive cypress temporarly
  .github/workflows/ci.yml
Due: none

fix: missing fixtures in docker
  .dockerignore
  Dockerfile
Due: none

feat: add popup on poi click #503
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

feat(details): add poi popup on selection #503
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  components/PoisCard/PoiCardContent.vue
  components/UI/UIButton.vue
Due: yarn eslint --fix, yarn stylelint

fix: apply WCAG AAA tests #458
  components/Fields/Field.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/PoisTable.vue
  composables/useFeature.ts
  lib/apiMenu.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/mapPois.ts
Due: yarn eslint --fix, yarn stylelint

fix: lack of reactivity on colorFill / colorText #590
  components/BreadcrumbsWrapper.vue
  components/Fields/Field.vue
  components/Home/SelectedCategories.vue
  components/Isochrone/IsochroneStatus.vue
  components/MainMap/MapFeatures.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisTable.vue
  composables/useContrastedColors.ts
  composables/useFeature.ts
  lib/apiPois.ts
  lib/clusters.ts
  lib/vectorTilesPois.ts
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: wrong text color fallback value
  composables/useContrastedColors.ts
Due: yarn eslint --fix

fix: missing input was breaking tests #596
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

fix: change old url on tests #596
  assets/logo-teritorio.png
  components/Layout/Footer.vue
  components/UI/TeritorioIcon.stories.ts
  components/UI/TeritorioIcon.story.vue
  cypress/fixtures/teritorio/references/settings.json
Due: yarn eslint --fix, yarn stylelint

chore: add temporary color migration table for tests
  composables/useContrastedColors.ts
Due: yarn eslint --fix

chore: add cursor pointer hover breadcrumbs #602
  components/BreadcrumbsWrapper.vue
Due: yarn eslint --fix, yarn stylelint

feat: add watermak logo #606
  components/Home/Home.vue
  components/UI/Logo.vue
Due: yarn eslint --fix, yarn stylelint

feat: add tooltip on search button #602
  components/MenuNavbar.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
  stores/search.ts
Due: yarn eslint --fix, yarn stylelint

chore: apply search styles #602
  components/MenuNavbar.vue
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

feat: new PanoramaxViewer component #546
  components/PanoramaxViewer.client.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
  declarations.d.ts
  nuxt.config.ts
Due: yarn eslint --fix, yarn stylelint

chore: add panoramax #546
  package.json
  yarn.lock
Due: none

fix: hide menu on favorite or explore mode #608
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint
