Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

docs: refactoring README
  README.md
Due: none

fix: fix Histoire mock
  utils/histoire-setup.js
Due: yarn eslint --fix

ci: fix how to run cypress on ci
  .github/workflows/ci.yml
  package.json
Due: none

fix: console.error clean
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix maplibre-gl build
  nuxt.config.ts
Due: yarn eslint --fix

fix: fix typing
  components/Map/Map.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

deploy: d8e215aef2f25aecca004a7e4b98125cf9972c2e
  iframe.html
  main.af619d74.iframe.bundle.js
  main.af619d74.iframe.bundle.js.LICENSE.txt
  main.af619d74.iframe.bundle.js.map
  main.d5284f15.iframe.bundle.js
  main.d5284f15.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

feat: support field short_description
  README.md
  components/Fields/Field.stories.ts
  components/Fields/Field.vue
  components/PoisCard/Fields.stories.ts
  components/PoisDetails/Fields.stories.ts
  lib/apiPoiDeps.ts
  pages/embedded.vue
  pages/index.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

deploy: fcbade924fb63e181fab3634943b0385f0a33812
  iframe.html
  main.7890a2d6.iframe.bundle.js
  main.7890a2d6.iframe.bundle.js.LICENSE.txt
  main.7890a2d6.iframe.bundle.js.map
  main.af619d74.iframe.bundle.js
  main.af619d74.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

chore: v1.20.1
  package.json
Due: none

feat: replace vue-tailwind by vuetify
  components/Filters/DateRange.vue
  components/Filters/Select.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  nuxt.config.ts
  package.json
  plugins/vue-tailwind.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: migrate ref to vue 3
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Share.vue
  components/Search/SearchInput.vue
  components/UI/Badge.vue
  package.json
Due: yarn eslint --fix, yarn stylelint

chore: update i18n
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.vue
  components/Fields/RoutesField.vue
  components/Filters/DateRange.vue
  components/Home/Embedded.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/PoisList/CategorySelector.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/UI/CookiesConsent.vue
  components/UI/FieldsHeader.vue
  components/UI/ShareLinkModal.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update pages param layout to Nuxt3
  pages/category/[id].vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update pinia for nuxt3
  package.json
  yarn.lock
Due: none

feat: port nuxt plugin to Nuxt3
  plugins/fontawesome.ts
  plugins/pinia-shared-state.ts
  plugins/property-translations.ts
  plugins/screen.ts
  plugins/settings.ts
  plugins/touch.ts
  plugins/tracking.ts
  plugins/vido-config.ts
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

chore: replace mapbox-gl-vue by @vladvesa/vue-maplibre-gl
  components/MainMap/MapControlsExplore.vue
  components/Map/Map.vue
  components/Map/MapControls.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, use plugins
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update to nuxt@3
  .babelrc
  .yarn/plugins/@yarnpkg/plugin-compat.cjs
  .yarnrc.yml
  api/manifest.ts
  components/UI/NuxtPicture.vue
  nuxt.config.ts
  package.json
  tsconfig.json
  vue-shim.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix PoisCard/Fields
  components/PoisCard/Fields.vue
Due: yarn eslint --fix, yarn stylelint

chore: update tracker-matomo.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  plugins/tracking.ts
Due: yarn eslint --fix

fix: explicit fontawesome compo usage
  components/Fields/Facebook.vue
  components/Fields/Field.vue
  components/Fields/Stars.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/Block.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/ExternalLink.vue
  components/UI/FavoriteIcon.vue
  components/UI/ShareLinkModal.vue
  components/UI/TeritorioIcon.vue
  components/UI/UIButton.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

fix: add missing emits in MapBase
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

ci: fix cypress
  package.json
Due: none

fix: fix CategorySelector content
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix tracking
  plugins/tracking.ts
Due: yarn eslint --fix

fix: fix typing in vue template
  components/Fields/RoutesField.vue
  pages/category/[id].vue
Due: yarn eslint --fix, yarn stylelint

test: fix storybook typing
  components/Fields/Field.stories.ts
  components/Home/Menu.stories.ts
  components/MainMap/MapFeatures.stories.ts
  components/Menu/Category.stories.ts
  components/Menu/Category.vue
  components/Menu/Group.stories.ts
  components/Menu/Group.vue
  components/Menu/ItemList.stories.ts
  components/Menu/ItemList.vue
  components/Menu/Link.stories.ts
  components/Menu/Link.vue
  components/PoisCard/Fields.stories.ts
  components/PoisCard/PoisDeck.stories.ts
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/PoiDetails.stories.ts
  components/UI/IconButton.stories.ts
  cypress/fixtures/teritorio/references/settings.json
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, remove v-on="$listeners"
  components/PoisCard/PoiCard.vue
  components/UI/IconButton.vue
  components/UI/UIButton.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move MapControls into Map
  components/Map/Map.vue
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix lang tag on <html>
  lib/apiSettings.ts
Due: yarn eslint --fix

fix: typing, polygons_extra is optional
  lib/apiSettings.ts
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: make CategorySelector working
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing
  components/Fields/RoutesField.vue
  components/Home/Home.vue
  components/Map/MapBase.story.vue
  components/Map/MapBase.vue
  components/Map/MapPois.story.vue
  components/PoisDetails/PoiDetails.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  lib/storybook-types.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  nuxt.config.ts
  plugins/pinia-shared-state.ts
  plugins/screen.ts
  plugins/settings.ts
  plugins/tracking.ts
Due: yarn eslint --fix, yarn stylelint

chore: enable vite-plugin-vuetify
  nuxt.config.ts
Due: yarn eslint --fix

chore: replace nuxt/sitemap by nuxt-simple-sitemap
  .gitmodules
  README.md
  lib/sitemap.ts
  nuxt.config.ts
  package.json
  server/middleware/sitemap.ts
  yarn.lock
Due: yarn eslint --fix

fix: code lint
  .eslintrc.js
  components/Filters/NumberRange.vue
  components/Home/Menu.vue
  components/Menu/Filter.vue
  components/Menu/Item.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix plugins/screen
  plugins/screen.ts
Due: yarn eslint --fix
