Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

fix(menu): add mobile divider between root menu blocks
  components/Home/Menu.vue
  components/Menu/ItemList.vue
Due: yarn eslint --fix, yarn stylelint

fix(global-filters): add horizontal padding to prevent content clipping
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

fix(global-filters): hide ineligible categories when global filters are active
  stores/menu.ts
Due: yarn eslint --fix

chore: vv1.28.2
  package.json
Due: none

chore: v1.28.2
  package.json
Due: none

feat: include POI deps in /pois/<ids>/map page
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

feat: include POI deps in /pois/<ids>/map page (#793)
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update menu type with global filters #358
  types/api/menu.ts
Due: yarn eslint --fix

feat: implement global filters from menu groups #358
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/Menu/Filter.vue
  stores/menu.ts
  types/api/menu.ts
Due: yarn eslint --fix, yarn stylelint

chore(global-filters): move chevron to left Remove filter counter
  .gitignore
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move global filters inside their menu_group block
  components/Home/Menu.vue
  components/Menu/GlobalFiltersChips.vue
Due: yarn eslint --fix, yarn stylelint

style(global-filters): add hover effect matching menu items
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

feat: add collapsible and chips global filter components #358
  components/Home/Menu.vue
  components/Menu/GlobalFiltersChips.vue
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

style(global-filters): match category filter button style
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.28.3
  package.json
Due: none

fix(global-filters): hide ineligible categories and fix layout clipping
  stores/menu.ts
Due: yarn eslint --fix

fix(menu): add mobile divider between root menu blocks
  components/Home/Menu.vue
  components/Menu/Filter.vue
  components/Menu/ItemList.vue
Due: yarn eslint --fix, yarn stylelint

feat(global-filters): add types and store logic for menu group filters
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/Menu/Filter.vue
  stores/menu.ts
  types/api/menu.ts
Due: yarn eslint --fix, yarn stylelint

feat(global-filters): add collapsible filter UI component
  .gitignore
  components/Home/Menu.vue
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

fix(map): guard features watcher until style is loaded
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix(pages): add optional chaining for category name access
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix(poi-deps): skip captureMessage noise for waypoints
  composables/usePoiDeps.ts
Due: yarn eslint --fix

fix(poi-deps): skip unresolvable category instead of crashing SSR
  composables/usePoiDeps.ts
Due: yarn eslint --fix

fix(bbox): validate bbox output to prevent Invalid LngLat
  components/Home/Home.vue
  lib/bbox.ts
Due: yarn eslint --fix, yarn stylelint

fix(global-filters): keep root-level filters visible when navigating into nested groups
  components/Home/Menu.vue
Due: yarn eslint --fix, yarn stylelint

fix(global-filters): show only ancestor group filters on navigation
  components/Home/Menu.vue
Due: yarn eslint --fix, yarn stylelint

feat(seo): add structured data & SSR POI list for category and detail pages
  components/Home/Home.vue
  pages/index.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix(seo): add name to JSON-LD ItemList entries and cap at 100 items
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix(seo): address review feedback on structured data
  components/Home/Home.vue
  pages/index.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint
