Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

fix: incoherent poi track display #330
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove menu button on poi selected #328
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

feat: add close button on PoiCard #328
  components/Home/Home.vue
  components/PoisCard/PoiCard.vue
  components/UI/UIButton.vue
  cypress/e2e/favourites.cy.ts
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix, yarn stylelint

chore: v1.23.1
  package.json
Due: none

fix: wrong close button on PoiCard in Notebook #340
  components/Home/Home.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoisDeck.vue
Due: yarn eslint --fix, yarn stylelint

fix: client code executed on server #338
  components/Fields/Coordinates.vue
  components/Home/Home.vue
  components/PoisCard/PoiCardContent.vue
  lib/coordinates.ts
  utils/isIOS.ts
Due: yarn eslint --fix, yarn stylelint

chore: use setSelectedFeature store action #226
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move initialPoi logic on page level #338
  components/Home/Embedded.vue
  components/Home/Home.vue
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

refactor: isolate poi-card from poi-card-light #338
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

refactor: pois-card-light with script setup style #338
  components/PoisCard/PoiCardLight.vue
Due: yarn eslint --fix, yarn stylelint

refactor: poi-card display scenarios #338
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

refactor: simplify onBottomMenuButtonClick method #338
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

refactor: poi-card to script setup style #338
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

chore: create marker composable #338
  composables/useMarker.ts
  lib/clusters.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

refactor: delete method for direct event emit usage #338
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

refactor: map store state #338
  components/Home/ExplorerOrFavoritesBack.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

refactor: pass marker instance through click event callback #338
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

chore: v1.23.2
  package.json
Due: none

chore: update maplibre to v4.0.0 #343
  lib/markerLayerFactory.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: rollback debounce on updateSelectedFeature #345
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

refactor: maplibre styles #347
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

chore: update maplibre-gl to v4.5.0 #374
  package.json
  yarn.lock
Due: none

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
