Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

chore: add OSM link to details footer #280
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

feat: add GeoJSON lin support to contrib field group #280
  components/Fields/ContribFieldGroup.vue
  composables/useContrib.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

Switch to docker compose plugin
  .github/workflows/ci.yml
  README.md
Due: none

fix: carousel image ratio #127
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: Stars story #287
  components/Fields/Stars.story.vue
  components/Fields/Stars.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style to Home #222
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style to FavoriteMenu #222
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on FavoriteNoteBook #222
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style to PoisDeck #222
  components/PoisCard/PoisDeck.story.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

feat: install geohasing #222
  package.json
  yarn.lock
Due: none

chore: add reverse address api endpoint #222
  components/Search/Search.vue
  utils/types-config.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

feat: add favorite address support #222
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/PoiDetails.vue
  lib/apiPois.ts
  stores/favorite.ts
Due: yarn eslint --fix, yarn stylelint

chore: rename favorite store #222
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/PoiDetails.vue
  stores/favorite.ts
Due: yarn eslint --fix, yarn stylelint

fix: pinia-shared-state error #222
  package.json
  yarn.lock
Due: none

refactor: create utils for api address format #222
  components/Home/Home.vue
  components/Search/Search.vue
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

fix: avoid head meta and favicon flickering #291
  nuxt.config.ts
  public/favicon.ico
  public/icon.png
Due: yarn eslint --fix

chore: upgrade cypress v13 + github action v6 + use node 20 in CI
  .github/actions/install/action.yaml
  .github/workflows/ci.yml
  .nvmrc
  README.md
  docker-compose.yml
  package.json
  yarn.lock
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Upgrade cypress v13 + github action v6 + use node 20 in CI (#298)
  .github/actions/install/action.yaml
  .github/workflows/ci.yml
  .nvmrc
  README.md
  package.json
  yarn.lock
Due: none

chore: update nuxt to v3.3.0 #290
  package.json
  yarn.lock
Due: none

refactor: load config & settings from default layout #290
  layouts/default.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

chore: fix typings errors #290
  composables/useField.ts
  index.d.ts
  lib/getAsyncData.ts
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vuetify.ts
Due: yarn eslint --fix, yarn stylelint

fix: Unhead is missing Vue context error #290
  layouts/default.vue
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

chore: apply script setup style on Poi Details page #290
  lib/apiPoiDeps.ts
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

chore: apply script setup style to Pois map page #290
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: upgrade nuxt v3.4.0 #290
  .storybook/main.ts
  lib/config.ts
  package.json
  plugins/sentry.ts
  plugins/tracking.ts
  yarn.lock
Due: yarn eslint --fix

fix typing errors #290
  nuxt.config.ts
  pages/category/[id].vue
  pages/category/embedded/[id].vue
  pages/embedded/[p1]/[poiId].vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/touch.ts
Due: yarn eslint --fix, yarn stylelint
