Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

chore: vue3 page fetch data on setup
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

feat: replace vue-tailwind by vuetify
  components/Filters/DateRange.vue
  components/Filters/Select.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  nuxt.config.ts
  package.json
  plugins/vue-tailwind.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in components/Menu/Filter.vue
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix vuetify usage
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  layouts/default.vue
  nuxt.config.ts
  package.json
  plugins/vuetify.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: vue3, gtm
  nuxt.config.ts
  package.json
  plugins/tracking.ts
  yarn.lock
Due: yarn eslint --fix

chore: update pages param layout to Nuxt3
  pages/category/[id].vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace @vueform by vuetify
  components/Filters/NumberRange.vue
  lib/module_types/vueform__slider/index.d.ts
  nuxt.config.ts
  package.json
  tailwind.config.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: reneable nuxt-image configuration
  nuxt.config.ts
  plugins/vido-config.ts
  utils/vido-config-static.ts
Due: yarn eslint --fix

fix: force typing when required
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  components/Map/MapPois.story.vue
  components/Map/MapPois.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix run histoire from scratch
  package.json
Due: none

fix: fix lang tag on <html>
  lib/apiSettings.ts
Due: yarn eslint --fix

chore: setup maplibre
  components/Map/Map.vue
  components/Map/MapControls.vue
  package.json
  pages/pois/[ids]/map.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: code lint
  .eslintrc.js
  components/Filters/NumberRange.vue
  components/Home/Menu.vue
  components/Menu/Filter.vue
  components/Menu/Item.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove explicit node-fetch import
  lib/apiContent.ts
  lib/apiMenu.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
Due: yarn eslint --fix

fix: add missing emits in MapBase
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

test: fix jest config
  components/Fields/OpeningHours.test.ts
  jest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

test: fix 'some' issues with jest
  jest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

test: cypress mock, replace nock by mws
  cypress/support/commands.ts
  cypress/support/mock.ts
  package.json
  server/middleware/cypress_mock.ts
  yarn.lock
Due: yarn eslint --fix

test: fix
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/support/mock.ts
Due: yarn eslint --fix

refactor: refacto tailwind css import
  assets/tailwind.scss
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

test: fix storybook typing
  components/Fields/Field.stories.ts
  components/Home/Menu.stories.ts
  components/MainMap/MapFeatures.stories.ts
  components/Menu/Category.stories.ts
  components/Menu/Category.vue
  components/Menu/Group.stories.ts
  components/Menu/Group.vue
  components/Menu/ItemList.stories.ts
  components/Menu/ItemList.vue
  components/Menu/Link.stories.ts
  components/Menu/Link.vue
  components/PoisCard/Fields.stories.ts
  components/PoisCard/PoisDeck.stories.ts
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/PoiDetails.stories.ts
  components/UI/IconButton.stories.ts
  cypress/fixtures/teritorio/references/settings.json
Due: yarn eslint --fix, yarn stylelint

chore: packages update
  package.json
  yarn.lock
Due: none

chore: remove vue3 autoimport
  nuxt.config.ts
Due: yarn eslint --fix

fix: image size on Carousel
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace nuxt/sitemap by nuxt-simple-sitemap
  .gitmodules
  README.md
  lib/sitemap.ts
  nuxt.config.ts
  package.json
  server/middleware/sitemap.ts
  yarn.lock
Due: yarn eslint --fix

fix: add emit typing
  .eslintrc.js
  components/Fields/Field.vue
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Menu.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/SnackBar.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Filter.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/CategorySelector.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix Link compo usage
  components/Menu/ItemList.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix tailwind prefix
  components/Fields/RoutesField.vue
  components/Fields/Stars.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, rename static dir to public
  public/README.md
  public/api.yaml
  public/favicon.ico
  public/icon.png
  public/tests
Due: none

fix: fix hash ulr update
  utils/url.ts
Due: yarn eslint --fix

test: fix cypress test
  components/Fields/Coordinates.vue
  components/MainMap/NavMenu.vue
  components/PoisDetails/FieldsGroup.vue
  components/UI/IconButton.vue
  cypress.config.ts
  cypress/e2e/home-content.cy.ts
Due: yarn eslint --fix, yarn stylelint

chore: update vue-screen
  package.json
  plugins/screen.ts
  yarn.lock
Due: yarn eslint --fix

refactor: replace phone plugin by device, access from this.device
  components/Fields/Field.vue
  components/Fields/Phone.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  nuxt.config.ts
  plugins/device.ts
Due: yarn eslint --fix, yarn stylelint

fix: make tailwind works
  layouts/default.vue
  nuxt.config.ts
  package.json
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

refactor: remove use*() to use this
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vido-config.ts
Due: yarn eslint --fix, yarn stylelint

ci: fix cypress
  package.json
Due: none

refactor: replace useRoute*() by this.route*
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControlsBackground.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

fix: make filter support pinia
  stores/menu.ts
  utils/types-filters.ts
Due: yarn eslint --fix

fix: fix plugins/screen
  plugins/screen.ts
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
