Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: fix header in vue3
  components/Home/Home.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix MapControlsBackground images
  components/Map/MapControlsBackground.vue
Due: yarn eslint --fix, yarn stylelint

fix: add botton margin on image
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 replace MetaInfo by MetaObject
  components/Home/Home.vue
  lib/apiSettings.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: vue3 page fetch data on setup
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: re-enable manifest, WPA
  api/manifest.ts
  nuxt.config.ts
  package.json
  server/middleware/manifest.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix GeolocateControl reponsive
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: force typing when required
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  components/Map/MapPois.story.vue
  components/Map/MapPois.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

fix: clean pages/poi/[id]/details.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

chore: update @nuxt/image
  nuxt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

fix: review DateRange
  components/Filters/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace @vueform by vuetify
  components/Filters/NumberRange.vue
  lib/module_types/vueform__slider/index.d.ts
  nuxt.config.ts
  package.json
  tailwind.config.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

test: fix 'some' issues with jest
  jest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix carousel config
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 validate params
  pages/category/[id].vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update marker cluster to vue3
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

fix: remove double map style init
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix run histoire from scratch
  package.json
Due: none

fix: fix ayouts/default.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix back to map from poi details
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

chore: update sass-loader
  package.json
  yarn.lock
Due: none

fix: clean nuxt.config.ts
  nuxt.config.ts
Due: yarn eslint --fix

fix: replace @cypress/mock-ssr with custom code
  nuxt.config.ts
  package.json
  server/middleware/cypress_mock.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix lint warning
  components/Fields/Stars.stories.ts
  components/Fields/Stars.story.vue
Due: yarn eslint --fix, yarn stylelint

test: cypress mock, replace nock by mws
  cypress/support/commands.ts
  cypress/support/mock.ts
  package.json
  server/middleware/cypress_mock.ts
  yarn.lock
Due: yarn eslint --fix

chore: setup maplibre
  components/Map/Map.vue
  components/Map/MapControls.vue
  package.json
  pages/pois/[ids]/map.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: review NumberRange
  components/Filters/NumberRange.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix key in Field
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: partial fix of Filters/Select
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

test: fix jest config
  components/Fields/OpeningHours.test.ts
  jest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix vuetify usage
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  layouts/default.vue
  nuxt.config.ts
  package.json
  plugins/vuetify.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in components/Menu/Filter.vue
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove explicit node-fetch import
  lib/apiContent.ts
  lib/apiMenu.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
Due: yarn eslint --fix

fix: fix vue3 typing in vue template
  components/PoisDetails/PoiDetails.vue
  plugins/vido-config.ts
  tests/default.jest.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in vue template
  components/MainMap/MapControlsExplore.vue
  components/Map/MapControlsBackground.vue
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix with new css reset with vuetify
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/Menu/Category.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in MapFeature on compo ref
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

fix: transpile date-fns and lodash
  nuxt.config.ts
Due: yarn eslint --fix

fix: fix hash ulr update
  utils/url.ts
Due: yarn eslint --fix

fix: fix filter select typing
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint
