Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

feat: add inverse boundary polygon
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

deploy: a74fb66cd754041a6ec46331511fa3e8aefa94f7
  iframe.html
  main.6af0ff2f.iframe.bundle.js
  main.6af0ff2f.iframe.bundle.js.LICENSE.txt
  main.6af0ff2f.iframe.bundle.js.map
  main.e1ae6887.iframe.bundle.js
  main.e1ae6887.iframe.bundle.js.map
  pages/embedded.0ac125b3.iframe.bundle.js
  pages/embedded.5a11575d.iframe.bundle.js
  pages/index.393e2028.iframe.bundle.js
  pages/index.b1440477.iframe.bundle.js
  project.json
  runtime~main.5ad29f2d.iframe.bundle.js
  runtime~main.af745fcb.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

fix: remove empty middleware/
  middleware/README.md
Due: none

:sparkles: feat-65 center favorite badge
  components/MainMap/FavoriteMenu.vue
  components/UI/Badge.vue
Due: yarn eslint --fix, yarn stylelint

refactor: name local function like action
  components/Menu/Filter.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactoring pina explicit getters
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  pages/category/index.vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
  stores/map.ts
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

fix: remove console.error
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace vuex-shared-mutations by pinia-shared-state
  nuxt.config.ts
  package.json
  plugins/pinia-shared-state.ts
  plugins/vuex-shared-mutations.ts
  stores/favorite.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix typing
  components/Home/Home.vue
  components/Layout/Header.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/SnackBar.vue
  components/Map/Map.vue
  components/UI/RelativeDate.vue
Due: yarn eslint --fix, yarn stylelint

refactor: clean code in Home/Home
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

refactor: name local function like action
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

test: disable broken cypress test
  cypress/e2e/home-content.cy.ts
Due: yarn eslint --fix

fix: keep badge id on FavoriteMenu
  components/MainMap/FavoriteMenu.vue
  components/UI/Badge.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix default config load
  lib/config.ts
Due: yarn eslint --fix

fix: split mobile field from vector tiles
  lib/apiPois.ts
Due: yarn eslint --fix

deploy: ed842a3822573724b7256767ec47092d019e6c64
  iframe.html
  main.6b9e642f.iframe.bundle.js
  main.6b9e642f.iframe.bundle.js.LICENSE.txt
  main.6b9e642f.iframe.bundle.js.map
  main.b94afd6e.iframe.bundle.js
  main.b94afd6e.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

deploy: 78104433572e1701e44d523eaef33d581da0017d
  iframe.html
  main.527edb77.iframe.bundle.js
  main.527edb77.iframe.bundle.js.LICENSE.txt
  main.527edb77.iframe.bundle.js.map
  main.6b9e642f.iframe.bundle.js.map
  pages/index/_p1.6ea607c0.iframe.bundle.js
  pages/index/_p1.f01ed740.iframe.bundle.js
  pages/index/_p1/_poiId.6f125d19.iframe.bundle.js
  pages/index/_p1/_poiId.c28dace4.iframe.bundle.js
  pages/index/_p1/index.a61c0f33.iframe.bundle.js
  pages/index/_p1/index.c6031f97.iframe.bundle.js
  project.json
  runtime~main.064ea8ca.iframe.bundle.js
  runtime~main.7eb52637.iframe.bundle.js
  sw.js
  vendors~main.d6c9cfa4.iframe.bundle.js
  vendors~main.d6c9cfa4.iframe.bundle.js.LICENSE.txt
  vendors~main.d6c9cfa4.iframe.bundle.js.map
  vendors~main.de014895.iframe.bundle.js
  vendors~main.de014895.iframe.bundle.js.map
Due: yarn eslint --fix

fix: fix regretion on URL param validation
  pages/index/_p1.vue
  pages/index/_p1/_poiId.vue
  pages/index/_p1/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: add more logs on invalid HTTP request
  plugins/vido-config.ts
Due: yarn eslint --fix

deploy: e41ce5ddd0d1c965e37d8708af32179c23fd22ae
  iframe.html
  pages/index/_p1.2bfb161d.iframe.bundle.js
  pages/index/_p1.6ea607c0.iframe.bundle.js
  project.json
  runtime~main.00ee8cb4.iframe.bundle.js
  runtime~main.7eb52637.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

chore: v1.19.4
  package.json
Due: none

:sparkles: feat-65 center favorite badge in responsive
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

fix: update to new setting api layout
  components/Home/Embedded.vue
  components/Home/Home.vue
  cypress/fixtures/teritorio/references/settings.json
  lib/apiSettings.ts
Due: yarn eslint --fix, yarn stylelint

ci: set docker unless-stopped on dev server
  .github/workflows/ci.yml
Due: none

deploy: eba3b5b43ec29ee0bdcceaca27ad199b2c4c630f
  iframe.html
  main.527edb77.iframe.bundle.js
  main.527edb77.iframe.bundle.js.map
  main.c5bcac02.iframe.bundle.js
  main.c5bcac02.iframe.bundle.js.LICENSE.txt
  main.c5bcac02.iframe.bundle.js.map
  pages/embedded.dc4ccf3b.iframe.bundle.js
  pages/embedded.df455df7.iframe.bundle.js
  pages/index.42d5c80a.iframe.bundle.js
  pages/index.5ef9b77e.iframe.bundle.js
  project.json
  runtime~main.00ee8cb4.iframe.bundle.js
  runtime~main.260cdf76.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

:sparkles: feat-65 center favorite badge (#66)
  components/MainMap/FavoriteMenu.vue
  components/UI/Badge.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 3ee423eba9c7da28e21250bcf620129ed368db2f
  iframe.html
  pages/index.42d5c80a.iframe.bundle.js
  pages/index.5e573fe0.iframe.bundle.js
  project.json
  runtime~main.260cdf76.iframe.bundle.js
  runtime~main.e0faaf32.iframe.bundle.js
  sw.js
  vendors~main.120384b4.iframe.bundle.js
  vendors~main.120384b4.iframe.bundle.js.LICENSE.txt
  vendors~main.120384b4.iframe.bundle.js.map
  vendors~main.d6c9cfa4.iframe.bundle.js
  vendors~main.d6c9cfa4.iframe.bundle.js.map
Due: yarn eslint --fix

feat: support extra boundary polygon from param url
  README.md
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  lib/apiSettings.ts
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 19f896d14d3073aae813a4645294fd241bd8d2eb
  iframe.html
  main.c5bcac02.iframe.bundle.js
  main.c5bcac02.iframe.bundle.js.map
  main.ed316fb5.iframe.bundle.js
  main.ed316fb5.iframe.bundle.js.LICENSE.txt
  main.ed316fb5.iframe.bundle.js.map
  pages/embedded.95e43bae.iframe.bundle.js
  pages/embedded.df455df7.iframe.bundle.js
  pages/index.5e573fe0.iframe.bundle.js
  pages/index.b4422a70.iframe.bundle.js
  project.json
  runtime~main.b23dd8b5.iframe.bundle.js
  runtime~main.e0faaf32.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

feat: fit extra boundary poly on page load
  components/Home/Embedded.vue
  components/Home/Home.vue
  lib/bbox.ts
Due: yarn eslint --fix, yarn stylelint

deploy: e774e461c2928ce7bf7d09fa53bab96a44efdebc
  iframe.html
  main.78d67e2b.iframe.bundle.js
  main.78d67e2b.iframe.bundle.js.LICENSE.txt
  main.78d67e2b.iframe.bundle.js.map
  main.ed316fb5.iframe.bundle.js
  main.ed316fb5.iframe.bundle.js.map
  pages/embedded.399188f6.iframe.bundle.js
  pages/embedded.95e43bae.iframe.bundle.js
  pages/index.354e87a6.iframe.bundle.js
  pages/index.b4422a70.iframe.bundle.js
  project.json
  runtime~main.20e52b8d.iframe.bundle.js
  runtime~main.b23dd8b5.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

fix: add hidden h1
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

deploy: b523be8653786321cb469d2e3e0b1f56258e4986
  iframe.html
  pages/index.354e87a6.iframe.bundle.js
  pages/index.98e2d1d5.iframe.bundle.js
  project.json
  runtime~main.20e52b8d.iframe.bundle.js
  runtime~main.bfab710b.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

:bug: feat-57 correction tailwind alternative t-rich-select
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

:sparkles: [feat-57] update tailwind css
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

:sparkles: feat-57 update selected option colors
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
