Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

:sparkles: feat-57 update selected option colors
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

fix: alternative t rich select update #57
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

deploy: 4b22542e9edb167f76b387694fa1bf2c47f8f44c
  iframe.html
  main.49483192.iframe.bundle.js
  main.49483192.iframe.bundle.js.LICENSE.txt
  main.49483192.iframe.bundle.js.map
  main.78d67e2b.iframe.bundle.js
  main.78d67e2b.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

fix: make pinia-shared-state work #67
  nuxt.config.ts
  plugins/pinia-shared-state.ts
  stores/favorite.ts
Due: yarn eslint --fix

deploy: 83640fef651a2cd7993886c756b4595f5a3b1a57
  iframe.html
  main.49483192.iframe.bundle.js
  main.49483192.iframe.bundle.js.map
  main.b7db7f1f.iframe.bundle.js
  main.b7db7f1f.iframe.bundle.js.LICENSE.txt
  main.b7db7f1f.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

fix: fix search pannel double scroll #69
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 09af304259ba90d85176335d08e9ba3d86353921
  iframe.html
  main.4ab055df.iframe.bundle.js
  main.4ab055df.iframe.bundle.js.LICENSE.txt
  main.4ab055df.iframe.bundle.js.map
  main.b7db7f1f.iframe.bundle.js
  main.b7db7f1f.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

fix: remove self-closing tags
  components/Fields/AddressField.vue
  components/Fields/Coordinates.vue
  components/Fields/DateRange.vue
  components/Fields/RoutesField.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/Home/MenuBlockBottom.vue
  components/Layout/Header.vue
  components/Map/MapControls.vue
  components/Search/Search.vue
  components/UI/ExternalLink.vue
  components/UI/FieldsHeader.vue
  components/UI/IconButton.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix ts version to match vue
  tsconfig.json
Due: none

fix: use native type when possible
  components/Fields/DateRange.vue
  components/Fields/Facebook.vue
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.vue
  components/Fields/Website.vue
  components/Home/MenuBlock.vue
  components/Home/MenuBlockBottom.vue
  components/Layout/Footer.vue
  components/Layout/PoiLayout.vue
  components/Map/Attribution.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  components/PoisCard/Fields.vue
  components/PoisDetails/Block.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/ExternalLink.vue
  components/UI/FavoriteIcon.vue
  components/UI/IconButton.vue
  components/UI/Logo.vue
  components/UI/ShareLinkModal.vue
  components/UI/TeritorioIcon.vue
  components/UI/TeritorioIconBadge.vue
  components/UI/UIButton.vue
Due: yarn eslint --fix, yarn stylelint

fix: rename IconButton aria-label-prop
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/NavMenu.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/UI/IconButton.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing on menuItems
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/MapFeatures.vue
  components/PoisList/CategorySelector.vue
  components/PoisList/PoisList.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix Enum typing in MapFeatures
  components/MainMap/MapFeatures.vue
  lib/constants.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in components/Menu/Filter.vue
  components/Menu/Filter.vue
  lib/apiMenu.ts
Due: yarn eslint --fix, yarn stylelint

fix: remove vuex from test
  stores/README.md
  tests/default.jest.ts
Due: yarn eslint --fix

fix: fix typing
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 6da6f23a4aba50f302b167b1e09577665582ab0f
  iframe.html
  main.c5963312.iframe.bundle.js
  main.c5963312.iframe.bundle.js.map
  main.f4d33e45.iframe.bundle.js
  main.f4d33e45.iframe.bundle.js.LICENSE.txt
  main.f4d33e45.iframe.bundle.js.map
  pages/category/_id.3d5ca255.iframe.bundle.js
  pages/category/_id.423db6d8.iframe.bundle.js
  project.json
  runtime~main.5fb38284.iframe.bundle.js
  runtime~main.d6814ff9.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

fix: fix typing in vue template
  components/Filters/NumberRange.vue
  components/Home/SelectedCategories.vue
  components/Map/Map.vue
  components/PoisCard/Fields.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisTable.vue
  lib/apiPois.ts
Due: yarn eslint --fix, yarn stylelint

fix: force map resize on container size change
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: type exceptions
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: lint code
  components/MainMap/MapFeatures.vue
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in vue template
  components/Fields/DateRange.vue
  components/Fields/Field.vue
  components/Layout/PoiLayout.vue
  components/MainMap/MapFeatures.stories.ts
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in vue template
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/PoisList/PoisList.vue
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

refactor: mv pages/category/index.vue pages/category/_id.vue
  pages/category/_id.vue
  pages/category/index/_id.vue
Due: yarn eslint --fix, yarn stylelint

fix: ignore some typing
  components/Menu/Filter.vue
  components/PoisDetails/Carousel.vue
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

fix: ignore typing error
  plugins/pinia-shared-state.ts
Due: yarn eslint --fix

fix: remove dead code in PoiCardLight
  components/PoisCard/PoiCardLight.vue
Due: yarn eslint --fix, yarn stylelint

fix: add more type
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix PoisList typing
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix centre typing in components/Map/MapPois
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix FieldsListGroup typing
  lib/apiPois.ts
Due: yarn eslint --fix

fix: simplify style condition
  components/UI/FavoriteIcon.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.20.0
  package.json
Due: none

deploy: 71348f368cc68a8a358d7af76270dd24df17da87
  iframe.html
  main.87243027.iframe.bundle.js
  main.87243027.iframe.bundle.js.LICENSE.txt
  main.87243027.iframe.bundle.js.map
  main.f4d33e45.iframe.bundle.js
  main.f4d33e45.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

fix: translation of list field value
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 069829fac0c2037810f8fcd1dc0cd445cdc74a61
  iframe.html
  main.87243027.iframe.bundle.js
  main.87243027.iframe.bundle.js.map
  main.970ae676.iframe.bundle.js
  main.970ae676.iframe.bundle.js.LICENSE.txt
  main.970ae676.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

fix: scroll on embedded PoiCard
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

feat: support field short_description
  README.md
  components/Fields/Field.vue
  pages/embedded.vue
  pages/index.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint
