Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

ci: build and store docker image to github
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

chore: update cluster plugin
  package.json
  yarn.lock
Due: none

Ignore .github in docker
  .dockerignore
Due: none

fix: overflow image in poi detail page #474
  components/PoisCard/PoiCardLight.vue
Due: yarn eslint --fix, yarn stylelint

chore: update deprecated upload-artifact action #474
  .github/workflows/ci.yml
Due: none

refactor: set explorer mode feature flag in store #403
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisCard/PoisDeck.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

refactor: set explorer mode feature flag in store #403 (#405)
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisCard/PoisDeck.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

refactor: move event from prop to emit #404
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move event from prop to emit #404 (#406)
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

refactor: set explorer mode feature flag in store #403
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

refactor: set favorites mode feature flag in store #408
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  pages/embedded.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

chore: convention emit in template #408
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoisDeck.vue
Due: yarn eslint --fix, yarn stylelint

Set favorites mode feature flag in store (#409)
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  pages/embedded.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

chore: move property translations methods to site store #169
  stores/site.ts
Due: yarn eslint --fix

chore: remove property-translation plugin #169
  components/Fields/Field.stories.ts
  components/Fields/Field.story.vue
  components/Fields/Field.vue
  components/Fields/OpeningHours.test.js
  components/Fields/OpeningHours.vue
  components/Fields/RoutesField.story.vue
  components/Fields/RoutesField.vue
  components/PoisCard/Fields.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisTable.vue
  composables/useField.ts
  index.d.ts
  layouts/default.vue
  nuxt.config.ts
  plugins/property-translations.ts
  stores/site.ts
  utils/histoire-setup.js
Due: yarn eslint --fix, yarn stylelint

chore: cleanup nuxt config #372
  nuxt.config.ts
Due: yarn eslint --fix

feat: add feature color_fill into accepted cluster colors #457
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

chore: improve time and distance formatting #90
  composables/useField.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix

fix: execute init poi layer on feature watcher #480
  components/MainMap/MapFeatures.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: execute init poi layer on feature watcher #480
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: missing layers on map click #484
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

chore(docs): fix readme #484
  README.md
Due: none

fix: map pois map load sequence #484
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

chore(refactor): apply script setup style to MapBase and MapFeatures #482
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  lib/bbox.ts
Due: yarn eslint --fix, yarn stylelint

chore(refactor): apply script setup style to MapPois #482
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
