Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

chore: update ts and vue-tsc
  package.json
  yarn.lock
Due: none

fix: type is too deep
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

chore: format ci.yml
  .github/actions/install/action.yaml
  .github/workflows/ci.yml
Due: none

chore: apply eslint fix
  .storybook/main.ts
  __mocks__/file-mock.js
  components/Fields/DateRange.vue
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.story.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.stories.ts
  components/Menu/Filter.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisDetails/Carousel.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/Search/SearchResultBlock.vue
  components/UI/CookiesConsent.vue
  declarations.d.ts
  lib/apiPois.ts
  lib/bbox.ts
  lib/clusters.ts
  lib/trackers.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

chore: typecheck on dev mode
  eslint.config.js
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

feat: add lint-staged
  package.json
  yarn.lock
Due: none

chore: add .yarn into eslint ignore
  eslint.config.js
Due: yarn eslint --fix

chore: move nuxt to dev deps
  package.json
Due: none

chore: apply eslint fix
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCardLight.stories.ts
  cypress/support/e2e.ts
Due: yarn eslint --fix

chore: remove nuxt config watchers
  nuxt.config.ts
Due: yarn eslint --fix

chore: deactivate sitemap feature
  package.json
  server/routes/sitemap-style.xsl.ts
  server/routes/sitemap.xml.ts
  yarn.lock
Due: yarn eslint --fix

chore: update scripts + remove unused deps + remove husky
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

chore: setup stylelint
  .vscode/extensions.json
  package.json
  stylelint.config.js
  yarn.lock
Due: yarn eslint --fix

chore: add typecheck on build time
  nuxt.config.ts
Due: yarn eslint --fix

chore: set new eslint config + deactive lint-staged + remove commitlint
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .vscode/extensions.json
  bin/build-config.ts
  commitlint.config.js
  config/i18n.config.ts
  eslint.config.js
  nuxt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

chore: fix test typing
  cypress/e2e/category/pois-list.cy.ts
Due: yarn eslint --fix

chore: remove sentry
  .env.sample
  docker-compose.yml
  nuxt.config.ts
  package.json
  vidos-config-empty.json
  yarn.lock
Due: yarn eslint --fix

chore: apply manually eslint fix
  lib/trackers.ts
  pages/embedded/[p1].vue
  pages/index/[p1].vue
  plugins/property-translations.ts
  server/routes/__cypress_set_mocks.ts
  stores/menu.ts
  utils/histoire-plugin-screenshot.ts
  utils/url.ts
Due: yarn eslint --fix, yarn stylelint

chore: remove http-server dep
  package.json
  yarn.lock
Due: none

chore: add vue-matomo type support
  declarations.d.ts
  lib/tracker-matomo.ts
  utils/types-matomo.ts
Due: yarn eslint --fix

fix: create empty vidos-config.json file when postinstall
  package.json
Due: none

chore: fix lint issues
  components/Fields/RoutesField.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisList/PoisTable.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  utils/types-config.ts
Due: yarn eslint --fix, yarn stylelint

chore: fix event casing for eslint
  components/Home/Menu.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.vue
  components/Menu/Category.vue
  components/Menu/Filter.vue
  components/Menu/ItemList.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/CategorySelector.vue
  components/Search/SearchResultBlock.vue
  components/UI/UIPicture.vue
  components/UI/VFlag.vue
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/fixtures/teritorio/references/teritorioReferenceAPIFixture.ts
  cypress/support/commands.ts
  cypress/support/index.d.ts
  cypress/tsconfig.json
  lib/markerLayerFactory.ts
  lib/storybook-types.ts
  nuxt.config.ts
  plugins/pinia-shared-state.ts
  utils/types-filters.ts
Due: yarn eslint --fix, yarn stylelint

fix: cypress config CJS require
  cypress.config.ts
Due: yarn eslint --fix

chore: use .json file instead of .geojson
  components/Map/MapPois.stories.ts
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCardLight.stories.ts
  components/PoisCard/PoisDeck.stories.ts
Due: yarn eslint --fix

chore: apply lint
  lib/apiSettings.ts
  server/routes/manifest.webmanifest.ts
Due: yarn eslint --fix

chore: rollback console removal
  stores/menu.ts
Due: yarn eslint --fix

fix: test
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

chore: fix ts error
  components/MainMap/NavMenu.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisList/CategorySelector.vue
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/fixtures/teritorio/references/menu.json
  cypress/fixtures/teritorio/references/teritorioReferenceAPIFixture.ts
  lib/apiMenu.ts
  utils/styles.ts
  utils/types-config.ts
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

chore: apply stylelint fix
  .gitignore
  .vscode/extensions.json
  assets/details.scss
  components/Home/Home.vue
  components/Layout/Footer.vue
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  components/MainMap/FavoriteMenu.vue
  components/Map/Map.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/PoisList.vue
  components/UI/CookiesConsent.vue
  components/UI/IconsBar.vue
  nuxt.config.ts
  package.json
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  stylelint.config.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

feat: rollback nuxt-simple-sitemap integration
  eslint.config.js
  package.json
  server/routes/sitemap-style.xsl.ts
  server/routes/sitemap.xml.ts
  yarn.lock
Due: yarn eslint --fix

feat: add nuxt devtools
  nuxt.config.ts
Due: yarn eslint --fix

chore: fix eslint issue
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove babel deps
  package.json
  yarn.lock
Due: none

chore: remove prettier + fix config missing key
  .gitmodules
  .prettierrc
  package.json
  stylelint.config.js
  vidos-config-empty.json
  vidos.config.sample.ts
  yarn.lock
Due: yarn eslint --fix

fix: wrap overflow text in field_content
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove vidos.config.ts from dockerignore for type checking purpose #150
  .dockerignore
Due: none

chore: apply default yarn ignores #150
  .gitignore
Due: none

fix: add node version instead of docker image slug #150
  docker-compose.yml
Due: none

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
