Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

chore: remove autofocus from search on mobile
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

fix: blinking markers on feature unselection
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: wrong height calculation on native device #610
  components/MenuNavbar.vue
Due: yarn eslint --fix, yarn stylelint

fix: poi dependencies show scenario
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  pages/index.vue
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

fix: manage race-condition on feature selection
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: improve MenuNavbar positionning #616
  components/Home/Home.vue
  components/MenuNavbar.vue
Due: yarn eslint --fix, yarn stylelint

fix: popup height #632
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

fix: overlapping menu item labels
  components/Menu/Item.vue
  components/MenuNavbar.vue
Due: yarn eslint --fix, yarn stylelint

fix: zoom is blocking at middle transition
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: duplicated waypoints #629
  components/MainMap/MapFeatures.vue
  pages/index.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

Revert "chore: add panoramax #546"
  components/PanoramaxViewer.client.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
  declarations.d.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: v1.26.0
  package.json
Due: none

fix: wrong description format #635
  components/MainMap/MapFeatures.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: support ref ids #642
  components/MainMap/MapFeatures.vue
  composables/useIdsResolver.ts
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.26.1
  package.json
Due: none

fix: ensure color_text is picked when served by API #638
  composables/useContrastedColors.ts
Due: yarn eslint --fix

chore: apply script setup style on Phone #645
  components/Fields/Phone.vue
Due: yarn eslint --fix, yarn stylelint

fix: break word on Phone #645
  components/Fields/Phone.vue
Due: yarn eslint --fix, yarn stylelint

feat: add back panoramax #637
  components/Fields/Phone.vue
  components/PanoramaxViewer.vue
  components/PoisDetails/PoiDetails.vue
  declarations.d.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

feat: create custom error page #647
  error.vue
  layouts/error-layout.vue
  layouts/error.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix: add click on logo #649
  components/Home/Home.vue
  components/UI/Logo.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.26.2
  package.json
Due: none

ci: build docker for main and version
  .github/workflows/ci.yml
Due: none

fix: apply counter only on waypoint type #651
  components/MainMap/MapFeatures.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: apply counter only on waypoint type #651
  components/MainMap/MapFeatures.vue
  components/PoisDetails/Route/RouteMap.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove duplicated attributions #655
  components/Map/Map.vue
  utils/styles.ts
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

Optimize getContrastedColors
  composables/useContrastedColors.ts
Due: yarn eslint --fix

fix: missing gpx track on map
  components/MainMap/MapFeatures.vue
  lib/apiPoiDeps.ts
Due: yarn eslint --fix, yarn stylelint

chore: v1.26.3
  package.json
Due: none

Fix Docker warning
  docker-compose.yml
Due: none

Add Dockerfile to .dockerignore
  .dockerignore
Due: none

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
