Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

deploy: 57e06e74569898463b65a2c9fab963668051e5b3
  project.json
Due: none

feat: add @types/webpack
  nuxt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

fix: add missing @storybook/core-client
  package.json
  yarn.lock
Due: none

deploy: c8bf50f389c03de1d669cfef95b6cf6cb52e0f0d
  iframe.html
  main.2b6e41e3.iframe.bundle.js
  main.2b6e41e3.iframe.bundle.js.LICENSE.txt
  main.2b6e41e3.iframe.bundle.js.map
  main.fe27e101.iframe.bundle.js
  main.fe27e101.iframe.bundle.js.map
  project.json
  vendors~main.39558c98.iframe.bundle.js
  vendors~main.39558c98.iframe.bundle.js.map
  vendors~main.de880db5.iframe.bundle.js
  vendors~main.de880db5.iframe.bundle.js.LICENSE.txt
  vendors~main.de880db5.iframe.bundle.js.map
Due: yarn eslint --fix

fix: fix variable openinghours without month #40
  components/Fields/OpeningHours.test.ts
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

fix: prevent search form submit #36
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix PoiCard image resolution #37
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

fix: update Mapillary embeding
  components/PoisDetails/Mapillary.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.19.2
  package.json
Due: none

deploy: 7ce627497ad934c2a704d237f8fe014a5d2d0ab2
  iframe.html
  main.2b6e41e3.iframe.bundle.js
  main.2b6e41e3.iframe.bundle.js.map
  main.42269357.iframe.bundle.js
  main.42269357.iframe.bundle.js.LICENSE.txt
  main.42269357.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: make HTML main map more valid
  components/Home/Home.vue
  components/Map/MapControlsBackground.vue
  components/UI/Logo.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

test: add cypress-html-validate
  cypress.config.ts
  cypress/e2e/home-content.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/e2e/pois/map.cy.ts
  cypress/e2e/tracking.cy.ts
  cypress/support/e2e.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: target _black
  components/PoisDetails/Share.vue
Due: yarn eslint --fix, yarn stylelint

deploy: e259f8c99f66c81d8ec47f4f42a138625d887275
  iframe.html
  lang-en.js.9536dba9.iframe.bundle.js
  lang-en.js.d33514dd.iframe.bundle.js
  lang-es.js.7fa4058d.iframe.bundle.js
  lang-es.js.e91fc12d.iframe.bundle.js
  lang-fr.js.ad9adb74.iframe.bundle.js
  lang-fr.js.b3eeb16c.iframe.bundle.js
  main.356c5fc7.iframe.bundle.js
  main.356c5fc7.iframe.bundle.js.LICENSE.txt
  main.356c5fc7.iframe.bundle.js.map
  main.42269357.iframe.bundle.js
  main.42269357.iframe.bundle.js.map
  pages/index.356b5eca.iframe.bundle.js
  pages/index.e1f5b1aa.iframe.bundle.js
  project.json
  runtime~main.2b366508.iframe.bundle.js
  runtime~main.e7b91186.iframe.bundle.js
  vendors~main.7b55aa5e.iframe.bundle.js
  vendors~main.7b55aa5e.iframe.bundle.js.LICENSE.txt
  vendors~main.7b55aa5e.iframe.bundle.js.map
  vendors~main.de880db5.iframe.bundle.js
  vendors~main.de880db5.iframe.bundle.js.map
Due: yarn eslint --fix

fix: fields, swith from recursionLevel to recursionStack
  components/Fields/Field.vue
  components/Fields/RoutesField.vue
  components/PoisCard/Fields.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroup.vue
  components/UI/FieldsHeader.vue
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix html validation on main map
  __screenshots__/actual/PoisDetails/PoiDetails/Default.png
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/SnackBar.vue
  components/Menu/Category.vue
  components/Menu/Item.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/Search/SearchInput.vue
  components/UI/ShareLinkModal.vue
  cypress.config.ts
  cypress/e2e/tracking.cy.ts
  cypress/support/mock.ts
  locales/en.js
  locales/es.js
  locales/fr.js
  poi_explode.rb
Due: yarn eslint --fix, yarn stylelint

fix: fix html validation on detail pages
  components/Fields/Field.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Block.vue
  components/PoisDetails/Carousel.vue
  components/UI/Logo.vue
  components/UI/NuxtPicture.vue
  components/UI/TeritorioIconBadge.vue
  cypress.config.ts
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

deploy: b40fde0abaf327147042d3bd75c6a50a4ac2b4a2
  iframe.html
  main.356c5fc7.iframe.bundle.js
  main.356c5fc7.iframe.bundle.js.map
  main.8f051088.iframe.bundle.js
  main.8f051088.iframe.bundle.js.LICENSE.txt
  main.8f051088.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

:bug: add point-scroll-event in header
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

:bug: handle filter display bug
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

deploy: d2cc1e19dffb55bb065f87e1ab347c6bdcd0e26a
  iframe.html
  pages/index.0a1ea10e.iframe.bundle.js
  pages/index.e1f5b1aa.iframe.bundle.js
  project.json
  runtime~main.2b366508.iframe.bundle.js
  runtime~main.6ab09b71.iframe.bundle.js
  vendors~main.7b55aa5e.iframe.bundle.js
  vendors~main.7b55aa5e.iframe.bundle.js.map
  vendors~main.dedbba61.iframe.bundle.js
  vendors~main.dedbba61.iframe.bundle.js.LICENSE.txt
  vendors~main.dedbba61.iframe.bundle.js.map
Due: yarn eslint --fix

Update components/Menu/Filter.vue
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

teritorio/vido-private#855 handle filter display bug (#49)
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

deploy: cd76c7355a3f6c3738d02293f75547f474c36510
  iframe.html
  main.30ff02b7.iframe.bundle.js
  main.30ff02b7.iframe.bundle.js.LICENSE.txt
  main.30ff02b7.iframe.bundle.js.map
  main.8f051088.iframe.bundle.js
  main.8f051088.iframe.bundle.js.map
  pages/index.04733f8e.iframe.bundle.js
  pages/index.0a1ea10e.iframe.bundle.js
  project.json
  runtime~main.6ab09b71.iframe.bundle.js
  runtime~main.97e21d9e.iframe.bundle.js
Due: yarn eslint --fix

:sparkles: add full modal + handling website link with copy
  components/Home/Home.vue
  components/PoisCard/PoiCard.vue
  components/UI/LinkCopier.vue
  components/UI/ShareLinkModal.vue
  plugins/vue-tailwind.ts
Due: yarn eslint --fix, yarn stylelint

deploy: a2d6e00ed6753290044a7817c901ee878664eec1
  iframe.html
  main.30ff02b7.iframe.bundle.js
  main.30ff02b7.iframe.bundle.js.map
  main.b110fc4d.iframe.bundle.js
  main.b110fc4d.iframe.bundle.js.LICENSE.txt
  main.b110fc4d.iframe.bundle.js.map
  pages/index.04733f8e.iframe.bundle.js
  pages/index.0fa7c1da.iframe.bundle.js
  project.json
  runtime~main.830e3c02.iframe.bundle.js
  runtime~main.97e21d9e.iframe.bundle.js
  vendors~main.0da77188.iframe.bundle.js
  vendors~main.0da77188.iframe.bundle.js.LICENSE.txt
  vendors~main.0da77188.iframe.bundle.js.map
  vendors~main.dedbba61.iframe.bundle.js
  vendors~main.dedbba61.iframe.bundle.js.map
Due: yarn eslint --fix

fix: fix project setup
  .env.sample
  README.md
Due: none

deploy: bd818c1b679c4a7c426d05c0bae47839b4bd676a
  project.json
Due: none

:alien: add translation for button to clean categories
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix

:bug: scroll top on menu navigation in bottom menu
  components/Home/Home.vue
  components/Home/Menu.vue
Due: yarn eslint --fix, yarn stylelint

:bug: [fix-50] update style header and scroll on desktop
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 9363eac3e8d0cb5c1cb1bb0494ab76b5c3ff0809
  iframe.html
  main.b110fc4d.iframe.bundle.js
  main.b110fc4d.iframe.bundle.js.map
  main.cc6d9b73.iframe.bundle.js
  main.cc6d9b73.iframe.bundle.js.LICENSE.txt
  main.cc6d9b73.iframe.bundle.js.map
  pages/index.0fa7c1da.iframe.bundle.js
  pages/index.7700bd2e.iframe.bundle.js
  project.json
  runtime~main.830e3c02.iframe.bundle.js
  runtime~main.fc1bf693.iframe.bundle.js
  vendors~main.0da77188.iframe.bundle.js
  vendors~main.0da77188.iframe.bundle.js.map
  vendors~main.0e27a2bb.iframe.bundle.js
  vendors~main.0e27a2bb.iframe.bundle.js.LICENSE.txt
  vendors~main.0e27a2bb.iframe.bundle.js.map
Due: yarn eslint --fix

deploy: f302903a470345bbe4ae39dbd40016499d10bae8
  iframe.html
  main.2d5144ac.iframe.bundle.js
  main.2d5144ac.iframe.bundle.js.LICENSE.txt
  main.2d5144ac.iframe.bundle.js.map
  main.cc6d9b73.iframe.bundle.js
  main.cc6d9b73.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: fix cypress html validate
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 7c29822ce108cd15aeff2068bdde223af70c8c5a
  iframe.html
  main.186cc102.iframe.bundle.js
  main.186cc102.iframe.bundle.js.LICENSE.txt
  main.186cc102.iframe.bundle.js.map
  main.2d5144ac.iframe.bundle.js
  main.2d5144ac.iframe.bundle.js.map
  pages/index.7700bd2e.iframe.bundle.js
  pages/index.d9542415.iframe.bundle.js
  project.json
  runtime~main.1f9a5a18.iframe.bundle.js
  runtime~main.fc1bf693.iframe.bundle.js
  vendors~main.0e27a2bb.iframe.bundle.js
  vendors~main.0e27a2bb.iframe.bundle.js.map
  vendors~main.82e8ddd8.iframe.bundle.js
  vendors~main.82e8ddd8.iframe.bundle.js.LICENSE.txt
  vendors~main.82e8ddd8.iframe.bundle.js.map
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
