Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

chore: rollback PoiCard closing on map click #401
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

chore: upgrade cluster plugin #417
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: remove background-color on field #415
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

feat: create feature composable #413
  composables/useFeature.ts
Due: yarn eslint --fix

chore: use feature composable in components #413
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/PoiDetails.story.vue
  components/Search/Search.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove unused code #413
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: make persistent layers #421
  composables/useIsochrone.ts
Due: yarn eslint --fix

feat: add isochrone remove button #422
  components/Home/Home.vue
  components/Isochrone/IsochroneStatus.vue
  components/PoisCard/PoiCardContent.vue
  composables/useIsochrone.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix: wrong cursor over cluster #428
  components/Map/MapBase.vue
  lib/clusters.ts
Due: yarn eslint --fix, yarn stylelint

chore: remove unused function #428
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

Wrong cursor over cluster (#429)
  components/Map/MapBase.vue
  lib/clusters.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

chore: update @teritorio/maplibre-gl-teritorio-cluster plugin
  package.json
  yarn.lock
Due: none

feat: load config server side only
  plugins/init.server.ts
Due: yarn eslint --fix

fix: handle empty menu #430
  stores/menu.ts
Due: yarn eslint --fix

chore: remove track of pin marker #427
  components/MainMap/MapFeatures.vue
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

fix: set selected feature from search results #427
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: map type too deep
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: add isochrone removal button on embedded page #433
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.24.0
  package.json
Due: none

fix: leftovers from merge #435
  components/Fields/Stars.vue
  components/Home/Home.vue
  components/PoisCard/PoisDeck.vue
Due: yarn eslint --fix, yarn stylelint

chore(deps): update teritorio-cluster plugin #438
  package.json
  yarn.lock
Due: none

fix(analytics): init trackers on page reload #440
  plugins/tracking.ts
Due: yarn eslint --fix

feat(analytics): add isochrone trigger click event #443
  components/Isochrone/IsochroneTrigger.vue
  components/PoisCard/PoiCardContent.vue
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

feat(analytics): add background value to map_control_event #443
  components/Map/MapControlsBackground.vue
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

feat(analytics): add background value to map_control_event #443
  components/Map/MapControlsBackground.vue
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

chore: set human-readable profile labels + error handling #443
  components/Isochrone/IsochroneTrigger.vue
  composables/useIsochrone.ts
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

chore(docs): add new tracking options #443
  README.md
Due: none

Add new tracking events (#444)
  README.md
  components/Isochrone/IsochroneTrigger.vue
  components/Map/MapControlsBackground.vue
  components/PoisCard/PoiCardContent.vue
  composables/useIsochrone.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

fix: url IDs rules #442
  pages/embedded.vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
Due: yarn eslint --fix, yarn stylelint
