Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

fix: full height
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

teritorio/vido-private#473 fix: update text and colors (teritorio/vido-private#566)
  components/MainHeader.vue
  components/SearchHeader.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: update filter on search
  components/Home/Home.vue
  components/SearchHeader.vue
  components/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

fix: add mobile
  components/Home/Home.vue
  components/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

fix: display 24/7
  components/MapPoiToast.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: remove unused settings
  store/map.ts
Due: yarn eslint --fix

fix: add icon to adresses search results teritorio/vido-private#564
  components/SearchHeader.vue
  components/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

fix: search result icon teritorio/vido-private#572
  components/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

fix: get route activity label from sptags
  components/MapPoiToast.vue
  locales/en.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: on popup only show route details when route:* in popup_properties
  components/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

refactor: inject proxified tilejson in proxified style on server side
  .env.sample
  .github/workflows/deploy_dev.yml
  components/Map.vue
  nuxt.config.js
Due: yarn eslint --fix, yarn stylelint

refactor: style route layers now come from merge-proxy
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: update es i18n
  locales/es.js
Due: yarn eslint --fix

fix: use layout property visibility to mask route_tourism layers
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: slugify pagePath google traking
  package.json
  plugins/tracking.ts
  yarn.lock
Due: yarn eslint --fix

fix: traking send POIs category_ids
  components/MapPoiToast.vue
  plugins/tracking.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

chore: v1.14.0
  package.json
Due: none

fix: overpass the map state for the default bbox teritorio/vido-private#579
  components/Home/Home.vue
  components/Map.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.14.1
  package.json
Due: none

refactor: rename Map to MainMap
  components/BottomMenu.vue
  components/Home/Home.vue
  components/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove unused props dense
  components/MainMap.vue
  components/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: review ts validation after maplibre gl update
  components/Map.vue
  components/MapPoiToast.vue
  lib/bbox.ts
  lib/clusters.ts
  lib/markerLayerFactory.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix: remove dumb file
  Untitled-2.html
Due: none

build: upgrade to maplibre gl 2.0
  package.json
  yarn.lock
Due: none

refactor: use geojson type template
  utils/types.ts
Due: yarn eslint --fix

fix: better API poi fetch typing
  components/FavoriteMenu.vue
  components/Home/Home.vue
  components/Map.vue
  utils/api.ts
Due: yarn eslint --fix, yarn stylelint

fix: parallelise map styles fetches
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove custom sub type VidoMglStyle
  components/MainMap.vue
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix: remove explicit default enable map attribution
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean types definitions
  utils/types.ts
Due: yarn eslint --fix

fix: parallelise fetches on index init
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

refactor: use std fetch code layout
  store/menu.ts
Due: yarn eslint --fix

refactor: remove site info from stores
  components/Home/Home.vue
  components/Map.vue
  pages/index.vue
  store/map.ts
  store/site.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

refactor: move away favorites from map controls
  components/FavoriteMenu.vue
  components/MainMap.vue
  components/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

feat: add MapPoi compo
  components/MapPoi.vue
  lib/markerLayerFactory.ts
  pages/map/_id.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename mapnik -> raster, teritorio -> vector
  assets/raster.png
  assets/vector.png
  components/MainMap.vue
  components/Map/MapControlsBackground.vue
  lib/constants.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

refactor: move maplibre map away from MainMap
  components/MainMap.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

feat: change cursor to pointer over poi and cluster
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename MapStyle type to MapStyleEnum
  components/MainMap.vue
  lib/constants.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix: remove default css
  layouts/default.vue
  pages/index.vue
  pages/map/_id.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
