Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: fix goToSelectedFeature
  components/Home/HomeMixin.ts
Due: yarn eslint --fix

feat: async import of maplibregl
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.vue
  lib/bbox.ts
  lib/markerLayerFactory.ts
  lib/vectorTilesPois.ts
  nuxt.config.ts
  package.json
  utils/styles.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix histoire test
  __screenshots__/actual/Filters/DateRange/Default.png
Due: none

fix: fix checkbox
  assets/tailwind.scss
Due: none

fix: fix notbook layout
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix Histoire mock
  utils/histoire-setup.js
Due: yarn eslint --fix

feat: load vidos config at runtime
  lib/config.ts
  nuxt.config.ts
  package.json
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vido-config.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
  stores/site.ts
  utils/vido-config-static.ts
Due: yarn eslint --fix, yarn stylelint

refactor: replace useI18n by 'this.'
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

test: fix a cypress test
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix

feat: wrapped useAsyncData for better and early error detection, better typing
  lib/getAsyncData.ts
  lib/throwFetchError.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

ci: review how to run cypress
  .github/workflows/ci.yml
  package.json
Due: none

ci: fix cypress
  package.json
Due: none

fix: make reactive
  components/Fields/Field.vue
  components/Fields/Phone.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  plugins/device.ts
Due: yarn eslint --fix, yarn stylelint

ci: fix histoire run
  .github/workflows/ci.yml
Due: none

test: fix with histoire
  components/Filters/DateRange.vue
  components/UI/UIPicture.vue
  utils/histoire-setup.js
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, use useAsyncData
  lib/throwFetchError.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

ci: use artifact in place of gist to store histoire-screenshots
  .github/workflows/ci.yml
Due: none

fix: fix back to map from poi details
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix range number
  __screenshots__/actual/Filters/NumberRange/Default.png
  components/Filters/NumberRange.story.vue
  components/Filters/NumberRange.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove highlight on back button with focus
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Menu.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix CategorySelector entry layout
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove use*() to use this
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vido-config.ts
Due: yarn eslint --fix, yarn stylelint

fix: hide error details field from vuetify
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix css conflict on form fields
  assets/tailwind.scss
Due: none

fix: fix typing
  components/Map/Map.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

fix: position of SelectedCategories
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove svg support, has the project does not has svg file
  .lintstagedrc
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

docs: add CONTRIBUTING
  CONTRIBUTING
Due: none

test: build with env CYPRESS
  .github/workflows/ci.yml
  nuxt.config.ts
  plugins/tracking.ts
  server/routes/__cypress_set_mocks.ts
Due: yarn eslint --fix

chore: remove vue3 autoimport
  nuxt.config.ts
Due: yarn eslint --fix

ci: fix histoire
  .github/workflows/ci.yml
  histoire.config.ts
  package.json
Due: yarn eslint --fix

fix: support missing optional poi
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: lint css
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

test: remove jest test
  .github/workflows/ci.yml
  README.md
  components/Fields/OpeningHours.test.js
  jest.config.ts
  nuxt.config.ts
  package.json
  public/tests
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

fix: port Fields/Instagram to nuxt3
  __screenshots__/actual/Fields/Field/Instagram.png
  components/Fields/Field.story.vue
  components/Fields/Instagram.vue
Due: yarn eslint --fix, yarn stylelint

Fixed lunching issues
  .env.sample
  .nvmrc
  lib/bbox.ts
  nuxt.config.ts
  vidos.config.sample.ts
Due: yarn eslint --fix

Right aligned the main map menu with nav menu
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

Hid selected categories on mobile
  components/Home/SelectedCategories.vue
Due: yarn eslint --fix, yarn stylelint

Fixed horizontal scroll issue in main menu
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint
