Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: update dynamic url loading
  nuxt.config.js
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

feat: add css
  Untitled-2.html
  components/Map.vue
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: dynamic urls in general config
  Untitled-2.html
  nuxt.config.js
Due: yarn eslint --fix

fix: remove useless code
  components/Map.vue
  nuxt.config.js
Due: yarn eslint --fix, yarn stylelint

feat: correction nuxt.config
  nuxt.config.js
Due: yarn eslint --fix

feat: test favicon/title & aerial position
  components/MapControls.vue
  nuxt.config.js
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: url based on config / site1 chosen
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

feat: ready desktop
  components/FavoriteMenu.vue
  components/MapControls.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

feat: button mobile
  components/FavoriteMenu.vue
  components/Map.vue
  components/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: manage filters
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: correction popup
  components/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove blinking on favorite toggle
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: update source on styledata
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove no more required IGN_TOKEN
  .env.sample
  .github/workflows/deploy_dev.yml
  .github/workflows/deploy_prod.yml
  components/Map.vue
  nuxt.config.js
Due: yarn eslint --fix, yarn stylelint

fix: env sample
  .env.sample
Due: none

fix: remove TILES_TOKEN, should be part of the style/tile URL
  .env.sample
  .github/workflows/deploy_dev.yml
  .github/workflows/deploy_prod.yml
  nuxt.config.js
Due: yarn eslint --fix

refactor: simpliest style map init - avoid using non-proxy style
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

feat: use remote stellite hybrid style teritorio/vido-private#67
  .env.sample
  .github/workflows/deploy_dev.yml
  .github/workflows/deploy_prod.yml
  components/Map.vue
  nuxt.config.js
Due: yarn eslint --fix, yarn stylelint

feat: improve code
  components/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

feat: add text limit
  components/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: string to enum value
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: add missing function params typing
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: typing of selectFeature()/unselectFeature()
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: maboxgl ts
  components/Map.vue
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix: typing of initPoiLayer
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: typ ts in flattenFeatures()
  utils/utilities.ts
Due: yarn eslint --fix

fix: add this.map guard in handleResetMapZoom
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: cluster
  components/Map.vue
  lib/clusters.ts
Due: yarn eslint --fix, yarn stylelint

fix: better style fetch
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

feat: generate static content
  .github/workflows/deploy_dev.yml
  .github/workflows/deploy_prod.yml
  nuxt.config.js
Due: yarn eslint --fix

fix: make map actions more reactive teritorio/vido-private#264
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: click handler
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: markerLayerFactory typing
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

fix: naming
  components/Map.vue
  components/MapPoiToast.vue
  package.json
  utils/utilities.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: utilities type
  utils/utilities.ts
Due: yarn eslint --fix

fix: popup full of emptyness
  components/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: limit toast max-height based on screen height
  components/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: correction toast height
  components/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: no map move on poi select teritorio/vido-private#193
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: review how to zoom on cluster teritorio/vido-private#261
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint
