Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

feat: add contrib mode to list #142
  components/Fields/Field.vue
  pages/category/[id].vue
Due: yarn eslint --fix, yarn stylelint

refactor: contrib-mode middelware with utilities functions #142
  middleware/contrib-mode.global.ts
  pages/category/[id].vue
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

chore: move contrib translation in sub-field #142
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix

feat: group contrib field into component #142
  components/Fields/ContribFieldGroup.vue
  components/Fields/Field.vue
  middleware/contrib-mode.global.ts
  pages/category/[id].vue
  stores/map.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

chore: use lodash pickBy instead of flow #142
  components/Fields/ContribFieldGroup.vue
Due: yarn eslint --fix, yarn stylelint

chore: update contrib translations #142
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix

docs: add contrib mode in readme #142
  README.md
Due: none

feat: create contrib store + share enable state across tabs + persist state in localstorage #142
  middleware/contrib-mode.global.ts
  pages/category/[id].vue
  stores/contrib.ts
  stores/map.ts
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

fix: add mapillary_link to popup view #142
  middleware/contrib-mode.global.ts
Due: yarn eslint --fix

feat: add contrib fields to poi details page #142
  lib/apiPois.ts
  middleware/contrib-mode.global.ts
  pages/category/[id].vue
  pages/poi/[id]/details.vue
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix: contrib middleware conditions #142
  middleware/contrib-mode.global.ts
Due: yarn eslint --fix

chore: remove poi details last update date #142
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: editor_id link + add poi dynamic type #142
  middleware/contrib-mode.global.ts
Due: yarn eslint --fix

fix: add contrib fields on category change #142
  components/PoisList/PoisList.vue
  pages/category/[id].vue
Due: yarn eslint --fix, yarn stylelint

fix: else-if statement #142
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: avoid duplicated contrib fields #142
  middleware/contrib-mode.global.ts
Due: yarn eslint --fix

chore: move contrib logic outside of data structure #142
  components/Fields/ContribFieldGroup.vue
  components/Fields/Field.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
  middleware/contrib-mode.global.ts
  mixins/contribution.ts
  pages/category/[id].vue
  pages/poi/[id]/details.vue
  stores/contrib.ts
  stores/map.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix: add relative link to PoiDetails return map button #168
  components/PoisDetails/PoiDetails.vue
  locales/en-GB.ts
  locales/es-ES.ts
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

Category selector need unfiltered menu items
  components/Home/Embedded.vue
  components/PoisList/CategorySelector.vue
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

Fix menu store. menuItem.category could also be null
  stores/menu.ts
Due: yarn eslint --fix

Contrib Mode (#163)
  README.md
  components/Fields/ContribFieldGroup.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  lib/apiPois.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
  middleware/contrib-mode.global.ts
  mixins/contribution.ts
  plugins/fontawesome.ts
  stores/contrib.ts
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

chore: re-enable pwa support #175
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: re-enable sentry #174
  .env.sample
  docker-compose.yml
  nuxt.config.ts
  package.json
  vidos-config-empty.json
  yarn.lock
Due: yarn eslint --fix

fix: typo on CategorySelector placeholder
  locales/en-GB.ts
Due: yarn eslint --fix

fix: v-if case on PoiCardContent #142
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

chore: rename IconsBar to VActions #43
  components/MainMap/FavoriteNoteBook.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/UI/VActions.vue
Due: yarn eslint --fix, yarn stylelint

fix: menuItems prop type mismatch #142
  components/Home/Embedded.vue
  components/PoisList/CategorySelector.vue
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

fix: normalize arg type of menuStore.getCurrentCategory getter #142
  components/PoisList/PoisList.vue
  pages/category/[id].vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

chore: move down contrib fields on popup view #142
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove node mismatch and rebase contrib mode on cookies #142
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  middleware/contrib-mode.global.ts
  stores/contrib.ts
Due: yarn eslint --fix, yarn stylelint

Fix PopupPoiContent (#180)
  components/Home/Embedded.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/CategorySelector.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  middleware/contrib-mode.global.ts
  pages/category/[id].vue
  stores/contrib.ts
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

chore: refactor FavoriteNoteBook + Use dynamic components in VActions #43
  components/MainMap/FavoriteNoteBook.vue
  components/UI/VActions.vue
Due: yarn eslint --fix, yarn stylelint

chore: refactor Share component #43
  components/PoisDetails/Share.vue
Due: yarn eslint --fix, yarn stylelint

chore: disable PWA on dev #177
  nuxt.config.ts
Due: yarn eslint --fix

chore: disable PWA on dev #177 (#182)
  nuxt.config.ts
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
