Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: make tailwind works
  layouts/default.vue
  nuxt.config.ts
  package.json
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix CategorySelector content
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move MapControls into Map
  components/Map/Map.vue
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix key in Field
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

refactor: merge Fields in FieldsGroup to break recursive import loop
  components/PoisDetails/Fields.stories.ts
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: add botton margin on image
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove double map style init
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: keep share modal close by default
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

chore: update vue2-touch-events to vue3-touch-events
  package.json
  plugins/touch.ts
  yarn.lock
Due: yarn eslint --fix

fix: image size on Carousel
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: use fa in vuetify
  package.json
  plugins/vuetify.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix GeolocateControl reponsive
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix MapControlsBackground images
  components/Map/MapControlsBackground.vue
Due: yarn eslint --fix, yarn stylelint

deploy: a58c097666cf6ec3255d6bd7e12aa854f01be22b
  iframe.html
  main.970ae676.iframe.bundle.js
  main.970ae676.iframe.bundle.js.map
  main.d5284f15.iframe.bundle.js
  main.d5284f15.iframe.bundle.js.LICENSE.txt
  main.d5284f15.iframe.bundle.js.map
  pages/embedded.8db90d6b.iframe.bundle.js
  pages/embedded.aac929b6.iframe.bundle.js
  pages/index.865159b2.iframe.bundle.js
  pages/index.a42234fc.iframe.bundle.js
  project.json
  runtime~main.c03dc67c.iframe.bundle.js
  runtime~main.d6814ff9.iframe.bundle.js
  sw.js
  vendors~main.7830ec66.iframe.bundle.js
  vendors~main.7830ec66.iframe.bundle.js.LICENSE.txt
  vendors~main.7830ec66.iframe.bundle.js.map
  vendors~main.d7dc4114.iframe.bundle.js
  vendors~main.d7dc4114.iframe.bundle.js.map
Due: yarn eslint --fix

fix: fix lint warning
  components/Fields/Stars.stories.ts
  components/Fields/Stars.story.vue
Due: yarn eslint --fix, yarn stylelint

docs: fix Readme
  README.md
Due: none

fix: fix filter select typing
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean nuxt.config.ts
  nuxt.config.ts
Due: yarn eslint --fix

fix: fix with new css reset with vuetify
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/Menu/Category.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace nuxt/sitemap by nuxt-simple-sitemap
  .gitmodules
  README.md
  lib/sitemap.ts
  nuxt.config.ts
  package.json
  server/middleware/sitemap.ts
  yarn.lock
Due: yarn eslint --fix

test: cypress mock, replace nock by mws
  cypress/support/commands.ts
  cypress/support/mock.ts
  package.json
  server/middleware/cypress_mock.ts
  yarn.lock
Due: yarn eslint --fix

chore: replace @vueform by vuetify
  components/Filters/NumberRange.vue
  lib/module_types/vueform__slider/index.d.ts
  nuxt.config.ts
  package.json
  tailwind.config.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: reneable nuxt-image configuration
  nuxt.config.ts
  plugins/vido-config.ts
  utils/vido-config-static.ts
Due: yarn eslint --fix

fix: review field headers
  components/Fields/Field.vue
  components/Fields/RoutesField.vue
  components/PoisDetails/FieldsGroup.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix order of transition-group and client-only
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

test: fix 'some' issues with jest
  jest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix Link compo usage
  components/Menu/ItemList.vue
Due: yarn eslint --fix, yarn stylelint

fix: make CategorySelector working
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

chore: packages update
  package.json
  yarn.lock
Due: none

fix: explicit fontawesome compo usage
  components/Fields/Facebook.vue
  components/Fields/Field.vue
  components/Fields/Stars.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/Block.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/ExternalLink.vue
  components/UI/FavoriteIcon.vue
  components/UI/ShareLinkModal.vue
  components/UI/TeritorioIcon.vue
  components/UI/UIButton.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

chore: re-enable manifest, WPA
  api/manifest.ts
  nuxt.config.ts
  package.json
  server/middleware/manifest.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix PoisDetail map size
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: typing, polygons_extra is optional
  lib/apiSettings.ts
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: replace @cypress/mock-ssr with custom code
  nuxt.config.ts
  package.json
  server/middleware/cypress_mock.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix tailwind prefix
  components/Fields/RoutesField.vue
  components/Fields/Stars.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing
  components/Fields/RoutesField.vue
  components/Home/Home.vue
  components/Map/MapBase.story.vue
  components/Map/MapBase.vue
  components/Map/MapPois.story.vue
  components/PoisDetails/PoiDetails.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  lib/storybook-types.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  nuxt.config.ts
  plugins/pinia-shared-state.ts
  plugins/screen.ts
  plugins/settings.ts
  plugins/tracking.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix lang tag on <html>
  lib/apiSettings.ts
Due: yarn eslint --fix

fix: code lint
  .eslintrc.js
  components/Filters/NumberRange.vue
  components/Home/Menu.vue
  components/Menu/Filter.vue
  components/Menu/Item.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in OpeningHours.test.ts
  components/Fields/OpeningHours.test.ts
  package.json
  tests/default.jest.ts
  yarn.lock
Due: yarn eslint --fix
