Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

deploy: 1866b6930a947ff22042fa4e5dd0b91e09889c12
  30.532038f3.iframe.bundle.js
  iframe.html
  main.6bbbf443.iframe.bundle.js
  main.6bbbf443.iframe.bundle.js.LICENSE.txt
  main.6bbbf443.iframe.bundle.js.map
  main.a507e2e3.iframe.bundle.js
  main.a507e2e3.iframe.bundle.js.map
  project.json
  runtime~main.45298427.iframe.bundle.js
  runtime~main.bd0acfca.iframe.bundle.js
  sw.js
  vendors~main.8694fafa.iframe.bundle.js
  vendors~main.8694fafa.iframe.bundle.js.LICENSE.txt
  vendors~main.8694fafa.iframe.bundle.js.map
  vendors~main.933cbc5f.iframe.bundle.js
  vendors~main.933cbc5f.iframe.bundle.js.map
Due: yarn eslint --fix

test: fix cypress test
  cypress/e2e/category/pois-list.cy.ts
Due: yarn eslint --fix

deploy: f41cd477bd7d7ce7c68d4f6ee4c587e98a0ba7f3
  project.json
  sw.js
Due: yarn eslint --fix

fix: fix Home tracking on unselect feature
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix filter to act only on the right category #58
  store/menu.ts
Due: yarn eslint --fix

deploy: 5ad41f284b69d58558a86b51776c55ad2d234898
  iframe.html
  main.6bbbf443.iframe.bundle.js
  main.6bbbf443.iframe.bundle.js.map
  main.b113a707.iframe.bundle.js
  main.b113a707.iframe.bundle.js.LICENSE.txt
  main.b113a707.iframe.bundle.js.map
  pages/index.b85e7430.iframe.bundle.js
  pages/index.f79876c9.iframe.bundle.js
  project.json
  runtime~main.46b4f440.iframe.bundle.js
  runtime~main.bd0acfca.iframe.bundle.js
  sw.js
Due: yarn eslint --fix

fix: fix PoiCard detail url
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

deploy: fb619f2826dbe84e6a9b953fe7e184354c07e519
  iframe.html
  main.b113a707.iframe.bundle.js
  main.b113a707.iframe.bundle.js.map
  main.ba0406b2.iframe.bundle.js
  main.ba0406b2.iframe.bundle.js.LICENSE.txt
  main.ba0406b2.iframe.bundle.js.map
  project.json
  sw.js
Due: yarn eslint --fix

chore: update cypress
  package.json
  yarn.lock
Due: none

test: fix cypress test after update
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/embedded.cy.ts
  cypress/e2e/favourites.cy.ts
  cypress/e2e/home-content.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/e2e/pois/map.cy.ts
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix

chore: update babel
  package.json
  yarn.lock
Due: none

deploy: 0a121db85401ba8b33adabfe136a593818e9b055
  project.json
  sw.js
Due: yarn eslint --fix

chore: update storybook
  package.json
  yarn.lock
Due: none

deploy: 5cce60e456316c915aa04ad24a3076f37aab53dd
  iframe.html
  main.ba0406b2.iframe.bundle.js
  main.ba0406b2.iframe.bundle.js.map
  main.d28c4b06.iframe.bundle.js
  main.d28c4b06.iframe.bundle.js.LICENSE.txt
  main.d28c4b06.iframe.bundle.js.map
  pages/category/index.c2b4d2c1.iframe.bundle.js
  pages/category/index/_id.8f52ba54.iframe.bundle.js
  pages/embedded.b69b9b20.iframe.bundle.js
  pages/embedded/_p1.b0ff67e7.iframe.bundle.js
  pages/embedded/_p1/_poiId.4a1e021b.iframe.bundle.js
  pages/embedded/_p1/index.24c4aa9d.iframe.bundle.js
  pages/index.22deca47.iframe.bundle.js
  pages/index/_p1.48f1aafe.iframe.bundle.js
  pages/index/_p1/_poiId.39be2365.iframe.bundle.js
  pages/index/_p1/index.974a6cd3.iframe.bundle.js
  pages/poi/_id/details.c88bd7a7.iframe.bundle.js
  pages/pois/_ids/map.79ca5620.iframe.bundle.js
  project.json
  runtime~main.46b4f440.iframe.bundle.js
  runtime~main.9f2239bc.iframe.bundle.js
  sw.js
  vendors~main.54034ab0.iframe.bundle.js
  vendors~main.54034ab0.iframe.bundle.js.LICENSE.txt
  vendors~main.54034ab0.iframe.bundle.js.map
  vendors~main.8694fafa.iframe.bundle.js.map
Due: yarn eslint --fix

chore: update eslint
  package.json
  yarn.lock
Due: none

fix: fix props code
  components/Map/MapBase.vue
  components/UI/IconButton.vue
Due: yarn eslint --fix, yarn stylelint

chore: update jest
  package.json
  yarn.lock
Due: none

chore: update core-js and fast-copy
  package.json
  yarn.lock
Due: none

chore: update more eslint
  .eslintrc.js
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: update sass
  package.json
  yarn.lock
Due: none

chore: update nuxt plugins
  package.json
  yarn.lock
Due: none

chore: update git commit hook tools
  package.json
  yarn.lock
Due: none

chore: update stylelint
  package.json
  yarn.lock
Due: none

chore: update tailwindcss
  package.json
  yarn.lock
Due: none

chore: update @vue/test-utils
  package.json
  yarn.lock
Due: none

chore: update loader-utils
  package.json
  yarn.lock
Due: none

chore: update puppeteer
  package.json
  yarn.lock
Due: none

chore: update prettier
  package.json
  yarn.lock
Due: none

chore: update postcss
  package.json
  yarn.lock
Due: none

chore: update nuxt
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix storybook
  nuxt.config.ts
  package.json
Due: yarn eslint --fix

chore: fix vue-jest deps
  package.json
  yarn.lock
Due: none

test: update storybook image
  __screenshots__/actual/UI/TeritorioIcon/Image.png
Due: none

chore: fix @cypress/mock-ssr version
  package.json
  yarn.lock
Due: none

chore: update docker alpine version
  docker-compose.yml
Due: none

fix: fix nuxt watcher config
  nuxt.config.ts
Due: yarn eslint --fix

chore: update to node 18
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  package.json
  yarn.lock
Due: none

deploy: ef68ff7fd85d55195a51861f500df5abb9c4abbf
  project.json
  sw.js
Due: yarn eslint --fix
