Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

refactor: move MapControls into Map
  components/Map/Map.vue
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refacto tailwind css import
  assets/tailwind.scss
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: force typing when required
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  components/Map/MapPois.story.vue
  components/Map/MapPois.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix filter select typing
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

chore: update IconsBar to vue3
  components/UI/IconsBar.vue
Due: yarn eslint --fix, yarn stylelint

fix: replace @cypress/mock-ssr with custom code
  nuxt.config.ts
  package.json
  server/middleware/cypress_mock.ts
  yarn.lock
Due: yarn eslint --fix

fix: review NumberRange
  components/Filters/NumberRange.vue
Due: yarn eslint --fix, yarn stylelint

chore: vue3, remove
  components/Home/Home.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: code lint
  .eslintrc.js
  components/Filters/NumberRange.vue
  components/Home/Menu.vue
  components/Menu/Filter.vue
  components/Menu/Item.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

chore: update vue-screen
  package.json
  plugins/screen.ts
  yarn.lock
Due: yarn eslint --fix

chore: reneable nuxt-image configuration
  nuxt.config.ts
  plugins/vido-config.ts
  utils/vido-config-static.ts
Due: yarn eslint --fix

chore: nuxt3, use plugins
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

test: fix 'some' issues with jest
  jest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: clean nuxt config
  nuxt.config.ts
Due: yarn eslint --fix

fix: only check typescript on dev & build
  nuxt.config.ts
  package.json
Due: yarn eslint --fix

fix: go to selected search result
  components/Home/Home.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace VueCookieLaw by VueCookieAcceptDecline
  components/UI/CookiesConsent.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix carousel image size
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: try to avoid vite screen clear
  nuxt.config.ts
Due: yarn eslint --fix

test: fix cypress test
  components/Fields/Coordinates.vue
  components/MainMap/NavMenu.vue
  components/PoisDetails/FieldsGroup.vue
  components/UI/IconButton.vue
  cypress.config.ts
  cypress/e2e/home-content.cy.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix select filter values
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix build
  lib/bbox.ts
  nuxt.config.ts
Due: yarn eslint --fix

docs: refactoring README
  README.md
Due: none

fix: recentre menu grip
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, reenable PWA
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

feat: support async load of map when page exposed
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: rename server/middleware as server/routes
  cypress/support/commands.ts
  server/middleware/cypress_mock.ts
  server/routes/__cypress_set_mocks.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap-style.xsl.ts
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix

fix: fix docker build
  .dockerignore
  .gitignore
  docker-compose.yml
  package.json
Due: none

fix: console.error clean
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

test: fix short_description with Histoire
  __screenshots__/actual/Fields/Field/Description Details.png
  __screenshots__/actual/Fields/Field/Description Short.png
  __screenshots__/actual/Fields/Field/Description.png
  __screenshots__/actual/Home/Menu/Default.png
  __screenshots__/actual/PoisCard/Fields/Many.png
  __screenshots__/actual/PoisDetails/FieldsGroup/Many.png
  components/Fields/Field.story.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix alt text color on PoiCard
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

ci: fix how to run cypress on ci
  .github/workflows/ci.yml
  package.json
Due: none

chore: enable vite-plugin-vuetify
  nuxt.config.ts
Due: yarn eslint --fix

refactor: replace phone plugin by device, access from this.device
  components/Fields/Field.vue
  components/Fields/Phone.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  nuxt.config.ts
  plugins/device.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix overlay click
  components/MainMap/FavoritesOverlay.vue
Due: yarn eslint --fix, yarn stylelint

docs: improve README
  README.md
  Vido-main-map.webp
  doc/build.sh
  doc/data-flow.dot
  doc/data-flow.svg
Due: yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

fix: fix maplibre-gl build
  nuxt.config.ts
Due: yarn eslint --fix

fix: notebook full height
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

refactor: replace useRoute*() by this.route*
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControlsBackground.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix css menu shadow
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint
