Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

refactor: make apiEndpoint dynamic #671
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/MapPois.vue
  composables/useApiEndpoint.ts
  composables/useContrib.ts
  composables/usePois.ts
  layouts/default.vue
  layouts/error.vue
  lib/apiArticle.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  nuxt.config.ts
  pages/embedded.vue
  pages/index.vue
  utils/vido-config-static.ts
Due: yarn eslint --fix, yarn stylelint

chore: simplify env with docker #671
  .dockerignore
  .gitignore
  nuxt.config.ts
Due: yarn eslint --fix

refactor: extract more settings from API #671
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/UI/CookiesConsent.vue
  composables/useIsochrone.ts
  cypress/fixtures/teritorio/references/settings.json
  index.d.ts
  layouts/default.vue
  layouts/error.vue
  lib/apiSettings.ts
  pages/category.vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/tracking.ts
  server/routes/manifest.webmanifest.ts
  stores/site.ts
  utils/types-config.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

refactor: move some config key outside of vidos-config.json #671
  .env.sample
  .gitignore
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/MapPois.vue
  components/UI/ShareLinkModal.vue
  composables/useContrib.ts
  composables/useIsochrone.ts
  composables/usePois.ts
  docker-compose.yml
  layouts/default.vue
  layouts/error.vue
  lib/apiArticle.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  nuxt.config.ts
  pages/embedded.vue
  pages/index.vue
  plugins/sentry.client.ts
  server/plugins/sentry.ts
  stores/search.ts
  utils/types-config.ts
  utils/vido-config-static.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

feat: fetch image proxies dynamically #671
  Dockerfile
  cypress/fixtures/teritorio/references/settings.json
  lib/apiSettings.ts
  nuxt.config.ts
  package.json
  utils/fetch-domains.ts
  utils/types-config.ts
  utils/vido-config-static.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix

feat: add tracking flag #671
  .env.sample
  nuxt.config.ts
  plugins/tracking.ts
Due: yarn eslint --fix

fix: wrong usage of useApiEndpoint composable
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix

chore: add host resolver
  composables/useHostDetection.ts
  layouts/default.vue
  layouts/error.vue
  server/api/config.get.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix, yarn stylelint

feat: create project list page #665
  cypress/fixtures/teritorio/references/settings.json
  layouts/projects.vue
  lib/apiSettings.ts
  pages/projects.vue
  server/api/projects.get.ts
  server/middleware/project.ts
Due: yarn eslint --fix, yarn stylelint

feat: add filtering logic #665
  layouts/projects.vue
  pages/projects.vue
Due: yarn eslint --fix, yarn stylelint

chore: add url + default theme settings #665
  pages/projects.vue
Due: yarn eslint --fix, yarn stylelint

chore: add dev url to project listing #665
  pages/projects.vue
Due: yarn eslint --fix, yarn stylelint

fix: error not thrown on missing project or theme
  server/api/config.get.ts
Due: yarn eslint --fix

chore: improve error handling
  components/Layout/Header.vue
  components/Map/Map.vue
  components/UI/CookiesConsent.vue
  pages/articles/[slug].vue
  server/plugins/sentry.ts
Due: yarn eslint --fix, yarn stylelint

feat: add click on project urls
  pages/projects.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.27.0
  package.json
Due: none

chore: improve project dev url
  pages/projects.vue
Due: yarn eslint --fix, yarn stylelint

fix: ensure theme & project are present in API url
  .env.sample
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/MapPois.vue
  composables/useApiEndpoint.ts
  composables/useContrib.ts
  composables/usePois.ts
  docker-compose.yml
  layouts/default.vue
  layouts/error.vue
  lib/apiArticle.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  nuxt.config.ts
  pages/embedded.vue
  pages/index.vue
  server/api/config.get.ts
  server/api/projects.get.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
  utils/fetch-domains.ts
Due: yarn eslint --fix, yarn stylelint

chore: remove fetch-domains in dockerfile
  Dockerfile
Due: none

fix: missing protocol in config api endpoint
  server/api/config.get.ts
Due: yarn eslint --fix

chore: create a custom image provider #683
  components/UI/UIPicture.vue
  nuxt.config.ts
  package.json
  providers/custom-proxy.ts
  server/api/image-proxy.get.ts
  server/plugins/image-domains.ts
  utils/fetch-domains.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: get image hosts by project slug #683
  providers/custom-proxy.ts
  server/api/image-proxy.get.ts
  server/plugins/image-domains.ts
Due: yarn eslint --fix

chore: get image hosts by project slug #683
  providers/custom-proxy.ts
  server/plugins/image-domains.ts
  server/routes/image-proxy.get.ts
Due: yarn eslint --fix

chore: add alt to UIPicture #682
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

feat: add panoramax static image #682
  components/PoisDetails/PanoramaxViewer.vue
  components/PoisDetails/PoiDetails.vue
  server/plugins/image-domains.ts
Due: yarn eslint --fix, yarn stylelint

chore: add alt to UIPicture #683
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

chore: add size contraint to uipicture #683
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/PanoramaxViewer.vue
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

fix: client only Phone component
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: communicate image modifiers to proxy #683
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/PanoramaxViewer.vue
  components/UI/UIPicture.vue
  providers/custom-proxy.ts
Due: yarn eslint --fix, yarn stylelint

chore: add elasa-dev domain for local dev #683
  server/plugins/image-domains.ts
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
