Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

feat(seo): add structured data & SSR POI list for category and detail pages
  components/Home/Home.vue
  pages/index.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix(seo): address review feedback on structured data
  components/Home/Home.vue
  pages/index.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix(seo): add name to JSON-LD ItemList entries and cap at 100 items
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

feat(filters): add title tooltip on filter collapse button
  components/Menu/GlobalFiltersCollapsible.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

feat(filters): add divider after global filters collapsible
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

fix(filters): show divider only when global filters expanded
  components/Menu/GlobalFiltersCollapsible.vue
Due: yarn eslint --fix, yarn stylelint

style(filters): capitalize filter labels
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

chrore: v1.28.4
  package.json
Due: none

style(filters): use sentence case instead of capitalize on filter labels
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

fix(search): close dropdown when input is fully cleared
  stores/search.ts
Due: yarn eslint --fix

fix(menu): ensure getCurrentCategory only returns actual categories
  stores/menu.ts
Due: yarn eslint --fix

fix(server): handle missing site_url in image-domains plugin
  server/plugins/image-domains.ts
Due: yarn eslint --fix

fix(deps): handle missing category in deps by falling back to selected categories
  components/MainMap/MapFeatures.vue
  composables/usePoiDeps.ts
Due: yarn eslint --fix, yarn stylelint

fix(deps): limit category fallback to main POI and handle malformed site_url
  composables/usePoiDeps.ts
  server/plugins/image-domains.ts
Due: yarn eslint --fix

fix(deps): apply category fallback to all deps features, not just main POI
  composables/usePoiDeps.ts
Due: yarn eslint --fix

fix(map): enable clustering in RouteMap to display overlapping waypoints
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

fix(map): show route action button in NavigationDrawer on mobile
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

cchore: v1.28.5
  package.json
Due: none

fix(layout): propagate real API error details instead of generic Nuxt 500
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix(layout): use FetchError type and add cause for better error tracing
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.28.6
  package.json
Due: none

fix(error): show error page instead of blank page when API is down
  error.vue
  layouts/error.vue
Due: yarn eslint --fix, yarn stylelint

fix(error): properly extract FetchError fields in error layout configError handler
  layouts/error.vue
Due: yarn eslint --fix, yarn stylelint

fix(error): preserve original error when /api/config fails in error layout
  layouts/error.vue
Due: yarn eslint --fix, yarn stylelint

refactor(error): extract createFetchError helper and apply across all call sites
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
  composables/useIsochrone.ts
  composables/usePois.ts
  layouts/default.vue
  pages/articles/[slug].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  utils/fetchError.ts
Due: yarn eslint --fix, yarn stylelint

refactor(error): replace showError with throw and drop fatal on component-level errors
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint
