Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: lint props
  components/Categories/SubCategoryHeader.vue
  components/MainMap/BottomMenu.vue
  components/MainMap/MainHeader.vue
Due: yarn eslint --fix, yarn stylelint

chore: lock update
  components/Home/Home.machine.ts
  components/Home/Home.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update to tailwind 3
  assets/fullmap.css
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/SubCategoryFilterHeader.vue
  components/Categories/SubCategoryHeader.vue
  components/Details/Share.vue
  components/Fields/OpeningHours.vue
  components/MainMap/BottomMenu.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MainHeader.vue
  components/MainMap/MainMap.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapPoiToast.vue
  components/MainMap/NavMenu.vue
  components/MainMap/SnackBar.vue
  components/Map/MapControls.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Search/SearchHeader.vue
  components/Search/SearchResultBlock.vue
  components/ShareLinkModal.vue
  components/TeritorioIcon/TeritorioIconBadge.vue
  package.json
  pages/index.vue
  plugins/vue-tailwind.ts
  tailwind.config.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update tailwind
  package.json
  yarn.lock
Due: none

fix: fix new lint errors
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryList.vue
  components/Categories/HeaderRootCategories.vue
  components/Categories/HeaderSubCategories.vue
  components/Details/Breadcrumb.vue
  components/TeritorioIcon/TeritorioIcon.vue
  components/TeritorioIcon/TeritorioIconBadge.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

feat: share with qr-code teritorio/vido-private#655
  .env.sample
  .github/workflows/deploy_dev.yml
  components/Details/Share.vue
  components/MainMap/FavoriteMenu.vue
  components/ShareLinkModal.vue
  locales/en.js
  locales/es.js
  locales/fr.js
  nuxt.config.js
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

feat: update back action text on mobile (teritorio/vido-private#684)
  components/Search/SearchHeader.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

feat: add no-collision on toast
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

feat: add RouteField
  components/Fields/RouteField.vue
  components/MainMap/MapPoiToast.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

feat: update bottom menu on mobile v1 (teritorio/vido-private#681)
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/HeaderRootCategories.vue
Due: yarn eslint --fix, yarn stylelint

fix: make all request searches an keep the last only teritorio/vido-private#690
  components/Search/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

feat: multi-site config
  .env.sample
  .github/workflows/deploy_dev.yml
  .gitignore
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MainMap.vue
  components/MainMap/MapPoiToast.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Search/SearchHeader.vue
  components/ShareLinkModal.vue
  nuxt.config.js
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
  plugins/tracking.ts
  plugins/vido-config.ts
  utils/types.ts
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix dev CI deploy
  .github/workflows/deploy_dev.yml
Due: none

fix: search loading indicator teritorio/vido-private#690
  components/Search/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove console.error
  plugins/tracking.ts
Due: yarn eslint --fix

feat: support website field as link
  components/Fields/Website.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: update lat/long at map init
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix default prod tracking
  plugins/tracking.ts
Due: yarn eslint --fix

chore: v1.15.7
  package.json
Due: none

refactor: refator OpeningHours
  components/Fields/OpeningHours.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: use relative localized opening time teritorio/vido-private#702 teritorio/vido-private#698
  components/Fields/OpeningHours.vue
  locales/en.js
  locales/es.js
  locales/fr.js
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: update CI deploy target
  .github/workflows/deploy_dev.yml
Due: none

fix: fix multi-site, remove port
  plugins/vido-config.ts
Due: yarn eslint --fix

fix: fix multi-site, with x-forwarded-host
  plugins/vido-config.ts
Due: yarn eslint --fix

fix: remove isMobile / simplify as always on mobile code
  components/Search/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

fix: exclude CI build vidos.config.ts from deploy
  .github/workflows/deploy_dev.yml
Due: none

fix: config typing
  utils/types.ts
  vidos.config.sample.ts
Due: yarn eslint --fix

fix: use maplibre local import, not gloabl
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

feat: make map attribution responsive
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

feat: replace isMobile by 'vue-screen'
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  components/MainMap/MapPoiToast.vue
  components/Map/MapControlsBackground.vue
  components/Search/SearchHeader.vue
  nuxt.config.js
  package.json
  plugins/mobile.ts
  plugins/screen.ts
  plugins/touch.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

feat: add (dirty) .phone concept
  components/MainMap/MapPoiToast.vue
  plugins/screen.ts
Due: yarn eslint --fix, yarn stylelint

fix: add missing phone link in details
  components/Details/Contact.vue
Due: yarn eslint --fix, yarn stylelint

feat: add clustering on favorites
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: add readonly type script
  plugins/tracking.ts
  plugins/vido-config.ts
Due: yarn eslint --fix

fix: attrib size on small maps
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove hack over bad icon class names
  components/TeritorioIcon/TeritorioIcon.vue
  utils/picto.ts
Due: yarn eslint --fix, yarn stylelint

fix: rename API tourism_style_class to style_class
  components/MainMap/MainMap.vue
  lib/apiMenu.ts
  lib/apiPois.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint
