Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

fix: search layout
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

ci: clean run on CI
  .github/workflows/ci.yml
  package.json
Due: none

test: run cypress with CONFIG=vidos-config-cypress.json
  .github/workflows/ci.yml
  cypress/e2e/home-content.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/e2e/pois/map.cy.ts
  cypress/e2e/tracking.cy.ts
  cypress/support/mock.ts
  package.json
  vidos-config-cypress.json
Due: yarn eslint --fix

fix: fix config typing
  utils/types-config.ts
  vidos.config.sample.ts
Due: yarn eslint --fix

feat: move config from buildtime to runtime
  .gitignore
  README.md
  bin/build-config.ts
  nuxt.config.ts
  package.json
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
  plugins/tracking.ts
  plugins/vido-config.ts
Due: yarn eslint --fix, yarn stylelint

fix: clean tailwind.config.js
  tailwind.config.js
Due: yarn eslint --fix

refactor: story with map
  components/MainMap/MapFeatures.stories.ts
  components/Map/Map.stories.ts
  components/Map/MapBase.stories.ts
  components/Map/MapPois.stories.ts
  components/PoisDetails/PoiDetails.stories.ts
  lib/storybook-types.ts
Due: yarn eslint --fix

fix: iframe and add test
  components/Map/MapBase.vue
  cypress/e2e/pois/map.cy.ts
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: set vidoConfig as function
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  plugins/vido-config.ts
Due: yarn eslint --fix, yarn stylelint

fix: make font usage more standard
  .github/workflows/ci.yml
  package.json
  pages/index.vue
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: add tools
  package.json
  yarn.lock
Due: none

fix: hidde geolocation control on large screen vido-private#848
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix min height big icon size on PoiCard #19
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix PoiDetail map position
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: geolocate control hidden
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: code clean
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: default list Field
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: move maplibregl-ctrl-group
  components/Map/Map.vue
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: add only on PoiFilter #22
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

test: on storybook, mock map requests
  components/MainMap/MapFeatures.stories.ts
  components/Map/Map.stories.ts
  components/Map/Map.vue
  components/Map/MapBase.stories.ts
  components/Map/MapPois.stories.ts
  lib/storybook-types-mock-stylegl.ts
  lib/storybook-types.ts
  nuxt.config.ts
  package.json
  vidos-config-empty.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix map control margin
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: make maplibre css rule more specifics
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: rm content/hello.md
  content/hello.md
Due: none

fix: fix storycap images
  cypress/fixtures/teritorio/references/pois.json
Due: none

fix: fix initial zoom for reset
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix storybook map attribution
  components/MainMap/MapFeatures.stories.ts
  components/Map/Map.stories.ts
  components/Map/MapBase.stories.ts
  components/Map/MapPois.stories.ts
  lib/storybook-types-mock-stylegl.ts
  lib/storybook-types.ts
Due: yarn eslint --fix

ci: run storybook test on CI
  .github/workflows/ci.yml
  .gitignore
  package.json
  tsconfig.json
  vidos-config-empty.json
Due: none

fix: fix stroybook map control background
  components/Map/MapControlsBackground.stories.ts
Due: yarn eslint --fix

fix: add filters into fixture menu
  cypress/fixtures/teritorio/references/menu.json
Due: none

fix: fix PoiDetail layout with small photo
  components/PoisDetails/Carousel.vue
  components/PoisDetails/PoiDetails.stories.ts
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactor build-fixture package.json
  package.json
Due: none

ci: fix storycap settings
  package.json
Due: none

refactor: cypress dir layout
  cypress/e2e/home-content.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/e2e/tracking.cy.ts
  cypress/support/mock.ts
Due: yarn eslint --fix

test: refacto storybook bind
  components/Map/Map.stories.ts
  components/Map/MapBase.stories.ts
  components/Map/MapPois.stories.ts
  components/UI/IconButton.stories.ts
  lib/storybook-types.ts
Due: yarn eslint --fix

fix: fix map base css
  components/Map/Map.stories.ts
  components/Map/Map.vue
  components/Map/MapBase.stories.ts
  components/Map/MapBase.vue
  components/Map/MapPois.stories.ts
  lib/storybook-types.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix 3D switch vido-private#848
  components/Map/MapBase.vue
  components/Map/MapControls3D.vue
Due: yarn eslint --fix, yarn stylelint

fix: simplify and fix 3D button and pich vido-private#848
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControls3D.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix PoiCard under maps controls #27
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

ci: run cypress
  .github/workflows/ci.yml
  package.json
  vidos-config-cypress.json
Due: none

fix: fix map controls button css #25
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
