Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

chore: upgrade vue and nuxt plugins
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: update @nuxtjs/eslint-config
  package.json
  yarn.lock
Due: none

chore: update eslint
  .eslintrc.js
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: tailwindcss & sass update
  package.json
  yarn.lock
Due: none

chore: remove @nuxtjs/eslint-config-typescript
  package.json
  yarn.lock
Due: none

chore: update misc
  package.json
  yarn.lock
Due: none

feat: add server side image proxy resizer
  components/MainMap/MapPoiToast.vue
  nuxt.config.js
  package.json
  plugins/vido-config.ts
  tsconfig.json
  utils/types-config.ts
  vidos.config.sample.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: lint css
  assets/details.scss
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
Due: yarn eslint --fix, yarn stylelint

chore: upgrade lodash
  package.json
  yarn.lock
Due: none

chore: update xstate
  package.json
  yarn.lock
Due: none

chore: update jest
  package.json
  yarn.lock
Due: none

fix: simplify route compo
  components/Details/Index.vue
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

fix: lint emit event name
  components/MainMap/MapFeatures.vue
  components/Map/MapControlsBackground.vue
Due: yarn eslint --fix, yarn stylelint

fix: use .json to API calls
  lib/apiMenu.ts
  lib/apiPois.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
Due: yarn eslint --fix

chore: update babel
  package.json
  yarn.lock
Due: none

chore: refresh yarn.lock
  yarn.lock
Due: none

chore: make jest working
  .github/workflows/ci.yml
  jest.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

feat: add first compo jest test
  components/Fields/OpeningHours.test.ts
  components/Fields/OpeningHours.vue
  jest.config.ts
  store/site.ts
  tests/default.jest.ts
  tests/fixtures/teritorio/references/articles.json
  tests/fixtures/teritorio/references/attribute_translations/fr.json
  tests/fixtures/teritorio/references/menu.json
  tests/fixtures/teritorio/references/pois.geojson
  tests/fixtures/teritorio/references/settings.json
Due: yarn eslint --fix, yarn stylelint

fix: fix css style lint
  components/Details/Index.vue
  stylelint.config.js
Due: yarn eslint --fix, yarn stylelint

fix: matomo, setConsentGiven only when loaded
  lib/tracker-matomo.ts
Due: yarn eslint --fix

fix: delay search typing query
  components/Search/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove initial poi favorites fetch
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename compo SearchHeader to Search
  components/Home/Home.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

feat: add tracking event open_share teritorio/vido-private#763
  README.md
  components/ShareLinkModal.vue
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

fix: vue dom wraning
  components/UI/CookiesConsent.vue
Due: yarn eslint --fix, yarn stylelint

fix: support invalid categ id from URL teritorio/vido-private#768
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: dedup category ids in URL teritorio/vido-private#767
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean fields templates
  components/Details/Index.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

feat: make field OpeningHours support all osm tags teritorio/vido-private#728
  components/Details/Index.vue
  components/Fields/OpeningHours.test.ts
  components/Fields/OpeningHours.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix & clean marker on selected POI
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

feat: support point in time in OH teritorio/vido-private#728
  components/Details/Index.vue
  components/Fields/OpeningHours.test.ts
  components/Fields/OpeningHours.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

refactor: remove not working optim
  components/Details/Index.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

feat: use image proxy for details
  components/Details/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove auto constrasted color
  components/UI/TeritorioIcon.vue
  package.json
  utils/picto.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix deals with API error on search
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

fix: only update features if map is loaded
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

chore: release v1.16.3
  package.json
Due: none
