Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

chore: error handling #359
  components/Isochrone/IsochroneTrigger.vue
  composables/useIsochrone.ts
Due: yarn eslint --fix, yarn stylelint

fix: keep isochrone across style changing #359
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: isochrone removal on explore mode #359
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

chore: add isochrone feature flag from config #359
  composables/useIsochrone.ts
  utils/types-config.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix

chore: update translations + add title on isochrone trigger #359
  components/Isochrone/IsochroneTrigger.vue
  components/PoisCard/PoiCardContent.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix: watcher triggered even if no isochrone is displayed #359
  composables/useIsochrone.ts
Due: yarn eslint --fix

feat: add clipping polygon support #376
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Map/MapBase.vue
  components/PoisList/Actions.vue
  lib/apiPois.ts
  pages/pois/[ids]/map.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

docs: add parameter to README #376
  README.md
Due: none

chore: dont send undefined query param #376
  components/Home/Home.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisTable.vue
  pages/category.vue
  pages/pois/[ids]/map.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

chore: increase isochrone smoothing #359
  composables/useIsochrone.ts
Due: yarn eslint --fix

fix: add multipolygon mask support #383
  components/Map/MapBase.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update @teritorio/maplibre-gl-teritorio-cluster
  package.json
  yarn.lock
Due: none

refactor: apply script setup style to openg hour #353
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  composables/useOpeningHours.ts
Due: yarn eslint --fix, yarn stylelint

chore: update sentry #337
  package.json
  yarn.lock
Due: none

fix: add sentry server side #337
  plugins/sentry.client.ts
  server/plugins/sentry.ts
Due: yarn eslint --fix

fix: wrong hostname containing port #398
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix

fix: display bicycle style based on config #380
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

refactor: set explorer mode feature flag in store #403
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisCard/PoisDeck.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

refactor: move event from prop to emit #404
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

refactor: set favorites mode feature flag in store #408
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  pages/embedded.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

Fix Sentry env var for Nuxt
  .env.sample
  docker-compose.yml
Due: none

Fix Sentry env var for Nuxt (#414)
  .env.sample
  docker-compose.yml
Due: none

chore: rollback PoiCard closing on map click #401
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

chore: hide isochrone feature on mobile #401
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove isochrone watcher #401
  composables/useIsochrone.ts
Due: yarn eslint --fix

fix: fit isochrone to map bounds #401
  components/Map/MapBase.vue
  composables/useIsochrone.ts
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint
