Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: lint css
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

fix: try to avoid vite screen clear
  nuxt.config.ts
Due: yarn eslint --fix

ci: fix how to run cypress on ci
  .github/workflows/ci.yml
  package.json
Due: none

fix: fix select filter values
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

test: fix with histoire
  components/Filters/DateRange.vue
  components/UI/UIPicture.vue
  utils/histoire-setup.js
Due: yarn eslint --fix, yarn stylelint

fix: fix CategorySelector entry layout
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix build
  lib/bbox.ts
  nuxt.config.ts
Due: yarn eslint --fix

chore: remove vue3 autoimport
  nuxt.config.ts
Due: yarn eslint --fix

refactor: replace useI18n by 'this.'
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

refactor: replace phone plugin by device, access from this.device
  components/Fields/Field.vue
  components/Fields/Phone.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  nuxt.config.ts
  plugins/device.ts
Due: yarn eslint --fix, yarn stylelint

ci: fix histoire run
  .github/workflows/ci.yml
Due: none

fix: remove highlight on back button with focus
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Menu.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

test: build with env CYPRESS
  .github/workflows/ci.yml
  nuxt.config.ts
  plugins/tracking.ts
  server/routes/__cypress_set_mocks.ts
Due: yarn eslint --fix

fix: fix css menu shadow
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix maplibre-gl build
  nuxt.config.ts
Due: yarn eslint --fix

feat: load vidos config at runtime
  lib/config.ts
  nuxt.config.ts
  package.json
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vido-config.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
  stores/site.ts
  utils/vido-config-static.ts
Due: yarn eslint --fix, yarn stylelint

feat: support async load of map when page exposed
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix alt text color on PoiCard
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

ci: use artifact in place of gist to store histoire-screenshots
  .github/workflows/ci.yml
Due: none

fix: support missing optional poi
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

First commit
  .env.sample
  pages/index.vue
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

feat: add Instagram field
  components/Fields/Field.stories.ts
  components/Fields/Field.vue
  components/Fields/Instagram.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

deploy: 79691adcc5ed139ca346ea3c72aef6403df3275f
  iframe.html
  main.7890a2d6.iframe.bundle.js
  main.7890a2d6.iframe.bundle.js.map
  main.e1dd031b.iframe.bundle.js
  main.e1dd031b.iframe.bundle.js.LICENSE.txt
  main.e1dd031b.iframe.bundle.js.map
  project.json
  sw.js
  vendors~main.7830ec66.iframe.bundle.js
  vendors~main.7830ec66.iframe.bundle.js.map
  vendors~main.fc55047a.iframe.bundle.js
  vendors~main.fc55047a.iframe.bundle.js.LICENSE.txt
  vendors~main.fc55047a.iframe.bundle.js.map
Due: yarn eslint --fix

chore: v1.19.5
  package.json
Due: none

feat: port nuxt plugin to Nuxt3
  plugins/fontawesome.ts
  plugins/pinia-shared-state.ts
  plugins/property-translations.ts
  plugins/screen.ts
  plugins/settings.ts
  plugins/touch.ts
  plugins/tracking.ts
  plugins/vido-config.ts
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

feat: replace vue-tailwind by vuetify
  components/Filters/DateRange.vue
  components/Filters/Select.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  nuxt.config.ts
  package.json
  plugins/vue-tailwind.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update tracker-matomo.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  plugins/tracking.ts
Due: yarn eslint --fix

chore: update to nuxt@3
  .babelrc
  .yarn/plugins/@yarnpkg/plugin-compat.cjs
  .yarnrc.yml
  api/manifest.ts
  components/UI/NuxtPicture.vue
  nuxt.config.ts
  package.json
  tsconfig.json
  vue-shim.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix PoisCard/Fields
  components/PoisCard/Fields.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, use plugin in template
  components/Fields/RoutesField.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  components/UI/CookiesConsent.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove explicit node-fetch import
  lib/apiContent.ts
  lib/apiMenu.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
Due: yarn eslint --fix

fix: add missing emits in MapBase
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

fix: make tailwind works
  layouts/default.vue
  nuxt.config.ts
  package.json
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update sass-loader
  package.json
  yarn.lock
Due: none

chore: update vue2-touch-events to vue3-touch-events
  package.json
  plugins/touch.ts
  yarn.lock
Due: yarn eslint --fix

chore: vue3, gtm
  nuxt.config.ts
  package.json
  plugins/tracking.ts
  yarn.lock
Due: yarn eslint --fix

chore: vue3 page fetch data on setup
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix key in Field
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint
