Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

fix: tracking test
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix

fix: simplify MapPois map center
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typo
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: add uniq featire.id
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

fix: embedded test
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix

fix: stricter LngLatBounds type
  components/Home/HomeMixin.ts
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

Flatten Multi* Geojson, allows supercluster to work with multi points #189
  components/Map/MapBase.vue
  lib/bbox.ts
Due: yarn eslint --fix, yarn stylelint

fix: map test
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  cypress/e2e/pois/map.cy.ts
Due: yarn eslint --fix, yarn stylelint

fix: use turf for geojson intersections
  components/MainMap/MapFeatures.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: remove deprecated node-sass for sass #239
  package.json
  yarn.lock
Due: none

feat: force iD editor in contrib link #238
  composables/useContrib.ts
Due: yarn eslint --fix

feat: add JOSM link support #238
  components/Fields/ContribFieldGroup.vue
  composables/useContrib.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix: update default vido config #234
  vidos.config.sample.ts
Due: yarn eslint --fix

doc: update install process #234
  README.md
Due: none

chore: update postinstall script #234
  .github/actions/install/action.yaml
  package.json
Due: none

fix: handle loading state on PoisTable #211
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

Fix Yarn on Docker
  Dockerfile
Due: none

fix: endless loading state #244
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

chore: delete existing storybook setup #137
  .storybook/main.ts
Due: yarn eslint --fix

feat: add Storybook v7 #137
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

feat: add PropertyTranslations support + create plugin's Vue version #137
  .storybook/preview.ts
  plugins/property-translations.ts
Due: yarn eslint --fix

feat: add i18n and locale switcher support #137
  .storybook/preview.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
  locales/index.ts
Due: yarn eslint --fix

feat: add FontAwesome support #137
  .storybook/preview.ts
Due: yarn eslint --fix

feat: add NuxtLink support #137
  .storybook/preview.ts
Due: yarn eslint --fix

feat: add vue auto-import global components support #137
  .storybook/auto-imports.d.ts
  .storybook/main.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: remove wrong margin on PoisTable filter input
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

fix: use api details url on list #246
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

chore: auto-import composables #137
  .storybook/auto-imports.d.ts
  .storybook/main.ts
Due: yarn eslint --fix

fix: ensure query param consistency across navigation #248
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
Due: yarn eslint --fix, yarn stylelint
