Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

refactor: set tiles and style via environment variables
  .env.sample
  .github/workflows/deploy_dev.yml
  .github/workflows/deploy_prod.yml
  components/Map.vue
  nuxt.config.js
Due: yarn eslint --fix, yarn stylelint

chore: release 1.0.1
  package.json
Due: none

fix: xl screen poi
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

feat: update the Teritorio font
  package.json
  yarn.lock
Due: none

chore: release 1.1.0
  package.json
Due: none

ci: fix production deployment
  .github/workflows/deploy_prod.yml
Due: none

chore: release 1.1.1
  package.json
Due: none

Fix/148 picto icon on load (teritorio/vido-private#159)
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: test1 - correction chargement des pois
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove log
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

Fix/162 correction poi (teritorio/vido-private#163)
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: correction poiFilter on loading styleData
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: correction feature multimap
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: correction test this. / improvement initPoiLayer
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix-default-html-lang (teritorio/vido-private#180)
  nuxt.config.js
Due: yarn eslint --fix

Fix favorites bugs (teritorio/vido-private#177)
  components/Map.vue
  components/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix no favorites bug / add message in case of no favorites (teritorio/vido-private#181)
  components/Map.vue
  components/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

feat: add favorites' overlay component
  components/FavoritesOverlay.vue
  components/Home/Home.vue
  components/Map.vue
  components/MapControls.vue
  store/favorite.ts
Due: yarn eslint --fix, yarn stylelint

fix: add max-width 20rem to the text in favorites overlay
  components/FavoritesOverlay.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix review
  components/FavoritesOverlay.vue
  components/Map.vue
  store/favorite.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix type error, change tailwind class to fit the max wanted size
  components/FavoritesOverlay.vue
  store/favorite.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix review
  store/favorite.ts
Due: yarn eslint --fix

Fix typo
  components/FavoritesOverlay.vue
Due: yarn eslint --fix, yarn stylelint

release 1.2.0
  package.json
Due: none

fix: improve poiFilter on explorer
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: poi blinking on loading mode explorer
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove comments (teritorio/vido-private#192)
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

Fix/162 correction poi (teritorio/vido-private#196)
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

chore: release 1.3.0
  package.json
Due: none

feat: add generic snackbar component / hanlde the zoom/ center of map
  components/Map.vue
  components/SnackBar.vue
  store/snack.ts
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

fix: update condition
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: show toast only if no Poi in view port
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix search issue (teritorio/vido-private#204)
  components/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

fix: update font
  package.json
  yarn.lock
Due: none

fix: fix snack (show case and content) (teritorio/vido-private#210)
  components/Map.vue
  components/SnackBar.vue
  store/snack.ts
Due: yarn eslint --fix, yarn stylelint

fix: remove snack use case
  components/Map.vue
Due: yarn eslint --fix, yarn stylelint

feat: use static images for the map bg button
  assets/aerial.png
  assets/mapnik.png
  assets/teritorio.png
  components/Map.vue
  components/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

Fix mapnik.png
  assets/mapnik.png
Due: none

release 1.4.0
  package.json
Due: none
