Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

fix: readd maplibre transpile workaround
  nuxt.config.ts
Due: yarn eslint --fix

fix: support missing sub fields in route field #105
  __screenshots__/actual/Fields/Route/Default.png
  __screenshots__/actual/Fields/Route/Missing Difficulty.png
  __screenshots__/actual/Fields/Route/Missing Fields.png
  components/Fields/Field.story.vue
  components/Fields/RoutesField.story.vue
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

ci: fix histoire
  .github/workflows/ci.yml
  README.md
Due: none

ci: fix deprecation in github actions
  .github/actions/install/action.yaml
Due: none

test: fix home-content cypress test
  cypress/e2e/home-content.cy.ts
Due: yarn eslint --fix

test: make 2 reties on cypress test
  cypress.config.ts
Due: yarn eslint --fix

test: fix cypress tsconfig
  cypress/tsconfig.json
Due: none

fix: fix selection of category with filter from search
  stores/menu.ts
Due: yarn eslint --fix

fix: fix filter button css #106
  components/Menu/Category.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix carousel image size and resolution #108
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove dead import
  plugins/vido-config.ts
Due: yarn eslint --fix

refactor: get config form request header
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  lib/apiContent.ts
  lib/apiMenu.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vido-config.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: render phone field client side only
  components/Fields/Phone.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix list change
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix route field on missing properties
  __screenshots__/actual/Fields/Route/Default - label_details.png
  __screenshots__/actual/Fields/Route/Default - label_popup.png
  __screenshots__/actual/Fields/Route/Missing Difficulty - label_details.png
  __screenshots__/actual/Fields/Route/Missing Difficulty - label_popup.png
  __screenshots__/actual/Fields/Route/Missing Difficulty.png
  __screenshots__/actual/Fields/Route/Missing Fields - label_details.png
  __screenshots__/actual/Fields/Route/Missing Fields - label_popup.png
  components/Fields/RoutesField.story.vue
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

fix: docker build
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
  vidos-config-empty.json
Due: none

chore: update mlly
  yarn.lock
Due: none

ci: fix docker build
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

fix: date range event
  components/Filters/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typo on ApiPoisOptions
  lib/apiPoiDeps.ts
  lib/apiPois.ts
Due: yarn eslint --fix

fix: fix fetch POI default options
  lib/apiPois.ts
Due: yarn eslint --fix

deploy: 8930e6f2d414b01f1ebfb2cf7f31dd821d9803f2
  __sandbox.html
  assets/DateRange-9447e3d6.js
  assets/DateRange.story-882a57ed.js
  assets/GenericMountStory.vue2-5b512f6d.js
  assets/Menu.story-9731e4b3.js
  assets/SearchPane.vue-ff228440.js
  assets/bundle-main-6b989a41.js
  assets/bundle-sandbox-71107ab4.js
  index.html
Due: yarn eslint --fix

fix: fix main menu scrool #80
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: autocompléte ignore accent #84
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

feat: rounded iconed category search
  components/Home/Embedded.vue
  components/PoisList/CategorySelector.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

feat: embedded display category selector on top of the map
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove extra space on top of bottom menu #123
  components/Home/Menu.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix icon height size on small screen #122
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
