Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

Fixed lunching issues
  .env.sample
  .nvmrc
  lib/bbox.ts
  nuxt.config.ts
  vidos.config.sample.ts
Due: yarn eslint --fix

Fixed horizontal scroll issue in main menu
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

Fixed linting issue
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

Fixed lunching issues
  .nvmrc
  nuxt.config.ts
Due: yarn eslint --fix

Fixed main menu horizontal scrollbar
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

Hid selected categories component on mobile
  components/Home/SelectedCategories.vue
Due: yarn eslint --fix, yarn stylelint

Aligned main map right menu with nav menu
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

Fixed vertical scroll break in small vh screen
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

Linted new code
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

Right aligned nav menu with map controls
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

Incremented bound values by 1 so they become inclusive
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

Linted code
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

chore: add vue-tsc
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: vue3, remove
  components/Home/Home.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in vue template
  components/Fields/RoutesField.vue
  pages/category/[id].vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 replace MetaInfo by MetaObject
  components/Home/Home.vue
  lib/apiSettings.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update to nuxt@3
  .babelrc
  .yarn/plugins/@yarnpkg/plugin-compat.cjs
  .yarnrc.yml
  api/manifest.ts
  components/UI/NuxtPicture.vue
  nuxt.config.ts
  package.json
  tsconfig.json
  vue-shim.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: replace vue-agile by vuetify
  components/PoisDetails/Carousel.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: replace mapbox-gl-vue by @vladvesa/vue-maplibre-gl
  components/MainMap/MapControlsExplore.vue
  components/Map/Map.vue
  components/Map/MapControls.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in MapFeature on compo ref
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

feat: port nuxt plugin to Nuxt3
  plugins/fontawesome.ts
  plugins/pinia-shared-state.ts
  plugins/property-translations.ts
  plugins/screen.ts
  plugins/settings.ts
  plugins/touch.ts
  plugins/tracking.ts
  plugins/vido-config.ts
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

chore: nuxt3, use plugin in template
  components/Fields/RoutesField.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  components/UI/CookiesConsent.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 update layout
  layouts/default.vue
  layouts/error-layout.vue
Due: yarn eslint --fix, yarn stylelint

chore: update pinia for nuxt3
  package.json
  yarn.lock
Due: none

chore: update deps
  package.json
  yarn.lock
Due: none

chore: nuxt3, use plugins
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, remove v-on="$listeners"
  components/PoisCard/PoiCard.vue
  components/UI/IconButton.vue
  components/UI/UIButton.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 validate params
  pages/category/[id].vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update i18n
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/Phone.vue
  components/Fields/RoutesField.vue
  components/Filters/DateRange.vue
  components/Home/Embedded.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisDetails/Share.vue
  components/PoisList/Actions.vue
  components/PoisList/CategorySelector.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/UI/CookiesConsent.vue
  components/UI/FieldsHeader.vue
  components/UI/ShareLinkModal.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update sass-loader
  package.json
  yarn.lock
Due: none

fix: fix typing in vue template
  components/MainMap/MapControlsExplore.vue
  components/Map/MapControlsBackground.vue
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

chore: vue3 storybook
  .babelrc
  .storybook/main.ts
  lib/storybook-types.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: update country-flag-icons
  components/MainMap/NavMenu.vue
  components/UI/VFlag.vue
Due: yarn eslint --fix, yarn stylelint

chore: update tracker-matomo.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  plugins/tracking.ts
Due: yarn eslint --fix

fix: fix PoisCard/Fields
  components/PoisCard/Fields.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3 router
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControlsBackground.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
  pages/category/[id].vue
  utils/url.ts
Due: yarn eslint --fix, yarn stylelint

chore: migrate ref to vue 3
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Share.vue
  components/Search/SearchInput.vue
  components/UI/Badge.vue
  package.json
Due: yarn eslint --fix, yarn stylelint

fix: fix vue3 typing in vue template
  components/PoisDetails/PoiDetails.vue
  plugins/vido-config.ts
  tests/default.jest.ts
Due: yarn eslint --fix, yarn stylelint

fix: transpile date-fns and lodash
  nuxt.config.ts
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
