Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

teritorio/vido-private#592 fix: open share favorites (teritorio/vido-private#604)
  components/Details/Share.vue
  components/MainMap/FavoriteMenu.vue
  components/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move menu api to lib/apiMenu.ts
  components/Categories/CategoryList/CategoryList.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/HeaderRootCategories.vue
  components/Categories/HeaderSubCategories.vue
  components/Categories/SelectedSubCategoriesAside.vue
  components/Categories/SelectedSubCategoriesDense.vue
  components/Categories/SubCategoryFilterHeader.vue
  components/Categories/SubCategoryHeader.vue
  components/Home/Home.machine.ts
  components/Home/Home.vue
  components/MainMap/BottomMenu.vue
  components/MainMap/MainHeader.vue
  components/MainMap/MainMap.vue
  lib/apiMenu.ts
  lib/clusters.ts
  plugins/tracking.ts
  store/menu.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix: review menu filter typing
  lib/apiMenu.ts
Due: yarn eslint --fix

refactor: move POI details and map path
  README.md
  pages/poi/_id/details.vue
  pages/poi/_id/map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename VidoFeature to ApiPoi
  components/Details/Contact.vue
  components/Details/Index.vue
  components/Details/Location.vue
  components/Home/Home.vue
  components/MainMap/BottomMenu.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MainMap.vue
  components/MainMap/MapPoiToast.vue
  components/MapPoi.vue
  components/Search/SearchHeader.vue
  lib/apiPois.ts
  pages/poi/_id/details.vue
  pages/poi/_id/map.vue
  store/map.ts
  store/menu.ts
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

feat: add multiple map poi teritorio/vido-private#611
  README.md
  pages/pois/map.vue
Due: yarn eslint --fix, yarn stylelint

feat: support of multiples poi in MapPois
  assets/fullmap.css
  components/Details/Index.vue
  components/MapPoi.vue
  components/MapPois.vue
  lib/apiPois.ts
  pages/poi/_id/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: better props typing
  components/MainMap/MainMap.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: uniformize api fetch
  lib/apiSettings.ts
  pages/index.vue
  pages/poi/_id/details.vue
  pages/poi/_id/map.vue
  pages/pois/map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove fetch from menu store
  pages/index.vue
  store/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: use asyncData in place of fetch
  nuxt.config.js
  pages/index.vue
  pages/poi/_id/details.vue
  pages/poi/_id/map.vue
  pages/pois/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: merge map only one and many pois
  README.md
  pages/poi/_id/map.vue
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: update details layout
  components/Details/Index.vue
Due: yarn eslint --fix, yarn stylelint

fix: update details layout
  components/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove isLoaded dead cdoe from site store
  store/site.ts
Due: yarn eslint --fix

fix: fix detail page map
  components/Details/Index.vue
Due: yarn eslint --fix, yarn stylelint

fix: use popup_properties also on features layer teritorio/vido-private#609
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move Map Mode from Site Store to Map Store
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapPoiToast.vue
  store/map.ts
  store/site.ts
Due: yarn eslint --fix, yarn stylelint

fix: allow id and ref in main map url teritorio/vido-private#597
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove not used nuxt/axios deps
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: remove not used nuxt/wpa deps
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: remove not used nuxt/content deps
  package.json
  yarn.lock
Due: none

fix: remove not used nuxt/content deps
  nuxt.config.js
Due: yarn eslint --fix

fix: fix select freature
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: replace unicode flags by svg icons teritorio/vido-private#594
  components/MainMap/NavMenu.vue
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix english flag
  nuxt.config.js
Due: yarn eslint --fix

fix: review how OpenMapTilesLanguage is called and initialized teritorio/vido-private#598
  components/Map/Map.vue
  package.json
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: update mode explorer
  components/Home/Home.vue
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: format date
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: update OpenMapTilesLanguage teritorio/vido-private#598
  package.json
  yarn.lock
Due: none

refactor: move vido_children from general menu item to MenuGroup
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/SubCategoryHeader.vue
  components/Home/Home.vue
  lib/apiMenu.ts
  store/menu.ts
Due: yarn eslint --fix, yarn stylelint

refactor: remove dead property highlighted of menu categories
  components/Categories/HeaderRootCategories.vue
  lib/apiMenu.ts
  store/menu.ts
Due: yarn eslint --fix, yarn stylelint

feat: support links in menu teritorio/vido-private#596
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/HeaderRootCategories.vue
  components/Categories/HeaderSubCategories.vue
  components/Categories/SelectedSubCategoriesDense.vue
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  lib/apiMenu.ts
Due: yarn eslint --fix, yarn stylelint

fix: zoom on poi from URL on initial load
  components/Home/Home.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: update scroll on results mobile
  components/Search/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

feat: manage external link design
  components/Categories/CategoryButton/CategoryButton.vue
Due: yarn eslint --fix, yarn stylelint

fix: sent attributions from settings to map compo
  components/Details/Index.vue
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  components/Map/Map.vue
  components/MapPois.vue
  pages/pois/_ids/map.vue
  utils/styles.ts
Due: yarn eslint --fix, yarn stylelint

fix: move map attrib css to Map compo
  components/Map/Map.vue
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: show bugger + fav menu on mobile (by @joselegitan)
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: update attributions display + favorites and menu
  components/Home/Home.vue
  components/MainMap/BottomMenu.vue
  components/MainMap/MainMap.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint
