Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: position of SelectedCategories
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
Due: yarn eslint --fix, yarn stylelint

feat: async import of maplibregl
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.vue
  lib/bbox.ts
  lib/markerLayerFactory.ts
  lib/vectorTilesPois.ts
  nuxt.config.ts
  package.json
  utils/styles.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

test: fix with histoire
  components/Filters/DateRange.vue
  components/UI/UIPicture.vue
  utils/histoire-setup.js
Due: yarn eslint --fix, yarn stylelint

ci: use artifact in place of gist to store histoire-screenshots
  .github/workflows/ci.yml
Due: none

ci: fix cypress
  package.json
Due: none

fix: notebook full height
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix range number
  __screenshots__/actual/Filters/NumberRange/Default.png
  components/Filters/NumberRange.story.vue
  components/Filters/NumberRange.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

chore: enable vite-plugin-vuetify
  nuxt.config.ts
Due: yarn eslint --fix

fix: recentre menu grip
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove svg support, has the project does not has svg file
  .lintstagedrc
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

docs: improve README
  README.md
  Vido-main-map.webp
  doc/build.sh
  doc/data-flow.dot
  doc/data-flow.svg
Due: yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

fix: fix tracking
  plugins/tracking.ts
Due: yarn eslint --fix

fix: fix carousel image size
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix alt text color on PoiCard
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

fix: try to avoid vite screen clear
  nuxt.config.ts
Due: yarn eslint --fix

fix: fix css conflict on form fields
  assets/tailwind.scss
Due: none

fix: go to selected search result
  components/Home/Home.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

feat: support async load of map when page exposed
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: only check typescript on dev & build
  nuxt.config.ts
  package.json
Due: yarn eslint --fix

test: build with env CYPRESS
  .github/workflows/ci.yml
  nuxt.config.ts
  plugins/tracking.ts
  server/routes/__cypress_set_mocks.ts
Due: yarn eslint --fix

ci: fix histoire
  .github/workflows/ci.yml
  histoire.config.ts
  package.json
Due: yarn eslint --fix

feat: wrapped useAsyncData for better and early error detection, better typing
  lib/getAsyncData.ts
  lib/throwFetchError.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix docker build
  .dockerignore
  .gitignore
  docker-compose.yml
  package.json
Due: none

chore: nuxt3, use useAsyncData
  lib/throwFetchError.ts
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: replace useRoute*() by this.route*
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControlsBackground.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

test: remove jest test
  .github/workflows/ci.yml
  README.md
  components/Fields/OpeningHours.test.js
  jest.config.ts
  nuxt.config.ts
  package.json
  public/tests
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

test: fix a cypress test
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix

chore: nuxt3, reenable PWA
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix back to map from poi details
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

refactor: replace phone plugin by device, access from this.device
  components/Fields/Field.vue
  components/Fields/Phone.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  nuxt.config.ts
  plugins/device.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix notbook layout
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix CategorySelector entry layout
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: hide error details field from vuetify
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix histoire test
  __screenshots__/actual/Filters/DateRange/Default.png
Due: none

fix: fix checkbox
  assets/tailwind.scss
Due: none

chore: remove vue3 autoimport
  nuxt.config.ts
Due: yarn eslint --fix

fix: make reactive
  components/Fields/Field.vue
  components/Fields/Phone.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCardContent.vue
  plugins/device.ts
Due: yarn eslint --fix, yarn stylelint

ci: fix histoire run
  .github/workflows/ci.yml
Due: none

fix: fix goToSelectedFeature
  components/Home/HomeMixin.ts
Due: yarn eslint --fix

fix: fix plugins/screen
  plugins/screen.ts
Due: yarn eslint --fix
