Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

chore: fix missing space in footer
  components/Layout/Footer.vue
Due: yarn eslint --fix, yarn stylelint

chore: update openinghours
  package.json
  yarn.lock
Due: none

feat: add TagField component #722
  components/Fields/Field.vue
  components/Fields/TagField.vue
Due: yarn eslint --fix, yarn stylelint

docs: add new fields
  README.md
Due: none

fix: remove short_description leftovers
  components/Fields/Field.stories.ts
  components/Fields/Field.story.vue
  components/PoisCard/Fields.stories.ts
  components/PoisCard/Fields.story.vue
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsGroup.story.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: default waypoint fields
  components/Fields/Field.vue
  components/Fields/RoutesField.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: typo on embedded page
  pages/embedded.vue
Due: yarn eslint --fix, yarn stylelint

fix: make map page use point api calls
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: missing bullet list style
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove tw-prose on text field
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: poi order regression
  composables/usePoiDeps.ts
Due: yarn eslint --fix

fix: convert FieldsGroup IDs to kebab-case for stylelint compliance
  components/PoisDetails/FieldsGroup.vue
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
Due: yarn eslint --fix, yarn stylelint

chore: improve poicard actions styles
  components/Isochrone/IsochroneTrigger.vue
  components/PoisCard/PoiCardContent.vue
  components/UI/FavoriteIcon.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove array bullet point in list
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: fallback to direct URL when image proxy fails
  server/plugins/image-domains.ts
  server/routes/image-proxy.get.ts
Due: yarn eslint --fix

fix(sitemap): preserve trailing slash in sitemap urls
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix

chore: v1.28.0
  package.json
Due: none

fix: align PoiCardContent actions to flex-start
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

feat(ci): link Sentry production project to version tags
  .github/workflows/ci.yml
Due: none

feat(seo): add category name to title meta tag
  pages/category.vue
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: add missing optional chaining in description locale and menu parent_id
  components/Home/Menu.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: encode URL before redirect in image proxy
  server/routes/image-proxy.get.ts
Due: yarn eslint --fix

fix: fallback to main POI category for deps without category_ids
  composables/usePoiDeps.ts
Due: yarn eslint --fix

fix: guard against undefined poiId in feature lookup
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: guard localStorage access in favorite store against SecurityError
  stores/favorite.ts
Due: yarn eslint --fix

fix: guard RoutesField compact mode against missing duration/difficulty
  components/Fields/RoutesField.story.vue
  components/Fields/RoutesField.vue
  types/api/poi.ts
Due: yarn eslint --fix, yarn stylelint

fix(fields): resolve flat property keys containing colons
  components/Fields/Field.stories.ts
  components/Fields/Field.story.vue
  components/Fields/Field.vue
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/PoisCard/Fields.stories.ts
  components/PoisCard/Fields.story.vue
  components/PoisCard/Fields.vue
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsGroup.story.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/PoisTable.vue
  cypress/e2e/category/pois-list.cy.ts
  cypress/fixtures/teritorio/references/menu.json
  stores/menu.ts
  types/local/field.ts
  utils/property.ts
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

fix(table): fix getColKey round-trip for multi-segment field paths
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

fix(fields): deduplicate Field.vue and fix multilingual intermediate unwrap
  components/Fields/Field.vue
  components/Fields/RoutesField.story.vue
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

refactor: tighten types and simplify getNestedPropertyValue
  components/PoisDetails/FieldsGroup.vue
  utils/property.ts
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint
