Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: remove 'tourism' from feature layer names
  components/MainMap/MainMap.vue
  components/MainMap/MapPoiToast.vue
  utils/styles.ts
Due: yarn eslint --fix, yarn stylelint

fix: avoid multiple opp on features of initial mapinit
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: chnage naming in Map.vue
  components/MainMap/MainMap.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

feat: use POI color map from style
  components/MainMap/MainMap.vue
  components/Map/Map.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

feat: split concept of color_fill & color_line
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/HeaderRootCategories.vue
  components/Categories/HeaderSubCategories.vue
  components/Categories/SelectedSubCategoriesDense.vue
  components/Details/Breadcrumb.vue
  components/Details/Contact.vue
  components/Details/Index.vue
  components/Details/Share.vue
  components/MainMap/MainMap.vue
  components/MainMap/MapPoiToast.vue
  components/MapPois.vue
  components/Search/SearchResultBlock.vue
  components/TeritorioIcon/TeritorioIcon.vue
  components/TeritorioIcon/TeritorioIconBadge.vue
  lib/apiMenu.ts
  lib/apiPois.ts
  lib/clusters.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

feat: configure country to opening_hours teritorio/vido-private#671
  components/Fields/OpeningHours.vue
  components/MainMap/MapPoiToast.vue
  lib/apiSettings.ts
  nuxt.config.js
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
  plugins/settings.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix hash url changes teritorio/vido-private#696 teritorio/vido-private#697 teritorio/vido-private#718
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  components/Map/MapControlsBackground.vue
  utils/url.ts
Due: yarn eslint --fix, yarn stylelint

feat: track search query
  README.md
  components/Search/SearchHeader.vue
  lib/tracker-google.ts
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

refactor: move google specific code away from generic tracking
  lib/tracker-google.ts
  lib/trackers.ts
  nuxt.config.js
  plugins/tracking.ts
Due: yarn eslint --fix

feat: add matomo tracking support teritorio/vido-private#669
  lib/tracker-matomo.ts
  package.json
  plugins/tracking.ts
  utils/types.ts
  vidos.config.sample.ts
  yarn.lock
Due: yarn eslint --fix

fix: add fast-copy/index.d.ts
  lib/module_types/fast-copy/index.d.ts
Due: yarn eslint --fix

refactor: remove option NOTEBOOK_ENABLED teritorio/vido-private#722
  components/MainMap/FavoriteMenu.vue
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

refactor: replace notebook props function by event
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

fix: update URL on initial page load teritorio/vido-private#723
  components/Home/Home.vue
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

refactor: fnuctionnal from BottomMenu.vue into Home.vue
  components/Home/Home.vue
  components/MainMap/BottomMenu.vue
Due: yarn eslint --fix, yarn stylelint

teritorio/vido-private#659 feat: update style v1 (teritorio/vido-private#725)
  components/MainMap/MainHeader.vue
Due: yarn eslint --fix, yarn stylelint

refactor: split types.ts
  components/Categories/SubCategoryFilterHeader.vue
  components/Home/Home.vue
  components/Search/SearchHeader.vue
  components/Search/SearchResultBlock.vue
  lib/apiSearch.ts
  plugins/vido-config.ts
  store/menu.ts
  utils/types-config.ts
  utils/types-filters.ts
  utils/types.ts
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

docs: update tracking docs
  README.md
Due: none

refactor: move date filter to compo
  components/Categories/SubCategoryFilterHeader.vue
  components/Filters/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

refactor: change filter data structure
  components/Categories/CategoryList/CategoryList.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/HeaderSubCategories.vue
  components/Categories/SubCategoryFilterHeader.vue
  components/Categories/SubCategoryHeader.vue
  components/Home/Home.vue
  store/menu.ts
  utils/types-filters.ts
Due: yarn eslint --fix, yarn stylelint

fix: filter typing
  components/Home/Home.vue
  lib/apiSearch.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix typo
  components/Search/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix apply filter namming
  components/Home/Home.vue
  store/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: update breakpoints
  components/Home/Home.vue
  components/MainMap/Attribution.vue
  components/MainMap/BottomMenu.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MainHeader.vue
  components/MainMap/MainMap.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapPoiToast.vue
  components/Map/MapControls.vue
  components/Map/MapControls3D.vue
  components/Search/SearchHeader.vue
Due: yarn eslint --fix, yarn stylelint

feat: update css
  components/MainMap/MainMap.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix date filter on GMT teritorio/vido-private#716
  components/Filters/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

feat: make setting mandatory on page load
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

feat: use link on main menu for SEO teritorio/vido-private#354
  components/Categories/CategoryButton/CategoryButton.vue
Due: yarn eslint --fix, yarn stylelint

fix: reenable Storybook
  README.md
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn eslint --fix

feat: implement navigator.doNotTrack
  lib/tracker-matomo.ts
  plugins/tracking.ts
Due: yarn eslint --fix

fix: add stories to CategoryButton.stories.ts
  components/Categories/CategoryButton/CategoryButton.stories.js
  components/Categories/CategoryButton/CategoryButton.stories.ts
  lib/storybook-types.ts
Due: yarn eslint --fix

refactor: clean CategoryButton
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/HeaderRootCategories.vue
Due: yarn eslint --fix, yarn stylelint

feat: fix header and add keyword teritorio/vido-private#354
  components/Home/Home.vue
  lib/apiSettings.ts
Due: yarn eslint --fix, yarn stylelint

fix: clean assets dir
  assets/README.md
  assets/logo-white.svg
Due: yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

feat: map background control flat teritorio/vido-private#729
  components/MainMap/MainMap.vue
  components/Map/Map.stories.ts
  components/Map/MapControlsBackground.stories.ts
  components/Map/MapControlsBackground.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

feat: add bicycle map background teritorio/vido-private#703
  assets/bicycle.png
  components/MainMap/MainMap.vue
  components/Map/Map.vue
  lib/constants.ts
  utils/types-config.ts
  utils/types.ts
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

chore: update @teritorio/map
  package.json
  yarn.lock
Due: none

feat: allow explore on nay background
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  lib/constants.ts
Due: yarn eslint --fix, yarn stylelint

feat: more tracking event teritorio/vido-private#721
  README.md
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/NavMenu.vue
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  plugins/tracking.ts
Due: yarn eslint --fix, yarn stylelint

feat: tracks returning links teritorio/vido-private#721
  README.md
  components/Details/Share.vue
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  components/ShareLinkModal.vue
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  utils/types.ts
  utils/url.ts
Due: yarn eslint --fix, yarn stylelint
