Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

deploy: ffc64338ea8e733805c801da8b1cc18f3dfd4e50
  iframe.html
  main.4dbd2cdf.iframe.bundle.js
  main.4dbd2cdf.iframe.bundle.js.LICENSE.txt
  main.4dbd2cdf.iframe.bundle.js.map
  main.80b7eb50.iframe.bundle.js
  main.80b7eb50.iframe.bundle.js.map
  pages/index.ca94460b.iframe.bundle.js
  pages/index.f8de28c5.iframe.bundle.js
  project.json
  runtime~main.15a71f1b.iframe.bundle.js
  runtime~main.9b098eb9.iframe.bundle.js
  vendors~main.02d060fe.iframe.bundle.js
  vendors~main.02d060fe.iframe.bundle.js.LICENSE.txt
  vendors~main.02d060fe.iframe.bundle.js.map
  vendors~main.c43bbfb1.iframe.bundle.js
  vendors~main.c43bbfb1.iframe.bundle.js.map
Due: yarn eslint --fix

test: fix cypress test
  cypress/e2e/home-content.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/e2e/pois/map.cy.ts
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix

deploy: cd3a468cf1a690d3d936efd3f30f4038d13ba219
  project.json
Due: none

fix: remove SENTRY_DSN from config as it is a var env
  utils/types-config.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix

deploy: a265afedd6a071e1a54eaa3d86a4b6fa1b25524c
  iframe.html
  main.4dbd2cdf.iframe.bundle.js
  main.4dbd2cdf.iframe.bundle.js.map
  main.e404895d.iframe.bundle.js
  main.e404895d.iframe.bundle.js.LICENSE.txt
  main.e404895d.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

feat: mount config into docker
  docker-compose.yml
Due: none

fix: remove over buggy css #28
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix PoiCard layout
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactor poi icon filter & fix bug #30
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 486f10b7de1f092f0a180f5768685f871a9b63f6
  iframe.html
  main.8b51c644.iframe.bundle.js
  main.8b51c644.iframe.bundle.js.LICENSE.txt
  main.8b51c644.iframe.bundle.js.map
  main.e404895d.iframe.bundle.js
  main.e404895d.iframe.bundle.js.map
  pages/index.4b5e8c57.iframe.bundle.js
  pages/index.f8de28c5.iframe.bundle.js
  project.json
  runtime~main.9b098eb9.iframe.bundle.js
  runtime~main.c027a669.iframe.bundle.js
  vendors~main.02d060fe.iframe.bundle.js
  vendors~main.02d060fe.iframe.bundle.js.map
  vendors~main.2cce84dc.iframe.bundle.js
  vendors~main.2cce84dc.iframe.bundle.js.LICENSE.txt
  vendors~main.2cce84dc.iframe.bundle.js.map
Due: yarn eslint --fix

fix: fix 404 URL detection
  pages/index/_p1.vue
  pages/index/_p1/_poiId.vue
  pages/index/_p1/index.vue
Due: yarn eslint --fix, yarn stylelint

feat: add 404 page
  layouts/error-layout.vue
  layouts/error.vue
Due: yarn eslint --fix, yarn stylelint

feat: seo add description on details pages #20
  lib/apiSettings.ts
  pages/poi/_id/details.vue
Due: yarn eslint --fix, yarn stylelint

feat: add sitemap.xml #20
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  lib/apiContent.ts
  lib/apiMenu.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
  nuxt.config.ts
  package.json
  pages/pois/_ids/map.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: error message
  pages/poi/_id/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: ensure map attribution uniqueness
  utils/styles.ts
Due: yarn eslint --fix

deploy: a806572c6170b7ca18a7e943c18599e5a7a860e9
  iframe.html
  main.58d491ac.iframe.bundle.js
  main.58d491ac.iframe.bundle.js.LICENSE.txt
  main.58d491ac.iframe.bundle.js.map
  main.8b51c644.iframe.bundle.js
  main.8b51c644.iframe.bundle.js.map
  pages/index.356b5eca.iframe.bundle.js
  pages/index.4b5e8c57.iframe.bundle.js
  pages/index/_p1.6d4c3e9d.iframe.bundle.js
  pages/index/_p1.bbd3db9d.iframe.bundle.js
  pages/index/_p1/_poiId.07f385b9.iframe.bundle.js
  pages/index/_p1/_poiId.f238cf14.iframe.bundle.js
  pages/index/_p1/index.38b69c4b.iframe.bundle.js
  pages/index/_p1/index.6e0efb37.iframe.bundle.js
  pages/poi/_id/details.6791698e.iframe.bundle.js
  pages/poi/_id/details.e8034ae4.iframe.bundle.js
  pages/pois/_ids/map.84e95bad.iframe.bundle.js
  pages/pois/_ids/map.d53a6f76.iframe.bundle.js
  project.json
  runtime~main.c027a669.iframe.bundle.js
  runtime~main.e7b91186.iframe.bundle.js
  vendors~main.1d0bfb14.iframe.bundle.js
  vendors~main.1d0bfb14.iframe.bundle.js.LICENSE.txt
  vendors~main.1d0bfb14.iframe.bundle.js.map
  vendors~main.2cce84dc.iframe.bundle.js
  vendors~main.2cce84dc.iframe.bundle.js.map
Due: yarn eslint --fix

fix: fix duplicate DateRange field
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix dom with pre render content #31
  components/Fields/AddressField.vue
  components/Fields/Coordinates.vue
  components/Fields/DateRange.vue
  components/Fields/Field.vue
  components/Fields/RoutesField.vue
  components/PoisDetails/FieldsGroup.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 95faba6109487f663c75cd51570996a343c155b8
  iframe.html
  main.58d491ac.iframe.bundle.js
  main.58d491ac.iframe.bundle.js.map
  main.720aafae.iframe.bundle.js
  main.720aafae.iframe.bundle.js.LICENSE.txt
  main.720aafae.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: default poiFilter
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix diff DOM warning from SSR
  components/Fields/Phone.vue
Due: yarn eslint --fix, yarn stylelint

deploy: b1c08795aaa43bae778f7e29491115797e000a48
  iframe.html
  main.720aafae.iframe.bundle.js
  main.720aafae.iframe.bundle.js.map
  main.c6f06742.iframe.bundle.js
  main.c6f06742.iframe.bundle.js.LICENSE.txt
  main.c6f06742.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: fix image proxy list
  plugins/vido-config.ts
Due: yarn eslint --fix

deploy: 76ac098c1ddabfbbbeca9b2186fb362845097d54
  iframe.html
  main.4360eecb.iframe.bundle.js
  main.4360eecb.iframe.bundle.js.LICENSE.txt
  main.4360eecb.iframe.bundle.js.map
  main.c6f06742.iframe.bundle.js
  main.c6f06742.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

deploy: bd6efdc00cbda9ea422c713d9c56b6481b65d087
  project.json
Due: none

deploy: 2ade17a298272a4b57ae2d89c9282079d457c56e
  project.json
Due: none

deploy: f5b216d8c5d1e54c5592b1ddcf2cbd01a6bb16cb
  project.json
Due: none

fix: fix how to build with docker
  Dockerfile
  README.md
  docker-compose.yml
Due: none

deploy: 319199bbc62ab664b895ba886776d1e45e5ad507
  project.json
Due: none

fix: set geometry_as point when fetch by categories
  lib/apiPois.ts
Due: yarn eslint --fix

fix: fix Item compact badge alignment
  __screenshots__/actual/Menu/Category/Default Compact.png
  __screenshots__/actual/Menu/Category/Selected Compact.png
  __screenshots__/actual/Menu/ItemList/Default.png
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/Link.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

deploy: bd1bad2220c8157b84e43c3f876efda88a14bb9b
  iframe.html
  main.4360eecb.iframe.bundle.js
  main.4360eecb.iframe.bundle.js.map
  main.fe27e101.iframe.bundle.js
  main.fe27e101.iframe.bundle.js.LICENSE.txt
  main.fe27e101.iframe.bundle.js.map
  project.json
  vendors~main.1d0bfb14.iframe.bundle.js
  vendors~main.1d0bfb14.iframe.bundle.js.map
  vendors~main.39558c98.iframe.bundle.js
  vendors~main.39558c98.iframe.bundle.js.LICENSE.txt
  vendors~main.39558c98.iframe.bundle.js.map
Due: yarn eslint --fix

chore: v1.19.1
  package.json
Due: none

deploy: 3649a59eb5b868ba9a90fbccdfe2e1c6a9cfedd4
  project.json
Due: none

fix: allow to build without configuration
  Dockerfile
  nuxt.config.ts
Due: yarn eslint --fix
