Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

fix: fix responsive picture size teritorio/vido-private#761
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: add missing fr share_link locale
  locales/fr.js
Due: yarn eslint --fix

fix: fix matomo consent teritorio/vido-private#762
  lib/tracker-matomo.ts
Due: yarn eslint --fix

fix: show pin from geo link on Google Maps teritorio/vido-private#705
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: add ancho on logo
  components/Home/Home.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

fix: update favorite position
  components/Details/Header.vue
  components/Details/Index.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix detail of virtual property blocks
  components/Details/Index.vue
Due: yarn eslint --fix, yarn stylelint

fix: update icon position in blocks
  components/Details/Block.vue
Due: yarn eslint --fix, yarn stylelint

feat: add first cypress test teritorio/vido-private#713
  components/Home/Home.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  cypress/e2e/home-content.cy.ts
  cypress/e2e/mock.ts
  cypress/fixtures/APIFixture.ts
  cypress/fixtures/teritorio/references/articles.json
  cypress/fixtures/teritorio/references/attribute_translations/fr.json
  cypress/fixtures/teritorio/references/menu.json
  cypress/fixtures/teritorio/references/pois.json
  cypress/fixtures/teritorio/references/settings.json
  cypress/fixtures/teritorio/references/teritorioReferenceAPIFixture.ts
  static/tests
  tests/default.jest.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix maplibre layer typing
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: review map style load event
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

feat: configure cypress teritorio/vido-private#713
  .github/workflows/ci.yml
  .github/workflows/deploy_dev.yml
  .gitignore
  .nuxtignore
  README.md
  components/Fields/OpeningHours.test.ts
  cypress.config.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix API typing and fixtures
  lib/apiMenu.ts
  tests/fixtures/teritorio/references/menu.json
  tests/fixtures/teritorio/references/settings.json
Due: yarn eslint --fix

fix: update attribution style on detail map
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix missing addr and date range in popup
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix missing route info in popup
  components/Fields/RouteField.vue
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

chore: release v1.17.0
  package.json
Due: none

teritorio/vido-private#753 fix: update header block sizes (teritorio/vido-private#774)
  components/Categories/HeaderRootCategories.vue
  components/Categories/SubCategoryFilterHeader.vue
  components/Categories/SubCategoryHeader.vue
  components/Home/Home.vue
  components/MainMap/MainHeader.vue
  tailwind.config.js
Due: yarn eslint --fix, yarn stylelint

refactor: move PoiCard fields to PoiCardFields.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardFields.stories.ts
  components/PoisCard/PoiCardFields.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move PoiCard set to PoisDeck
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoisDeck.vue
Due: yarn eslint --fix, yarn stylelint

refactor: replace props function by event in FavoriteNoteBook
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename MapPoi to VectorTilesPoi
  components/MainMap/MapFeatures.vue
  lib/vectorTilesPois.ts
Due: yarn eslint --fix, yarn stylelint

refactor: move on map attributes from ApiPoi to interface MapPoi
  components/MainMap/MapPoiToast.vue
  components/MapPois.vue
  lib/apiPois.ts
  lib/mapPois.ts
Due: yarn eslint --fix, yarn stylelint

feat: detail, download pdf teritorio/vido-private#756
  components/Details/Download.vue
  components/Details/Index.vue
  locales/en.js
  locales/es.js
  locales/fr.js
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix storybook
  components/Categories/CategoryButton/CategoryButton.stories.ts
  components/Categories/CategoryList/CategoryList.stories.ts
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

feat: review TeritorioIcon and add stories
  components/PoisCard/PoiCard.stories.ts
  cypress/fixtures/teritorio/references/poi/2.geojson
Due: yarn eslint --fix

fix: remove duplicate share link from details teritorio/vido-private#784
  components/Details/Share.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

feat: review TeritorioIcon and add stories
  components/Categories/CategoryButton/CategoryButton.vue
  components/UI/TeritorioIcon.stories.ts
  components/UI/TeritorioIcon.vue
  components/UI/TeritorioIconBadge.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix CategoryList.stories.ts
  components/Categories/CategoryList/CategoryList.stories.ts
  components/Categories/CategoryList/CategoryList.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename MapPoiToast to PoiCard
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

feat: support route in detail page teritorio/vido-private#756
  components/Details/Index.vue
  components/Details/Route/RouteMap.vue
  components/Details/Route/WayPoint.vue
  cypress/fixtures/teritorio/references/poi/1.geojson
  cypress/fixtures/teritorio/references/pois.json
  cypress/fixtures/teritorio/references/route/2.geojson
  lib/apiRoutes.ts
  locales/en.js
  locales/es.js
  locales/fr.js
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

refactor: load route poir from SSR teritorio/vido-private#756
  components/Details/Index.vue
  components/Details/Route/RouteMap.vue
  lib/apiPois.ts
  pages/poi/_id/_mode.vue
Due: yarn eslint --fix, yarn stylelint

fix: set fixed position for controls
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: update filter behaviour v2
  plugins/vue-tailwind.ts
Due: yarn eslint --fix

fix: update icon block to have image behind
  components/Details/Block.vue
Due: yarn eslint --fix, yarn stylelint

feat: add placeholder v1
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

fix: dockerfile add missing git
  Dockerfile
Due: none

refactor: extract Phone field
  components/Details/Contact.vue
  components/Fields/Phone.vue
  components/PoisCard/PoiCardFields.vue
Due: yarn eslint --fix, yarn stylelint

fix: add DateRange to details
  components/Details/Index.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move fields aways from PoiDetails vue
  components/PoisCard/PoiCardFields.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/PoiDetailsFields.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
