Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: partial fix of Filters/Select
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace nuxt/sitemap by nuxt-simple-sitemap
  .gitmodules
  README.md
  lib/sitemap.ts
  nuxt.config.ts
  package.json
  server/middleware/sitemap.ts
  yarn.lock
Due: yarn eslint --fix

fix: fix plugins/screen
  plugins/screen.ts
Due: yarn eslint --fix

chore: nuxt3 update layout
  layouts/default.vue
  layouts/error-layout.vue
Due: yarn eslint --fix, yarn stylelint

fix: add emit typing
  .eslintrc.js
  components/Fields/Field.vue
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Menu.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/SnackBar.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Filter.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/CategorySelector.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

chore: vue3 storybook
  .babelrc
  .storybook/main.ts
  lib/storybook-types.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: typing, polygons_extra is optional
  lib/apiSettings.ts
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: review DateRange
  components/Filters/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

chore: update pinia for nuxt3
  package.json
  yarn.lock
Due: none

fix: fix GeolocateControl reponsive
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

ci: fix cypress
  .github/workflows/ci.yml
Due: none

fix: fix run histoire from scratch
  package.json
Due: none

test: fix storybook typing
  components/Fields/Field.stories.ts
  components/Home/Menu.stories.ts
  components/MainMap/MapFeatures.stories.ts
  components/Menu/Category.stories.ts
  components/Menu/Category.vue
  components/Menu/Group.stories.ts
  components/Menu/Group.vue
  components/Menu/ItemList.stories.ts
  components/Menu/ItemList.vue
  components/Menu/Link.stories.ts
  components/Menu/Link.vue
  components/PoisCard/Fields.stories.ts
  components/PoisCard/PoisDeck.stories.ts
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/PoiDetails.stories.ts
  components/UI/IconButton.stories.ts
  cypress/fixtures/teritorio/references/settings.json
Due: yarn eslint --fix, yarn stylelint

chore: update deps
  package.json
  yarn.lock
Due: none

fix: use fa in vuetify
  package.json
  plugins/vuetify.ts
  yarn.lock
Due: yarn eslint --fix

chore: nuxt3 validate params
  pages/category/[id].vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix lint warning
  components/Fields/Stars.stories.ts
  components/Fields/Stars.story.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix hash ulr update
  utils/url.ts
Due: yarn eslint --fix

fix: fix typing in vue template
  components/Fields/RoutesField.vue
  pages/category/[id].vue
Due: yarn eslint --fix, yarn stylelint

chore: packages update
  package.json
  yarn.lock
Due: none

fix: fix lang tag on <html>
  lib/apiSettings.ts
Due: yarn eslint --fix

fix: image size on Carousel
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

refactor: merge Fields in FieldsGroup to break recursive import loop
  components/PoisDetails/Fields.stories.ts
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

chore: replace storybook by histoire
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  README.md
  components/Fields/DateRange.story.vue
  components/Fields/Field.story.vue
  components/Fields/Stars.story.vue
  components/Filters/DateRange.story.vue
  components/Filters/NumberRange.story.vue
  components/Home/Menu.story.vue
  components/MainMap/MapFeatures.story.vue
  components/Map/Map.story.vue
  components/Map/MapBase.story.vue
  components/Map/MapControlsBackground.story.vue
  components/Map/MapPois.story.vue
  components/Menu/Category.story.vue
  components/Menu/Group.story.vue
  components/Menu/ItemList.story.vue
  components/Menu/Link.story.vue
  components/PoisCard/Fields.story.vue
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCardLight.story.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisDetails/FieldsGroup.story.vue
  components/PoisDetails/PoiDetails.story.vue
  components/PoisList/PoisTable.story.vue
  components/UI/FavoriteIcon.story.vue
  components/UI/IconButton.story.vue
  components/UI/TeritorioIcon.story.vue
  histoire.config.ts
  nuxt.config.ts
  package.json
  utils/histoire-plugin-screenshot.ts
  utils/histoire-setup.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: replace vue-agile by vuetify
  components/PoisDetails/Carousel.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: clean pages/poi/[id]/details.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix tracking
  plugins/tracking.ts
Due: yarn eslint --fix

chore: migrate ref to vue 3
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Map/MapPois.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Share.vue
  components/Search/SearchInput.vue
  components/UI/Badge.vue
  package.json
Due: yarn eslint --fix, yarn stylelint

fix: fix carousel config
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix MapControlsBackground images
  components/Map/MapControlsBackground.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix CategorySelector content
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

chore: update @nuxt/image
  nuxt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

chore: nuxt3 router
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapControlsBackground.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/PoisList.vue
  pages/category/[id].vue
  utils/url.ts
Due: yarn eslint --fix, yarn stylelint

chore: setup maplibre
  components/Map/Map.vue
  components/Map/MapControls.vue
  package.json
  pages/pois/[ids]/map.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

docs: fix Readme
  README.md
Due: none

test: fix jest config
  components/Fields/OpeningHours.test.ts
  jest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: fix order of transition-group and client-only
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix with new css reset with vuetify
  components/Home/SelectedCategories.vue
  components/MainMap/FavoriteMenu.vue
  components/Menu/Category.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typing in vue template
  components/MainMap/MapControlsExplore.vue
  components/Map/MapControlsBackground.vue
  components/UI/ShareLinkModal.vue
Due: yarn eslint --fix, yarn stylelint
