Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

feat: show route waypoints like pois
  components/PoisCard/PoiCard.stories.ts
  components/PoisCard/PoiCardLight.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisDetails/Route/WayPoint.vue
  cypress/fixtures/teritorio/references/poi/2/route:point:type.geojson
  cypress/fixtures/teritorio/references/pois.json
  lib/apiPoiDeps.ts
Due: yarn eslint --fix, yarn stylelint

fix: remove console.error()
  components/Home/Menu.vue
Due: yarn eslint --fix, yarn stylelint

feat: use bbox as defautl for details, support zone teritorio/vido-private#757
  cypress/e2e/mock.ts
  lib/apiPois.ts
Due: yarn eslint --fix

fix: distinguish external links
  components/Fields/Website.vue
  components/MainMap/NavMenu.vue
  components/PoisDetails/Field.vue
  components/PoisDetails/Mapillary.vue
  components/UI/ExternalLink.vue
Due: yarn eslint --fix, yarn stylelint

feat: use search type
  components/Home/MainHeader.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

feat: remove verbs from favorites menu
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix

fix: add overflow on search input
  components/Home/MainHeader.vue
Due: yarn eslint --fix, yarn stylelint

fix: use teritorio.github.io in place of unpkg.com
  cypress/fixtures/teritorio/references/settings.json
Due: none

feat: update poi card light design
  components/PoisCard/PoiCardLight.vue
  components/PoisCard/PoisDeck.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean unused import
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

fix: support bad category id in url
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: design v2 with underline
  components/MainMap/NavMenu.vue
  components/UI/ExternalLink.vue
Due: yarn eslint --fix, yarn stylelint

chore: release v1.18.0
  package.json
Due: none

fix: use ExternalLink in CoordinateAction
  components/Fields/CoordinateAction.vue
Due: yarn eslint --fix, yarn stylelint

fix: add missing stories
  components/PoisCard/PoiCardLight.stories.ts
  components/PoisCard/PoisDeck.stories.ts
Due: yarn eslint --fix

feat: split coords as field
  components/Fields/Coordinates.vue
  components/PoisDetails/Location.vue
Due: yarn eslint --fix, yarn stylelint

feat: use std fields to show lat/lon
  components/PoisCard/Field.vue
  components/PoisDetails/Location.vue
  components/PoisDetails/PoiDetails.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

chore: update @teritorio/map
  package.json
  yarn.lock
Due: none

deploy: 07c0b2cf98d027e7fa2aaa65b55a8ae35a345ead
  iframe.html
  main.736649d7.iframe.bundle.js
  main.736649d7.iframe.bundle.js.map
  main.844e2caf.iframe.bundle.js
  main.844e2caf.iframe.bundle.js.LICENSE.txt
  main.844e2caf.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

feat: details, show coords on waypoints #1
  components/Fields/Coordinates.vue
  components/PoisCard/Field.stories.ts
  components/PoisCard/Field.vue
  components/PoisCard/Fields.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  lib/apiPoiDeps.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix misc lint warning
  components/Fields/Coordinates.vue
  components/Home/Home.vue
  components/PoisDetails/FieldsGroup.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 9a3ac78366cb7fb9756691c36644d132986a00d4
  iframe.html
  main.67bb39a2.iframe.bundle.js
  main.67bb39a2.iframe.bundle.js.LICENSE.txt
  main.67bb39a2.iframe.bundle.js.map
  main.844e2caf.iframe.bundle.js
  main.844e2caf.iframe.bundle.js.map
  pages/index.6a7d632e.iframe.bundle.js
  pages/index.730f1d3d.iframe.bundle.js
  project.json
  runtime~main.8bba3b4a.iframe.bundle.js
  runtime~main.ee9644ab.iframe.bundle.js
Due: yarn eslint --fix

Revert "ci: run on self-hosted"
  .github/workflows/ci.yml
Due: none

deploy: 828e0bb05c51382ca280eac41480dec3dcd85f56
  iframe.html
  main.67bb39a2.iframe.bundle.js
  main.67bb39a2.iframe.bundle.js.map
  main.c04bcebb.iframe.bundle.js
  main.c04bcebb.iframe.bundle.js.LICENSE.txt
  main.c04bcebb.iframe.bundle.js.map
  project.json
  vendors~main.294de69d.iframe.bundle.js
  vendors~main.294de69d.iframe.bundle.js.LICENSE.txt
  vendors~main.294de69d.iframe.bundle.js.map
  vendors~main.543abb9e.iframe.bundle.js.map
Due: yarn eslint --fix

fix: details, hide empty blocks
  components/PoisDetails/Field.stories.ts
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsGroup.vue
Due: yarn eslint --fix, yarn stylelint

fix: simplify template Field
  components/PoisDetails/Field.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 7f14a621e3a47befa18471d673f485f323a5e758
  iframe.html
  main.2d379a90.iframe.bundle.js
  main.2d379a90.iframe.bundle.js.LICENSE.txt
  main.2d379a90.iframe.bundle.js.map
  main.c04bcebb.iframe.bundle.js
  main.c04bcebb.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: no show Filed label
  components/PoisDetails/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: show coord and addres in PoiDetails
  components/PoisDetails/Field.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix detail block vertical margin
  components/PoisDetails/Fields.vue
Due: yarn eslint --fix, yarn stylelint

deploy: f5e1da243f0a527e7500abb5258482df78a32e3f
  iframe.html
  main.2d379a90.iframe.bundle.js
  main.2d379a90.iframe.bundle.js.map
  main.6ef275c9.iframe.bundle.js
  main.6ef275c9.iframe.bundle.js.LICENSE.txt
  main.6ef275c9.iframe.bundle.js.map
  pages/poi/_id/details.26bdcf0a.iframe.bundle.js
  pages/poi/_id/details.ae61dd7c.iframe.bundle.js
  project.json
  runtime~main.cac4f504.iframe.bundle.js
  runtime~main.ee9644ab.iframe.bundle.js
Due: yarn eslint --fix

feat: support optional field label in details
  components/PoisDetails/Field.stories.ts
  components/PoisDetails/Field.vue
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/FieldsHeader.vue
  lib/apiPois.ts
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

chore: update @teritorio/map to fix bug
  package.json
  yarn.lock
Due: none

deploy: 28ae018e8a3dc98f5cfb9a40b2142d236807e5d8
  iframe.html
  lang-en.js.1eb63a65.iframe.bundle.js
  lang-en.js.3ee24abe.iframe.bundle.js
  lang-es.js.72e00024.iframe.bundle.js
  lang-es.js.f4245e03.iframe.bundle.js
  lang-fr.js.431f40ca.iframe.bundle.js
  lang-fr.js.f4244d41.iframe.bundle.js
  main.02fe4063.iframe.bundle.js
  main.02fe4063.iframe.bundle.js.LICENSE.txt
  main.02fe4063.iframe.bundle.js.map
  main.6ef275c9.iframe.bundle.js
  main.6ef275c9.iframe.bundle.js.map
  project.json
  runtime~main.55a8e1fa.iframe.bundle.js
  runtime~main.cac4f504.iframe.bundle.js
  vendors~main.1f8b4566.iframe.bundle.js
  vendors~main.1f8b4566.iframe.bundle.js.LICENSE.txt
  vendors~main.1f8b4566.iframe.bundle.js.map
  vendors~main.294de69d.iframe.bundle.js
  vendors~main.294de69d.iframe.bundle.js.map
Due: yarn eslint --fix

fix: clean/align Field of Card and Detail
  components/PoisCard/Field.vue
  components/PoisDetails/Field.vue
  components/PoisDetails/Fields.vue
Due: yarn eslint --fix, yarn stylelint

refactor: align Field POI and Detail
  components/PoisCard/Field.vue
  components/PoisCard/PoiCard.vue
  components/PoisDetails/Field.vue
Due: yarn eslint --fix, yarn stylelint

refactor: merge POI and Detail Field
  components/Fields/Field.stories.ts
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/RouteField.vue
  components/PoisCard/Field.stories.ts
  components/PoisCard/Fields.vue
  components/PoisDetails/Field.vue
  components/PoisDetails/Fields.vue
  components/PoisDetails/PoiDetails.vue
  plugins/property-translations.ts
Due: yarn eslint --fix, yarn stylelint

deploy: 32a4c617b80784684ae18e9cac1cc8a08bd36696
  iframe.html
  main.02fe4063.iframe.bundle.js
  main.02fe4063.iframe.bundle.js.map
  main.834127ae.iframe.bundle.js
  main.834127ae.iframe.bundle.js.LICENSE.txt
  main.834127ae.iframe.bundle.js.map
  pages/poi/_id/details.208b21a9.iframe.bundle.js
  pages/poi/_id/details.26bdcf0a.iframe.bundle.js
  project.json
  runtime~main.55a8e1fa.iframe.bundle.js
  runtime~main.b3f8acc3.iframe.bundle.js
  vendors~main.1f8b4566.iframe.bundle.js
  vendors~main.1f8b4566.iframe.bundle.js.map
  vendors~main.344a1e16.iframe.bundle.js
  vendors~main.344a1e16.iframe.bundle.js.LICENSE.txt
  vendors~main.344a1e16.iframe.bundle.js.map
Due: yarn eslint --fix

fix: remove duplicate description on details for large layout
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
