Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

fix(EmergencyBanner): translate dismiss aria-label, remove redundant margin
  components/EmergencyBanner.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

feat: add EmergencyBanner component for theme-driven urgent notifications (#860)
  components/EmergencyBanner.vue
  layouts/default.vue
  lib/apiSettings.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

Revert "feat: add EmergencyBanner component for theme-driven urgent notifications (#860)"
  components/EmergencyBanner.vue
  layouts/default.vue
  lib/apiSettings.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix: null/type guards for Phone, Filters/Select, SelectedCategories and NaN POI ID
  components/Fields/Phone.vue
  components/Filters/Select.vue
  components/Home/SelectedCategories.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix(SelectedCategories): warn on missing category and empty string fallback for name
  components/Home/SelectedCategories.vue
Due: yarn eslint --fix, yarn stylelint

fix: null/type guards for Phone, Filters/Select, SelectedCategories and NaN POI ID (#864)
  components/Fields/Phone.vue
  components/Filters/Select.vue
  components/Home/SelectedCategories.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix(pois/map): silence 404 errors on deps fetch from Sentry
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix(Map): catch WebGL context creation failure to prevent unhandled exception
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix(Map): catch WebGL context creation failure to prevent unhandled exception (#866)
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

feat(pois/map): add hash-based map position for iframe zoom control
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

feat(pois/map): add hash-based map position for iframe zoom control (#867)
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

feat: add EmergencyBanner component for theme-driven notifications
  components/EmergencyBanner.vue
  components/Home/Home.vue
  lib/apiSettings.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

refactor: rename EmergencyBanner to Banner and emergency_* fields to banner_*
  components/Banner.vue
  components/Home/Home.vue
  lib/apiSettings.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix(Banner): remove dev mock content
  components/Banner.vue
Due: yarn eslint --fix, yarn stylelint

fix(Banner): cover 4 review findings
  components/Banner.vue
  components/Home/Home.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): rename render type to osm:opening_hours@event
  components/Fields/OpeningHours.vue
  types/api/field.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): prevent double pretty render in Details for event render type
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

refactor(OpeningHours): simplify pretty block and add event render test
  components/Fields/OpeningHours.test.js
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

feat(OpeningHours): add osm:opening_hours:event render type
  components/Fields/OpeningHours.vue
  types/api/field.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

refactor(Banner): remove isomorphic-dompurify, trust admin API content as elsewhere in the project
  components/Banner.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

test(OpeningHours): add variableWeek and comment suppression cases for event render
  components/Fields/OpeningHours.test.js
Due: yarn eslint --fix

chore: v1.28.8
  package.json
Due: none

chore(deps): bypass opening_hours with local fork @noe-teritorio/opening_hours@3.14.1
  package.json
  yarn.lock
Due: none

fix(deps): upgrade @noe-teritorio/opening_hours to 3.14.2 (weekday ordering)
  package.json
  yarn.lock
Due: none

chore(deps): upgrade @noe-teritorio/opening_hours to 3.14.3
  package.json
  yarn.lock
Due: none

chore(deps): upgrade @noe-teritorio/opening_hours to 3.14.4
  package.json
  yarn.lock
Due: none

fix(DateRange): remove misleading day count for multi-date events
  components/Fields/DateRange.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix(filters): check opening_hours occurrences for date_range filter
  composables/useDateRangeFilter.ts
  stores/menu.ts
Due: yarn eslint --fix

refactor(useDateRangeFilter): memoize nominatim, add blank line, add tests
  composables/useDateRangeFilter.test.js
  composables/useDateRangeFilter.ts
  stores/menu.ts
Due: yarn eslint --fix

fix(filters): check opening_hours occurrences for date_range filter (#872)
  components/Fields/DateRange.vue
  composables/useDateRangeFilter.test.js
  composables/useDateRangeFilter.ts
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
  package.json
  stores/menu.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

refactor(DateRange): assign props and inline render-key literal
  components/Fields/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
