Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

refactor(error): replace showError with throw and drop fatal on component-level errors
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

refactor(error): extract createFetchError helper and apply across all call sites
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
  composables/useIsochrone.ts
  composables/usePois.ts
  layouts/default.vue
  pages/articles/[slug].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  utils/fetchError.ts
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): correct swapped lat/lon coordinates in factory
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

refactor(OpeningHours): cache parsed instance in a single computed
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): log parse/compute errors in dev mode
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): remove @ts-expect-error suppressions
  components/Fields/OpeningHours.vue
  declarations.d.ts
Due: yarn eslint --fix, yarn stylelint

feat(OpeningHours): detect one-time events and fix minor code issues
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

test(OpeningHours): fix renderKey, configure settings, add isEvent tests
  components/Fields/OpeningHours.test.js
Due: yarn eslint --fix

feat(OpeningHours): extend isEvent to month-prefixed strings
  components/Fields/OpeningHours.test.js
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): prevent isEvent false positive on seasonal date ranges
  components/Fields/OpeningHours.test.js
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

fix(image-proxy): auto-rotate images based on EXIF orientation
  server/routes/image-proxy.get.ts
Due: yarn eslint --fix

fix(fields): pass locale to OpeningHours constructor for translated comments
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

chore(deps): upgrade opening_hours to 3.13.0
  package.json
  yarn.lock
Due: none

fix(ci): use github.ref instead of github.event.ref for tag detection
  .github/workflows/ci.yml
Due: none

chore: v1.28.7
  package.json
Due: none

fix(OpeningHours): wrap status in ClientOnly to prevent SSR/CSR mismatch
  components/Fields/OpeningHours.test.js
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): move br inside ClientOnly to avoid orphan spacing in SSR
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

chore(deps): upgrade opening_hours to 3.14.0
  package.json
  yarn.lock
Due: none

fix(OpeningHours): handle unknown state and suppress status for one-time events
  components/Fields/OpeningHours.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): show prettifyValue in Card mode for one-time events
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): format event date+time in Card mode using getOpenIntervals
  components/Fields/OpeningHours.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix(OpeningHours): apply event date+time format consistently in Default mode
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

Revert "feat(OpeningHours): extend isEvent to month-prefixed strings"
  components/Fields/OpeningHours.test.js
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

Revert "feat(OpeningHours): detect one-time events and fix minor code issues"
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

Revert "fix(OpeningHours): prevent isEvent false positive on seasonal date ranges"
  components/Fields/OpeningHours.test.js
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

revert(OpeningHours): remove leftover isEvent test cases
  components/Fields/OpeningHours.test.js
Due: yarn eslint --fix

fix(OpeningHours): restore type safety and deduplicate useI18n call
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

revert(OpeningHours): remove isEvent computed and related tests (#856)
  components/Fields/OpeningHours.test.js
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

feat: add EmergencyBanner component for theme-driven urgent notifications
  components/EmergencyBanner.vue
  layouts/default.vue
  lib/apiSettings.ts
Due: yarn eslint --fix, yarn stylelint

fix(EmergencyBanner): use locale for message, i18n key for action button
  components/EmergencyBanner.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
