Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

fix: show coords label on waypoint
  lib/apiPoiDeps.ts
Due: yarn eslint --fix

feat: reset CMS CSS style
  components/Fields/Field.vue
  package.json
  tailwind.config.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

deploy: 821cd1c3180c1275b61746cb0da8dae3e8b4db0e
  iframe.html
  main.834127ae.iframe.bundle.js
  main.834127ae.iframe.bundle.js.map
  main.eabe9411.iframe.bundle.js
  main.eabe9411.iframe.bundle.js.LICENSE.txt
  main.eabe9411.iframe.bundle.js.map
  pages/poi/_id/details.208b21a9.iframe.bundle.js
  pages/poi/_id/details.e4dfe1cc.iframe.bundle.js
  project.json
  runtime~main.6d5ca580.iframe.bundle.js
  runtime~main.b3f8acc3.iframe.bundle.js
  vendors~main.344a1e16.iframe.bundle.js
  vendors~main.344a1e16.iframe.bundle.js.map
  vendors~main.fb484899.iframe.bundle.js
  vendors~main.fb484899.iframe.bundle.js.LICENSE.txt
  vendors~main.fb484899.iframe.bundle.js.map
Due: yarn eslint --fix

feat: add download field
  components/Fields/Field.stories.ts
  components/Fields/Field.vue
  lib/apiPois.ts
Due: yarn eslint --fix, yarn stylelint

deploy: 3e5681b8f721cd4ba1e1633f9dea4fd780638442
  iframe.html
  main.eabe9411.iframe.bundle.js
  main.eabe9411.iframe.bundle.js.map
  main.f6521184.iframe.bundle.js
  main.f6521184.iframe.bundle.js.LICENSE.txt
  main.f6521184.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: detail, no class title as default
  components/PoisDetails/Fields.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 8939faf9e48d5101924b913a7c982cd840dfa52d
  iframe.html
  main.e40aa41d.iframe.bundle.js
  main.e40aa41d.iframe.bundle.js.LICENSE.txt
  main.e40aa41d.iframe.bundle.js.map
  main.f6521184.iframe.bundle.js
  main.f6521184.iframe.bundle.js.map
  pages/poi/_id/details.2b7631c5.iframe.bundle.js
  pages/poi/_id/details.e4dfe1cc.iframe.bundle.js
  project.json
  runtime~main.02d6fa5c.iframe.bundle.js
  runtime~main.6d5ca580.iframe.bundle.js
Due: yarn eslint --fix

fix: show multi-valued field as list
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: links to file, show only last part
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: show duration for periods
  components/Fields/DateRange.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: remove facebook field color
  components/Fields/Facebook.vue
Due: yarn eslint --fix, yarn stylelint

fix: field margin
  components/PoisDetails/Fields.vue
Due: yarn eslint --fix, yarn stylelint

fix: field OH
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

deploy: d14133cb0e4a7d923c551848e01a0b4f68ab3700
  iframe.html
  lang-en.js.3ee24abe.iframe.bundle.js
  lang-en.js.a11f965e.iframe.bundle.js
  lang-es.js.1516a445.iframe.bundle.js
  lang-es.js.f4245e03.iframe.bundle.js
  lang-fr.js.d918630f.iframe.bundle.js
  lang-fr.js.f4244d41.iframe.bundle.js
  main.a56c765d.iframe.bundle.js
  main.a56c765d.iframe.bundle.js.LICENSE.txt
  main.a56c765d.iframe.bundle.js.map
  main.e40aa41d.iframe.bundle.js
  main.e40aa41d.iframe.bundle.js.map
  project.json
  runtime~main.02d6fa5c.iframe.bundle.js
  runtime~main.fa9e79d2.iframe.bundle.js
Due: yarn eslint --fix

fix: download file name
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 7118530228aacd5736f35a2255aa6f85afac8f7c
  iframe.html
  main.8bc27cea.iframe.bundle.js
  main.8bc27cea.iframe.bundle.js.LICENSE.txt
  main.8bc27cea.iframe.bundle.js.map
  main.a56c765d.iframe.bundle.js
  main.a56c765d.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

fix: set complex fields label slot
  components/Fields/AddressField.vue
  components/Fields/Coordinates.vue
  components/Fields/DateRange.vue
  components/Fields/Field.vue
  components/Fields/RouteField.vue
Due: yarn eslint --fix, yarn stylelint

deploy: d0b90613c258d3af87df09b1356a3b273505a97b
  iframe.html
  main.8bc27cea.iframe.bundle.js
  main.8bc27cea.iframe.bundle.js.map
  main.c5e0407c.iframe.bundle.js
  main.c5e0407c.iframe.bundle.js.LICENSE.txt
  main.c5e0407c.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

refactor: logo refactoring
  components/Home/Home.vue
  components/Home/Menu.vue
  components/PoisDetails/Header.vue
  components/UI/Logo.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactoring search compo
  components/Home/Home.vue
  components/Home/MainHeader.vue
  components/Home/Menu.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

fix: route link in poi card #10
  components/Fields/CoordinateAction.vue
Due: yarn eslint --fix, yarn stylelint

feat: use vue-agile as image carousel teritorio/vido-private#835
  components/PoisDetails/Carousel.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: fix search placeholder
  components/Search/SearchInput.vue
Due: yarn eslint --fix, yarn stylelint

fix: poi card, fix image fit #11
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 119f6feb08b37843298e22421ba7dd685938a968
  iframe.html
  main.146f7607.iframe.bundle.js
  main.146f7607.iframe.bundle.js.LICENSE.txt
  main.146f7607.iframe.bundle.js.map
  main.5684f090.iframe.bundle.js
  main.5684f090.iframe.bundle.js.map
  project.json
  vendors~main.5d4473b1.iframe.bundle.js
  vendors~main.5d4473b1.iframe.bundle.js.map
  vendors~main.c6ccfdd2.iframe.bundle.js
  vendors~main.c6ccfdd2.iframe.bundle.js.LICENSE.txt
  vendors~main.c6ccfdd2.iframe.bundle.js.map
Due: yarn eslint --fix

fix: refactor & fix exit explore mode on small layout #12
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

fix: init favorites from localstorage on details page #8
  components/Home/Home.vue
  components/PoisDetails/PoiDetails.vue
  store/favorite.ts
Due: yarn eslint --fix, yarn stylelint

feat: add to vuex-shared-mutations to share favorties agains tabs #8
  nuxt.config.ts
  package.json
  plugins/vuex-shared-mutations.js
  store/favorite.ts
  yarn.lock
Due: yarn eslint --fix

deploy: b7f71c77d31f6d20a19f8b101eada69e94b173a0
  iframe.html
  main.146f7607.iframe.bundle.js
  main.146f7607.iframe.bundle.js.map
  main.9553c69d.iframe.bundle.js
  main.9553c69d.iframe.bundle.js.LICENSE.txt
  main.9553c69d.iframe.bundle.js.map
  pages/index.7f9d6f60.iframe.bundle.js
  pages/index.8e4b3a8d.iframe.bundle.js
  pages/poi/_id/details.d07bf023.iframe.bundle.js
  pages/poi/_id/details.ed54cecf.iframe.bundle.js
  project.json
  runtime~main.52fa47d1.iframe.bundle.js
  runtime~main.b049767f.iframe.bundle.js
  vendors~main.4a8c57ec.iframe.bundle.js
  vendors~main.4a8c57ec.iframe.bundle.js.LICENSE.txt
  vendors~main.4a8c57ec.iframe.bundle.js.map
  vendors~main.c6ccfdd2.iframe.bundle.js
  vendors~main.c6ccfdd2.iframe.bundle.js.map
Due: yarn eslint --fix

chore: update cypress
  package.json
  yarn.lock
Due: none

chore: update misc small libs
  package.json
  yarn.lock
Due: none

chore: update vue and nuxt utils
  package.json
  yarn.lock
Due: none

chore: update eslint
  package.json
  yarn.lock
Due: none

chore: update jest
  package.json
  yarn.lock
Due: none

chore: update sass
  package.json
  yarn.lock
Due: none

chore: update stylelint
  package.json
  yarn.lock
Due: none

chore: update core
  package.json
  yarn.lock
Due: none

chore: update css libs
  package.json
  yarn.lock
Due: none
