Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

Add docker healtcheck
  Dockerfile
  server/routes/up.ts
Due: yarn eslint --fix

feat: support multi themes #666
  components/Home/Home.vue
  components/Layout/Header.vue
  components/PoisList/PoisTable.vue
  error.vue
  layouts/default.vue
  lib/apiSettings.ts
  pages/articles/[slug].vue
  pages/poi/[id]/details.vue
  server/routes/manifest.webmanifest.ts
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

fix: query params on list page #660
  composables/usePois.ts
Due: yarn eslint --fix

chore: v1.26.4
  package.json
Due: none

fix: add empty strings on missing settings
  lib/apiSettings.ts
Due: yarn eslint --fix

chore: upgrade nuxt to v3.8.1
  package.json
  pages/index.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

refactor: remove custom useAsyncData #622
  lib/getAsyncData.ts
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: upgrade nuxt to v3.10.0 #662
  lib/apiArticle.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: undefined grid rows template #672
  components/Menu/ItemList.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.26.5
  package.json
Due: none

fix: non-reactive explorer / favorite modes #674
  stores/site.ts
Due: yarn eslint --fix

fix: non-reactive explorer / favorite modes #674
  pages/embedded.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

chore: v1.26.6
  package.json
Due: none

refactor: move some config key outside of vidos-config.json #671
  .env.sample
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  components/UI/ShareLinkModal.vue
  composables/useIsochrone.ts
  docker-compose.yml
  nuxt.config.ts
  plugins/sentry.client.ts
  server/plugins/sentry.ts
  stores/search.ts
  utils/types-config.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

refactor: extract API_ENDPOINT from config #671
  .env.sample
  .gitignore
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/MapPois.vue
  composables/useContrib.ts
  composables/usePois.ts
  docker-compose.yml
  layouts/default.vue
  layouts/error.vue
  lib/apiArticle.ts
  lib/apiMenu.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
  nuxt.config.ts
  pages/embedded.vue
  pages/index.vue
  utils/types-config.ts
  utils/vido-config-static.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

refactor: remove unused api functions #677
  lib/apiArticle.ts
  lib/apiMenu.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
  stores/menu.ts
  stores/site.ts
Due: yarn eslint --fix

refactor: make apiEndpoint dynamic #671
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/MapPois.vue
  composables/useApiEndpoint.ts
  composables/useContrib.ts
  composables/usePois.ts
  layouts/default.vue
  layouts/error.vue
  lib/apiArticle.ts
  lib/apiMenu.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiPropertyTranslations.ts
  lib/apiSettings.ts
  nuxt.config.ts
  pages/embedded.vue
  pages/index.vue
  utils/vido-config-static.ts
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on DateRange #662
  components/Fields/DateRange.vue
  components/PoisDetails/FieldsGroup.vue
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

chore: upgrade nuxt to v3.19.3 #662
  components/Fields/Field.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Menu/Filter.vue
  eslint.config.js
  i18n/i18n.config.ts
  i18n/locales/en-GB.ts
  i18n/locales/es-ES.ts
  i18n/locales/fr-FR.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Field #662
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on FavoritesOverlay #662
  components/MainMap/FavoritesOverlay.vue
Due: yarn eslint --fix, yarn stylelint

chore: fix import alias #662
  error.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Select #662
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

chore: upgrade sass / sass-loader #662
  components/Layout/Footer.vue
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
  components/UI/IconsBar.vue
  package.json
  pages/articles/[slug].vue
  pages/category.vue
  pages/poi/[id]/details.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Coordinates #662
  components/Fields/Coordinates.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on RouteField #662
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on MapControlsExplorer #662
  components/MainMap/MapControlsExplore.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Category #662
  components/Menu/Category.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move some config key outside of vidos-config.json #671
  .env.sample
  .gitignore
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/MapPois.vue
  components/UI/ShareLinkModal.vue
  composables/useContrib.ts
  composables/useIsochrone.ts
  composables/usePois.ts
  docker-compose.yml
  layouts/default.vue
  layouts/error.vue
  lib/apiArticle.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  nuxt.config.ts
  pages/embedded.vue
  pages/index.vue
  plugins/sentry.client.ts
  server/plugins/sentry.ts
  stores/search.ts
  utils/types-config.ts
  utils/vido-config-static.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint

feat: fetch image proxies dynamically #671
  Dockerfile
  cypress/fixtures/teritorio/references/settings.json
  lib/apiSettings.ts
  nuxt.config.ts
  package.json
  utils/fetch-domains.ts
  utils/types-config.ts
  utils/vido-config-static.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix

feat: add tracking flag #671
  .env.sample
  nuxt.config.ts
  plugins/tracking.ts
Due: yarn eslint --fix

refactor: extract more settings from API #671
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/UI/CookiesConsent.vue
  composables/useIsochrone.ts
  cypress/fixtures/teritorio/references/settings.json
  index.d.ts
  layouts/default.vue
  layouts/error.vue
  lib/apiSettings.ts
  pages/category.vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/tracking.ts
  server/routes/manifest.webmanifest.ts
  stores/site.ts
  utils/types-config.ts
  vidos-config-cypress.json
  vidos-config-empty.json
  vidos.config.sample.ts
Due: yarn eslint --fix, yarn stylelint
