Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

chore: v1.19.3
  package.json
Due: none

deploy: 1820752f63b7f4ce6ec21a8d7d13f1f09170da1b
  project.json
Due: none

fix: fix cypress html validate
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

:sparkles: add full modal + handling website link with copy
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

:bug: [fix-50] update style header and scroll on desktop
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

:zap: add button to clear categories in the list
  components/Home/Home.vue
  components/Home/SelectedCategories.vue
  locales/es.js
  package.json
Due: yarn eslint --fix, yarn stylelint

:bug: scroll top on menu navigation in bottom menu
  components/Home/Home.vue
  components/Home/Menu.vue
Due: yarn eslint --fix, yarn stylelint

style: displace the closing button to clear all
  components/Home/Home.vue
  components/Home/SelectedCategories.vue
Due: yarn eslint --fix, yarn stylelint

feat: add Stars Field component in Field list
  components/Fields/Field.vue
  components/Fields/Stars.stories.ts
  components/Fields/Stars.vue
  components/PoisCard/PoiCard.vue
  locales/en.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

deploy: 6df9f35a20a1326cc289ed3c6913fbafb1e6b7df
  api.yaml
  iframe.html
  lang-en.js.0c08264f.iframe.bundle.js
  lang-en.js.dd0f6715.iframe.bundle.js
  lang-es.js.374293d4.iframe.bundle.js
  lang-es.js.d2a8a062.iframe.bundle.js
  lang-fr.js.57e06511.iframe.bundle.js
  lang-fr.js.99d12f75.iframe.bundle.js
  pages/category/_id.65270c70.iframe.bundle.js
  pages/category/_id.c66214c4.iframe.bundle.js
  pages/index.43663400.iframe.bundle.js
  pages/index.51fd565f.iframe.bundle.js
  project.json
  runtime~main.03cff8c0.iframe.bundle.js
  runtime~main.fe021a7c.iframe.bundle.js
  vendors~main.5b7bb7f7.iframe.bundle.js
  vendors~main.5b7bb7f7.iframe.bundle.js.LICENSE.txt
  vendors~main.5b7bb7f7.iframe.bundle.js.map
  vendors~main.856b030a.iframe.bundle.js
  vendors~main.856b030a.iframe.bundle.js.map
Due: yarn eslint --fix

deploy: 8dd7041d9a3f18d5657331568e16eef23a3abfa1
  iframe.html
  lang-en.js.0c08264f.iframe.bundle.js
  lang-en.js.37833ffd.iframe.bundle.js
  lang-es.js.d2a8a062.iframe.bundle.js
  lang-es.js.e1ccc5b0.iframe.bundle.js
  lang-fr.js.99d12f75.iframe.bundle.js
  lang-fr.js.d9a26d42.iframe.bundle.js
  main.3dc72396.iframe.bundle.js
  main.3dc72396.iframe.bundle.js.map
  main.7279ccee.iframe.bundle.js
  main.7279ccee.iframe.bundle.js.LICENSE.txt
  main.7279ccee.iframe.bundle.js.map
  project.json
  runtime~main.9fbc3bd0.iframe.bundle.js
  runtime~main.fe021a7c.iframe.bundle.js
  vendors~main.416c1324.iframe.bundle.js
  vendors~main.416c1324.iframe.bundle.js.LICENSE.txt
  vendors~main.416c1324.iframe.bundle.js.map
  vendors~main.5b7bb7f7.iframe.bundle.js
  vendors~main.5b7bb7f7.iframe.bundle.js.map
Due: yarn eslint --fix

feat: list, show on map
  components/PoisList/PoisList.vue
  locales/en.js
  locales/es.js
  locales/fr.js
  pages/category/_id.vue
Due: yarn eslint --fix, yarn stylelint

feat: add PoisList
  __screenshots__/actual/PoisTable/PoisTable/Default.png
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.stories.ts
  components/PoisList/PoisTable.vue
  cypress/e2e/category/pois-list.cy.ts
  cypress/fixtures/teritorio/references/pois.json
  lib/apiPois.ts
  locales/en.js
  locales/es.js
  locales/fr.js
  nuxt.config.ts
  pages/category/_id.vue
Due: yarn eslint --fix, yarn stylelint

feat: download from list page
  components/PoisList/PoisList.vue
  lib/apiPois.ts
  locales/en.js
  locales/es.js
  locales/fr.js
  pages/category/_id.vue
Due: yarn eslint --fix, yarn stylelint

docs: add /category/{id}
  README.md
  static/api.yaml
Due: none

feat: add Stars Field component #45
  __screenshots__/actual/Fields/Stars/Default.png
  __screenshots__/actual/Fields/Stars/More.png
  __screenshots__/actual/Fields/Stars/None.png
  components/Fields/Field.vue
  components/Fields/Stars.stories.ts
  components/Fields/Stars.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: catch all exceptions from opening_hours
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

feat: select category on page list
  components/PoisList/PoisList.vue
  pages/category/_id.vue
Due: yarn eslint --fix, yarn stylelint

feat: clear all categories #35
  components/Home/Home.vue
  components/Home/SelectedCategories.vue
  locales/en.js
  locales/es.js
  locales/fr.js
  package.json
Due: yarn eslint --fix, yarn stylelint

fix: ignore hidden menu entry in CategorySelector
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactor PoisList/CategorySelector
  components/PoisList/CategorySelector.vue
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

feat: list, add prefix to menu
  components/PoisList/PoisList.vue
Due: yarn eslint --fix, yarn stylelint

deploy: f232eeace386e4f557c08db3b82a8aa2a40d96e6
  iframe.html
  main.32ea663c.iframe.bundle.js
  main.32ea663c.iframe.bundle.js.LICENSE.txt
  main.32ea663c.iframe.bundle.js.map
  main.7279ccee.iframe.bundle.js
  main.7279ccee.iframe.bundle.js.map
  pages/category/_id.278c67af.iframe.bundle.js
  pages/category/_id.c66214c4.iframe.bundle.js
  pages/index.51fd565f.iframe.bundle.js
  pages/index.fc60d907.iframe.bundle.js
  project.json
  runtime~main.9fbc3bd0.iframe.bundle.js
  runtime~main.f47043ec.iframe.bundle.js
  vendors~main.16deeb64.iframe.bundle.js
  vendors~main.16deeb64.iframe.bundle.js.LICENSE.txt
  vendors~main.16deeb64.iframe.bundle.js.map
  vendors~main.416c1324.iframe.bundle.js
  vendors~main.416c1324.iframe.bundle.js.map
Due: yarn eslint --fix

feat: show route/poly in /pois/{ids}/map
  components/MainMap/MapFeatures.vue
  components/Map/MapPois.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  pages/pois/_ids/map.vue
  utils/styles.ts
Due: yarn eslint --fix, yarn stylelint

deploy: 4b17254f14211295a198a44d6e2e9683d49c333f
  iframe.html
  main.32ea663c.iframe.bundle.js
  main.32ea663c.iframe.bundle.js.map
  main.6cd3a4b5.iframe.bundle.js
  main.6cd3a4b5.iframe.bundle.js.LICENSE.txt
  main.6cd3a4b5.iframe.bundle.js.map
  pages/pois/_ids/map.27b0c876.iframe.bundle.js
  pages/pois/_ids/map.3beb9f88.iframe.bundle.js
  project.json
  runtime~main.87df1d41.iframe.bundle.js
  runtime~main.f47043ec.iframe.bundle.js
Due: yarn eslint --fix

refactor: refactor POI page layout, use on list
  components/Layout/Footer.vue
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/CategorySelector.vue
  components/PoisList/PoisList.vue
  pages/category/_id.vue
Due: yarn eslint --fix, yarn stylelint

deploy: cd2bd2120be0c7f7ea2b7cacf81ef338d89a92a2
  iframe.html
  main.6cd3a4b5.iframe.bundle.js
  main.6cd3a4b5.iframe.bundle.js.map
  main.e92ff01f.iframe.bundle.js
  main.e92ff01f.iframe.bundle.js.LICENSE.txt
  main.e92ff01f.iframe.bundle.js.map
  pages/category/_id.278c67af.iframe.bundle.js
  pages/category/_id.bb7114fa.iframe.bundle.js
  project.json
  runtime~main.37a27455.iframe.bundle.js
  runtime~main.87df1d41.iframe.bundle.js
  vendors~main.16deeb64.iframe.bundle.js
  vendors~main.16deeb64.iframe.bundle.js.map
  vendors~main.87cfaa94.iframe.bundle.js
  vendors~main.87cfaa94.iframe.bundle.js.LICENSE.txt
  vendors~main.87cfaa94.iframe.bundle.js.map
Due: yarn eslint --fix

feat: poi list action button layout
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  cypress/e2e/category/pois-list.cy.ts
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

deploy: 04aadf62fcbbdeb5589777a32a1b7f8ecd9cac35
  iframe.html
  pages/category/_id.8940e787.iframe.bundle.js
  pages/category/_id.bb7114fa.iframe.bundle.js
  project.json
  runtime~main.08f4f58b.iframe.bundle.js
  runtime~main.37a27455.iframe.bundle.js
Due: yarn eslint --fix

fix: fix and type /MapPois
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

feat: add defaultBounds to MapPois
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

test: more cypress test for poi list
  components/PoisList/CategorySelector.vue
  cypress/e2e/category/pois-list.cy.ts
Due: yarn eslint --fix, yarn stylelint

feat: make MapPois reactive to feature changes
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

feat: add Embedded view
  README.md
  components/Home/Embedded.vue
  components/PoisList/CategorySelector.vue
  cypress/e2e/embedded.cy.ts
  pages/embedded.vue
  static/api.yaml
Due: yarn eslint --fix, yarn stylelint

fix: more generated fixture ignore
  .gitignore
Due: none

feat: category selector, add icon and placeholder
  components/PoisList/CategorySelector.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint
