Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

ci: run ruby json generation on CI
  .github/workflows/ci.yml
Due: none

fix: fix menu
  components/Home/Menu.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 89a4e34b1870b6944acd9aa8d723d44b4002eedc
  iframe.html
  main.885610ed.iframe.bundle.js
  main.885610ed.iframe.bundle.js.LICENSE.txt
  main.885610ed.iframe.bundle.js.map
  main.ed085198.iframe.bundle.js
  main.ed085198.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

refactor: move grip button as map slot
  components/Home/Home.vue
  components/MainMap/BottomMenu.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

refactor: movein assets/fullmap.css
  assets/fullmap.css
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: fix off map attribution
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/Map/Attribution.vue
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix map controls hidden
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: simplify code
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix map POI label color
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

test: add DateRange.stories.ts
  components/Fields/DateRange.stories.ts
Due: yarn eslint --fix

fix: add MapBase.stories.ts
  components/Map/MapBase.stories.ts
Due: yarn eslint --fix

fix: fix typing in MapControlsBackground
  components/Map/MapControlsBackground.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix storybook map attribution
  components/MainMap/MapFeatures.stories.ts
  components/Map/Map.stories.ts
  components/Map/MapBase.stories.ts
  components/Map/MapPois.stories.ts
  lib/storybook-types-mock-stylegl.ts
  lib/storybook-types.ts
Due: yarn eslint --fix

ci: run storybook test on CI
  .github/workflows/ci.yml
  .gitignore
  package.json
  tsconfig.json
  vidos-config-empty.json
Due: none

test: on storybook, mock map requests
  components/MainMap/MapFeatures.stories.ts
  components/Map/Map.stories.ts
  components/Map/Map.vue
  components/Map/MapBase.stories.ts
  components/Map/MapPois.stories.ts
  lib/storybook-types-mock-stylegl.ts
  lib/storybook-types.ts
  nuxt.config.ts
  package.json
  vidos-config-empty.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: set vidoConfig as function
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  plugins/vido-config.ts
Due: yarn eslint --fix, yarn stylelint

feat: move config from buildtime to runtime
  .gitignore
  README.md
  bin/build-config.ts
  nuxt.config.ts
  package.json
  pages/index.vue
  pages/poi/_id/details.vue
  pages/pois/_ids/map.vue
  plugins/tracking.ts
  plugins/vido-config.ts
Due: yarn eslint --fix, yarn stylelint

fix: default list Field
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactor build-fixture package.json
  package.json
Due: none

fix: show filter on menu on small screen #21
  components/Home/Menu.vue
Due: yarn eslint --fix, yarn stylelint

fix: add filters into fixture menu
  cypress/fixtures/teritorio/references/menu.json
Due: none

fix: fix 3D switch vido-private#848
  components/Map/MapBase.vue
  components/Map/MapControls3D.vue
Due: yarn eslint --fix, yarn stylelint

ci: fix storycap settings
  package.json
Due: none

fix: fix storycap images
  __screenshots__/actual/Map/MapPois/Default.png
  __screenshots__/actual/PoisCard/PoiCard/Default.png
  __screenshots__/actual/PoisCard/PoiCardLight/Default.png
  cypress/fixtures/teritorio/references/pois.json
Due: none

fix: hidde geolocation control on large screen vido-private#848
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: hidde vue generated map control by default vido-private#848
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: test
  .github/workflows/ci.yml
  tailwind.config.js
Due: yarn eslint --fix

deploy: 77145844273191cd5e7b7a76712e331818e91929
  iframe.html
  main.75cd99cb.iframe.bundle.js
  main.75cd99cb.iframe.bundle.js.map
  main.9b920e9e.iframe.bundle.js
  main.9b920e9e.iframe.bundle.js.LICENSE.txt
  main.9b920e9e.iframe.bundle.js.map
  pages/pois/_ids/map.63d4abf4.iframe.bundle.js
  pages/pois/_ids/map.84e95bad.iframe.bundle.js
  project.json
  runtime~main.1220b75f.iframe.bundle.js
  runtime~main.21e21a51.iframe.bundle.js
Due: yarn eslint --fix

deploy: 1ff04922412938c8711c06da9c17341e179acee5
  iframe.html
  main.80b7eb50.iframe.bundle.js
  main.80b7eb50.iframe.bundle.js.LICENSE.txt
  main.80b7eb50.iframe.bundle.js.map
  main.e54b0e9b.iframe.bundle.js
  main.e54b0e9b.iframe.bundle.js.map
  project.json
  vendors~main.8a346e35.iframe.bundle.js
  vendors~main.8a346e35.iframe.bundle.js.map
  vendors~main.c43bbfb1.iframe.bundle.js
  vendors~main.c43bbfb1.iframe.bundle.js.LICENSE.txt
  vendors~main.c43bbfb1.iframe.bundle.js.map
Due: yarn eslint --fix

deploy: 8fc715f0388bfb15c964810334844d8bed2c76ca
  project.json
Due: none

deploy: a2aa4dd192cbfea301c65b00020314df7d5474e3
  project.json
Due: none

deploy: 3e617cdb673c3b55dedbf27a8cc0c2eb96b511f9
  project.json
Due: none

deploy: 258cdeb3013dc7672cadcc086d21aea315dba7ee
  project.json
Due: none
