Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

deploy: f1b51cf89ea9dd1372d201cd82383d8634c34ff1
  iframe.html
  main.e2175c6e.iframe.bundle.js
  main.e2175c6e.iframe.bundle.js.LICENSE.txt
  main.e2175c6e.iframe.bundle.js.map
  main.fb52ccfb.iframe.bundle.js
  main.fb52ccfb.iframe.bundle.js.map
  pages/embedded.4070f0c5.iframe.bundle.js
  pages/embedded.8cbf56b5.iframe.bundle.js
  pages/index.5a9a7fbe.iframe.bundle.js
  pages/index.b921356f.iframe.bundle.js
  project.json
  runtime~main.1fc1eb5e.iframe.bundle.js
  runtime~main.a4115360.iframe.bundle.js
  vendors~main.479e9d0c.iframe.bundle.js
  vendors~main.479e9d0c.iframe.bundle.js.map
  vendors~main.5acaa521.iframe.bundle.js
  vendors~main.5acaa521.iframe.bundle.js.LICENSE.txt
  vendors~main.5acaa521.iframe.bundle.js.map
Due: yarn eslint --fix

fix: hide SelectedCategories on small screen #61
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix PoisList URL change
  components/PoisList/PoisList.vue
  pages/category/index.vue
  pages/category/index/_id.vue
Due: yarn eslint --fix, yarn stylelint

feat: enable multi-selection in embedded
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
Due: yarn eslint --fix, yarn stylelint

feat: add SelectedCategories to Embedded
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

feat: support URL in Embedded
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  pages/embedded.vue
Due: yarn eslint --fix, yarn stylelint

chore: add storybook-addon-validate-html plugin
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

test: more embedded tests
  components/Home/SelectedCategories.vue
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix drap map on PoiCard side #56
  components/Home/Embedded.vue
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix drap map on PoiCard side #56
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move vidos config load to lib/config.ts
  lib/config.ts
  nuxt.config.ts
  plugins/vido-config.ts
Due: yarn eslint --fix

feat: add WPA manifest #44
  api/manifest.ts
  lib/apiSettings.ts
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

deploy: 07cc65780514159f64c8338886f28fd02859b4f3
  iframe.html
  main.7ccf7356.iframe.bundle.js
  main.7ccf7356.iframe.bundle.js.map
  main.b1121080.iframe.bundle.js
  main.b1121080.iframe.bundle.js.LICENSE.txt
  main.b1121080.iframe.bundle.js.map
  pages/category/index.4d5901b1.iframe.bundle.js
  pages/category/index.6b915d31.iframe.bundle.js
  pages/embedded.0d86160b.iframe.bundle.js
  pages/embedded.f614d9b5.iframe.bundle.js
  pages/index.70913d23.iframe.bundle.js
  pages/index.731ee7ab.iframe.bundle.js
  pages/poi/_id/details.6d1ad8b6.iframe.bundle.js
  pages/poi/_id/details.84308fc0.iframe.bundle.js
  pages/pois/_ids/map.272c673a.iframe.bundle.js
  pages/pois/_ids/map.d0fbfc7b.iframe.bundle.js
  project.json
  runtime~main.444fb649.iframe.bundle.js
  runtime~main.787f6245.iframe.bundle.js
  vendors~main.84fd366f.iframe.bundle.js
  vendors~main.84fd366f.iframe.bundle.js.map
  vendors~main.b9f7d3dd.iframe.bundle.js
  vendors~main.b9f7d3dd.iframe.bundle.js.LICENSE.txt
  vendors~main.b9f7d3dd.iframe.bundle.js.map
Due: yarn eslint --fix

fix: move last date changes on detail pages to the footer teritorio/vido-private#853
  components/Layout/Footer.vue
  components/Layout/PoiLayout.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix missing translation in detail page
  components/Layout/Footer.vue
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

:sparkles: do not remove selected feature when reduce bottom-menu
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

feat: do not remove selected feature when reduce bottom-menu #32
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

test: fix storybook test
  __screenshots__/actual/PoisDetails/PoiDetails/Default.png
Due: none

deploy: 221fb7eb2bd0bc95d83b02747d43812ecc1d81fa
  iframe.html
  lang-fr.js.6691827f.iframe.bundle.js
  lang-fr.js.ecc42cf5.iframe.bundle.js
  main.822be777.iframe.bundle.js
  main.822be777.iframe.bundle.js.LICENSE.txt
  main.822be777.iframe.bundle.js.map
  main.b1121080.iframe.bundle.js
  main.b1121080.iframe.bundle.js.map
  pages/index.63ca2fcb.iframe.bundle.js
  pages/index.731ee7ab.iframe.bundle.js
  project.json
  runtime~main.1221d114.iframe.bundle.js
  runtime~main.787f6245.iframe.bundle.js
Due: yarn eslint --fix

deploy: 0c6168c1bbd0ef223a70c17ade235c3fa1136009
  project.json
Due: none

deploy: acc614fe56e660d796001992898d302c09e31998
  project.json
Due: none

deploy: 9323618bd140a10f7e875a9c2660683529c3da3c
  project.json
Due: none

fix: fix manifest settings
  .github/workflows/ci.yml
  nuxt.config.ts
  package.json
Due: yarn eslint --fix

feat: show map feature on favorite mode teritorio/vido-private#769
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

deploy: d8f7dc0147546c7fc98fd0b48bb71a948dc390a1
  iframe.html
  main.4367c613.iframe.bundle.js
  main.4367c613.iframe.bundle.js.LICENSE.txt
  main.4367c613.iframe.bundle.js.map
  main.822be777.iframe.bundle.js
  main.822be777.iframe.bundle.js.map
  pages/index.63ca2fcb.iframe.bundle.js
  pages/index.c15debf4.iframe.bundle.js
  project.json
  runtime~main.1221d114.iframe.bundle.js
  runtime~main.7789ece7.iframe.bundle.js
Due: yarn eslint --fix

fix: add missing embedded files
  pages/embedded/_p1.vue
  pages/embedded/_p1/_poiId.vue
  pages/embedded/_p1/index.vue
Due: yarn eslint --fix, yarn stylelint

feat: add number range filter teritorio/vido-private#624
  __screenshots__/actual/Filters/DateRange/Default.png
  __screenshots__/actual/Filters/NumberRange/Default.png
  components/Filters/DateRange.stories.ts
  components/Filters/NumberRange.stories.ts
  components/Filters/NumberRange.vue
  components/Menu/Filter.vue
  lib/apiMenu.ts
  lib/module_types/vueform__slider/index.d.ts
  package.json
  tailwind.config.js
  utils/types-filters.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

test: longer timeout in embedded cypress test
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix

fix: fix nuxt.config.ts code format
  nuxt.config.ts
Due: yarn eslint --fix

test: fix cypress build
  nuxt.config.ts
Due: yarn eslint --fix

deploy: 3ba7d26dab923df350eadca8147848333b6a44ee
  project.json
Due: none

fix: fix how @vueform/slider is build
  nuxt.config.ts
Due: yarn eslint --fix

deploy: 4319a182f868e0b9b0b4bba251bf2cee495cf5aa
  2.0cdb19ab.iframe.bundle.js
  2.0cdb19ab.iframe.bundle.js.map
  2.f29fbedd.iframe.bundle.js
  2.f29fbedd.iframe.bundle.js.LICENSE.txt
  2.f29fbedd.iframe.bundle.js.map
  iframe.html
  project.json
  runtime~main.19c9c151.iframe.bundle.js
  runtime~main.3cffd274.iframe.bundle.js
  vendors~main.683604a3.iframe.bundle.js
  vendors~main.683604a3.iframe.bundle.js.LICENSE.txt
  vendors~main.683604a3.iframe.bundle.js.map
  vendors~main.7878365f.iframe.bundle.js
  vendors~main.7878365f.iframe.bundle.js.map
Due: yarn eslint --fix

test: allow more cypress to pass
  components/Filters/NumberRange.vue
  cypress.config.ts
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix, yarn stylelint

deploy: 6bc22c4dbab74901ef20230f88ca9068f4947f4e
  iframe.html
  main.1588d569.iframe.bundle.js
  main.1588d569.iframe.bundle.js.map
  main.4462d307.iframe.bundle.js
  main.4462d307.iframe.bundle.js.LICENSE.txt
  main.4462d307.iframe.bundle.js.map
  project.json
Due: yarn eslint --fix

test: make cypress test more stable
  components/PoisList/CategorySelector.vue
  cypress.config.ts
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix, yarn stylelint

deploy: a1bc13db7766645360b14af29ff0020cdaf2cf69
  iframe.html
  pages/category/index.4d5901b1.iframe.bundle.js
  pages/category/index.a67dcedf.iframe.bundle.js
  pages/embedded.0d86160b.iframe.bundle.js
  pages/embedded.b68d8c26.iframe.bundle.js
  project.json
  runtime~main.094c945d.iframe.bundle.js
  runtime~main.3cffd274.iframe.bundle.js
Due: yarn eslint --fix

fix: fix NumberRangeFilter
  components/Filters/NumberRange.vue
  utils/types-filters.ts
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
