Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

chore: ugrade nuxt v3.5.3 #290
  package.json
  yarn.lock
Due: none

fix: typings errors #290
  components/PoisDetails/FieldsGroup.vue
  components/PoisList/CategorySelector.vue
  components/PoisList/PoisTable.vue
  components/UI/TeritorioIconBadge.vue
Due: yarn eslint --fix, yarn stylelint

chore: upgrade nuxt v3.7.0 #290
  package.json
  yarn.lock
Due: none

fix: lint errors #290
  components/Fields/Field.vue
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/PoiDetails.vue
  components/Search/Search.vue
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  lib/apiSettings.ts
  lib/mapPois.ts
  lib/trackers.ts
  plugins/property-translations.ts
  plugins/settings.ts
Due: yarn eslint --fix, yarn stylelint

chore: upgrade nuxt v3.8.0 #290
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: upgrade @nuxtjs/i18n v8.0.0 #290
  package.json
  yarn.lock
Due: none

chore: apply script setup style to index page #290
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: non-POJO error #290
  utils/types-filters.ts
Due: yarn eslint --fix

fix: e2e test #290
  .github/workflows/ci.yml
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/embedded.cy.ts
  cypress/e2e/favourites.cy.ts
  cypress/e2e/home-content.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/e2e/pois/map.cy.ts
  cypress/e2e/tracking.cy.ts
  package.json
Due: yarn eslint --fix

chore: apply lint fixes #290
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  components/PoisList/PoisTable.vue
  pages/embedded.vue
  pages/index.vue
  utils/histoire-plugin-screenshot.ts
  utils/url.ts
Due: yarn eslint --fix, yarn stylelint

chore: update docker image to node 20 #290
  Dockerfile
  docker-compose.yml
Due: none

chore: upgrade yarn #290
  .github/workflows/ci.yml
  .yarn/plugins/@yarnpkg/plugin-compat.cjs
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-2.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

refactor: load config & settings from default layout #290
  layouts/default.vue
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

fix: Unhead is missing Vue context error #290
  layouts/default.vue
  pages/embedded.vue
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix typing errors #290
  nuxt.config.ts
  pages/category/[id].vue
  pages/category/embedded/[id].vue
  pages/embedded/[p1]/[poiId].vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/touch.ts
Due: yarn eslint --fix, yarn stylelint

chore: update nuxt to v3.3.0 #290
  package.json
  yarn.lock
Due: none

chore: apply script setup style on Poi Details page #290
  lib/apiPoiDeps.ts
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

chore: apply script setup style to Pois map page #290
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: fix typings errors #290
  composables/useField.ts
  index.d.ts
  lib/getAsyncData.ts
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vuetify.ts
Due: yarn eslint --fix, yarn stylelint

chore: upgrade nuxt v3.4.0 #290
  .storybook/main.ts
  lib/config.ts
  package.json
  plugins/sentry.ts
  plugins/tracking.ts
  yarn.lock
Due: yarn eslint --fix

chore: upgrade eslint #302
  components/Fields/OpeningHours.test.js
  package.json
  yarn.lock
Due: yarn eslint --fix

feat: add menu label on mobile menu#295
  components/Home/Home.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup to page embedded #293
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  layouts/default.vue
  pages/embedded.vue
Due: yarn eslint --fix, yarn stylelint

refactor: PoisTable loading state and reactivity #293
  components/PoisList/PoisTable.vue
  pages/category/embedded/[id].vue
Due: yarn eslint --fix, yarn stylelint

refactor: load menu config from default layout #293
  layouts/default.vue
  pages/category/[id].vue
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
  pages/category/index.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

refactor: load config & settings from default layout #293
  pages/category/[id].vue
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
  pages/category/index.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
