Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

feat: use mapillary or image
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: enable feature only on details map
  components/MapPois.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

feat: add alternate layout for poi with deps
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: update control position on map
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapControls.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

teritorio/vido-private#791 fix: hide trace on explorer mode (teritorio/vido-private#809)
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

chore: update MapLibre to 2.4.0
  package.json
  yarn.lock
Due: none

fix: deals with types after MapLibre update
  utils/styles.ts
Due: yarn eslint --fix

fix: field key
  components/PoisCard/Fields.vue
Due: yarn eslint --fix, yarn stylelint

fix: on missing icon in poiCard
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

fix: field block display
  components/PoisDetails/Field.vue
  components/PoisDetails/Fields.vue
Due: yarn eslint --fix, yarn stylelint

feat: generate static API content from pois.geojson file
  .github/workflows/ci.yml
  cypress/fixtures/teritorio/references/poi/1.geojson
  cypress/fixtures/teritorio/references/poi/2.geojson
  cypress/fixtures/teritorio/references/poi/2/deps_pois.json
  cypress/fixtures/teritorio/references/poi/2/route:point:type.geojson
  cypress/fixtures/teritorio/references/pois.geojson
  cypress/fixtures/teritorio/references/pois.json
  cypress/fixtures/teritorio/references/route/2.geojson
  package.json
  poi_explode.rb
Due: none

fix: set text on top
  components/PoisDetails/Block.vue
Due: yarn eslint --fix, yarn stylelint

teritorio/vido-private#779 Feat779/fb poi field (teritorio/vido-private#819)
  components/Fields/Facebook.vue
  components/PoisCard/Field.stories.ts
  components/PoisCard/Field.vue
  components/PoisDetails/Field.stories.ts
  components/PoisDetails/Field.vue
Due: yarn eslint --fix, yarn stylelint

feat: support category at first menu level
  cypress/fixtures/teritorio/references/menu.json
  cypress/fixtures/teritorio/references/pois.json
Due: none

refactor: remove unused SelectedSubCategoriesAside
  components/Categories/SelectedSubCategoriesAside.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename components/Categories/CategoryList
  components/Categories/Category.vue
  components/Categories/CategoryList.stories.ts
  components/Categories/CategoryList.vue
  components/Categories/HeaderRootCategories.vue
  components/Categories/HeaderSubCategories.vue
  components/Categories/MenuGroup.stories.ts
  components/Categories/MenuGroup.vue
Due: yarn eslint --fix, yarn stylelint

fix: rename tracking event category -> menu
  README.md
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryListItem.vue
  cypress/e2e/tracking.cy.ts
  lib/tracker-google.ts
  lib/tracker-matomo.ts
  lib/trackers.ts
Due: yarn eslint --fix, yarn stylelint

refactor: menu category refactoring
  components/Categories/Category.stories.ts
  components/Categories/Category.vue
  components/Categories/CategoryList.stories.ts
  components/Categories/CategoryList.vue
  components/Categories/HeaderRootCategories.vue
  components/Categories/HeaderSubCategories.vue
  components/Categories/Link.stories.ts
  components/Categories/Link.vue
  components/Categories/MenuGroup.stories.ts
  components/Categories/MenuGroup.vue
  components/Categories/MenuItemList.stories.ts
  components/Categories/MenuItemList.vue
  components/Categories/SubCategoryHeader.vue
  components/Home/Home.vue
  components/MainMap/MainHeader.vue
  components/UI/TeritorioIconBadge.vue
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix, yarn stylelint

refactor: rename Category MenuItem
  components/Categories/CategoryButton/CategoryButton.vue
  components/Categories/CategoryList/CategoryList.stories.ts
  components/Categories/CategoryList/CategoryList.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/HeaderRootCategories.vue
  components/Categories/HeaderSubCategories.vue
  components/Categories/SelectedSubCategoriesAside.vue
  components/Categories/SelectedSubCategoriesDense.vue
  components/Categories/SubCategoryFilterHeader.vue
  components/Categories/SubCategoryHeader.vue
  components/Home/Home.vue
  components/MainMap/MainHeader.vue
  cypress/e2e/tracking.cy.ts
  cypress/fixtures/APIFixture.ts
  lib/apiMenu.ts
  lib/trackers.ts
  pages/index.vue
  store/menu.ts
Due: yarn eslint --fix, yarn stylelint

refactor: uniform menu item
  components/Categories/Category.stories.ts
  components/Categories/Category.vue
  components/Categories/Link.vue
  components/Categories/Menu.stories.ts
  components/Categories/Menu.vue
  components/Categories/MenuGroup.stories.ts
  components/Categories/MenuGroup.vue
  components/Categories/MenuItem.vue
  components/Categories/MenuItemList.vue
  components/Categories/SelectedSubCategoriesDense.vue
  components/Categories/SubCategoryHeader.vue
  components/Home/Home.vue
  components/UI/TeritorioIconBadge.vue
  lib/apiMenu.ts
Due: yarn eslint --fix, yarn stylelint

refactor: rename compo Categories to Menu
  components/Home/Home.vue
  components/Menu/Category.stories.ts
  components/Menu/Category.vue
  components/Menu/Group.stories.ts
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.stories.ts
  components/Menu/ItemList.vue
  components/Menu/Link.stories.ts
  components/Menu/Link.vue
  components/Menu/Menu.stories.ts
  components/Menu/Menu.vue
  components/Menu/SubCategoryFilterHeader.vue
  components/Menu/SubCategoryHeader.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactor and clean MainHeader
  components/Home/Home.vue
  components/Home/MainHeader.vue
Due: yarn eslint --fix, yarn stylelint

refactor: split back pannel out of MainHeader
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Home.vue
  components/Home/MainHeader.vue
Due: yarn eslint --fix, yarn stylelint

refactor: move Categories/SelectedSubCategoriesDense.vue to Home/SelectedCategories.vue
  components/Home/Home.vue
  components/Home/SelectedCategories.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactoring menu block style
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/MainHeader.vue
  components/Home/Menu.stories.ts
  components/Home/MenuBlock.vue
  components/Menu/Menu.vue
Due: yarn eslint --fix, yarn stylelint

refactor: refactor Menu integration
  components/Home/Home.machine.ts
  components/Home/Home.vue
  components/Home/MainHeader.vue
  components/Home/Menu.stories.ts
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/Home/MenuBlockBottom.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  components/Menu/SubCategoryHeader.vue
  components/Search/Search.vue
  cypress/fixtures/teritorio/references/menu.json
  lib/apiMenu.ts
  store/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: map center typing of default
  store/map.ts
Due: yarn eslint --fix

fix: remove dead code in Search.vue
  components/Home/Home.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename all remeaning subcategories to catogries
  components/Home/Home.vue
  components/Home/Menu.vue
  store/menu.ts
Due: yarn eslint --fix, yarn stylelint

refactor: move SubCategoryFilterHeader from Home to Menu
  components/Home/Home.vue
  components/Home/Menu.vue
  components/Home/MenuBlock.vue
  components/MainMap/BottomMenu.vue
  components/Menu/Filter.vue
  components/Menu/SubCategoryFilterHeader.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix selected class of favorites button
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

ci: fix yarn build:storybook
  package.json
Due: none

feat: support API setting to disable favorite and explorer
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  lib/apiSettings.ts
Due: yarn eslint --fix, yarn stylelint

feat: switch API poi/category URL
  cypress/e2e/mock.ts
  lib/apiPois.ts
Due: yarn eslint --fix

ci: run on self-hosted
  .github/workflows/ci.yml
Due: none

feat: change backToMenuExplorer label teritorio/vido-private#822
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix

fix: tracking, align menu and popup logging
  lib/tracker-google.ts
  lib/tracker-matomo.ts
Due: yarn eslint --fix

chore: release v1.17.2
  package.json
Due: none

teritorio/vido-private#814 fix: add pin on track router click (teritorio/vido-private#817)
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
