Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

fix: simplify filter code
  store/menu.ts
Due: yarn eslint --fix

fix: fix typing of subCategoryFilters() in Home
  components/Categories/SubCategoryFilterHeader.vue
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: use type Date in date filter
  components/Categories/SubCategoryFilterHeader.vue
Due: yarn eslint --fix, yarn stylelint

fix: simplify t-rich-select usage
  components/Categories/SubCategoryFilterHeader.vue
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix 'review date filter'
  components/Categories/SubCategoryFilterHeader.vue
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix poi filtering
  store/menu.ts
Due: yarn eslint --fix

fix: fix active filter detection teritorio/vido-private#639
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix date filter, use string teritorio/vido-private#639
  components/Categories/SubCategoryFilterHeader.vue
  store/menu.ts
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

fix: fav export link teritorio/vido-private#641
  components/MainMap/FavoriteMenu.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove bottomMenu on explorer mode
  components/Home/Home.vue
  components/MainMap/MainMap.vue
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

fix: isBottomMenuOpened only valid on mobile
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix how hide control background teritorio/vido-private#642
  components/Map/MapControlsBackground.vue
Due: yarn eslint --fix, yarn stylelint

fix: typo
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: enable features filters after map background changes teritorio/vido-private#649
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix toggle fav from note book teritorio/vido-private#650
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typo-s fav mode
  components/Home/Home.vue
  components/MainMap/BottomMenu.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/MainMap.vue
  store/favorite.ts
Due: yarn eslint --fix, yarn stylelint

fix: favicon overwrite teritorio/vido-private#654
  lib/apiSettings.ts
Due: yarn eslint --fix

chore: v1.15.0
  package.json
Due: none

fix: fix favicon type
  lib/apiSettings.ts
Due: yarn eslint --fix

chore: v1.15.1
  package.json
Due: none

fix: fix opening_hours with ;
  components/MainMap/MapPoiToast.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix store/favorite.ts typing
  store/favorite.ts
Due: yarn eslint --fix

fix: fix transition warning
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: favorite toggle
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix props for poi map
  components/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.15.2
  package.json
Due: none

fix: make main_url optional
  components/Home/Home.vue
  lib/apiSettings.ts
Due: yarn eslint --fix, yarn stylelint

chore: v1.15.3
  package.json
Due: none

fix: remove automatic select cartocode search result teritorio/vido-private#663
  components/Search/SearchHeader.vue
  components/Search/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.15.4
  package.json
Due: none

fix: update popup display on mobile / favorite
  components/Home/Home.vue
  components/MainMap/BottomMenu.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.15.5
  package.json
Due: none

fix: show links also in submenu teritorio/vido-private#672
  components/Categories/CategoryList/CategoryList.vue
  components/Categories/CategoryList/CategoryListItem.vue
  components/Categories/HeaderSubCategories.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.15.6
  package.json
Due: none

feat: remove mapnik background on mobile
  components/MainMap/MainMap.vue
  components/Map/MapControlsBackground.vue
Due: yarn eslint --fix, yarn stylelint

feat: remove map rotation on mobile
  components/MainMap/MainMap.vue
Due: yarn eslint --fix, yarn stylelint

chore: update husky
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: none

chore: update fonts
  package.json
  yarn.lock
Due: none

chore: update minor version
  package.json
  yarn.lock
Due: none

chore: misc update
  package.json
  yarn.lock
Due: none

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
