Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

refactor: use config from store #293
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: use menuItems from store #293
  layouts/default.vue
  pages/category/[id].vue
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
  pages/category/index.vue
  pages/embedded.vue
  pages/index.vue
  stores/menu.ts
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

chore: use config from store #293
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/HomeMixin.ts
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Search/Search.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/category/[id].vue
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
  pages/category/index.vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

chore: apply refactor on all pages #293
  components/Home/Embedded.vue
  components/Home/Home.vue
  layouts/default.vue
  pages/category/[id].vue
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
  pages/category/index.vue
  pages/embedded.vue
  pages/embedded/[p1].vue
  pages/embedded/[p1]/[poiId].vue
  pages/embedded/[p1]/index.vue
  pages/index.vue
  pages/index/[p1].vue
  pages/index/[p1]/[poiId].vue
  pages/index/[p1]/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

refactor: PoisTable loading state and reactivity #293
  components/PoisList/PoisTable.vue
  pages/category/[id].vue
  pages/category/embedded/[id].vue
Due: yarn eslint --fix, yarn stylelint

fix: pois-list test #293
  cypress/e2e/category/pois-list.cy.ts
Due: yarn eslint --fix

fix: duplicated category title #305
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

chore: add openinghours comment on popup #308
  components/Fields/OpeningHours.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove settings plugin #311
  index.d.ts
  nuxt.config.ts
  plugins/settings.ts
Due: yarn eslint --fix

fix: PoisTable hydration mismatch #315
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

fix: PoisTable data fetching #316
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

fix: apply translation to propertyTranslations plugin #316
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

refactor: merge common logic into category index page #319
  pages/category.vue
  pages/category/[id].vue
Due: yarn eslint --fix, yarn stylelint

refactor: poistable & category id page #319
  components/PoisList/PoisTable.vue
  pages/category/[id].vue
Due: yarn eslint --fix, yarn stylelint

chore: upgrade vuetify to v3.4.3 #314
  package.json
  yarn.lock
Due: none

fix: pois-list test #314
  cypress/e2e/category/pois-list.cy.ts
Due: yarn eslint --fix

refactor: merge embedded list with category page #325
  pages/category.vue
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
Due: yarn eslint --fix, yarn stylelint

feat: show superposed POIs #226
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  lib/clusters.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

chore: v1.23.0
  package.json
Due: none

fix: dockerfile
  Dockerfile
Due: none

fix: close popup on favorite delete #331
  components/Home/Home.vue
  stores/favorite.ts
Due: yarn eslint --fix, yarn stylelint

fix: grey background on details waypoints #333
  components/PoisCard/PoisDeck.vue
Due: yarn eslint --fix, yarn stylelint

fix: incoherent poi track display #330
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint
