Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

fix: avoid duplicated call on selected feature update #548
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.25.0
  package.json
Due: none

fix: get feature with default categories selection
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

fix: image overlapping #542
  components/PoisCard/PoiCardLight.vue
Due: yarn eslint --fix, yarn stylelint

fix: image overlapping parent container #542
  components/PoisCard/PoiCardLight.vue
Due: yarn eslint --fix, yarn stylelint

feat: add color_text support + contrasted color function #458
  composables/useFeature.ts
  lib/apiMenu.ts
  lib/apiPois.ts
  lib/mapPois.ts
Due: yarn eslint --fix

feat: invert color for waypoint #458
  components/UI/TeritorioIconBadge.vue
  lib/clusters.ts
Due: yarn eslint --fix, yarn stylelint

chore: apply contrasted color on components #458
  components/Fields/Field.vue
  components/Home/SelectedCategories.vue
  components/Isochrone/IsochroneStatus.vue
  components/Layout/PoiLayout.vue
  components/MainMap/MapFeatures.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisDetails/Block.vue
  components/PoisDetails/FieldsGroup.story.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/PoisTable.vue
  components/UI/TeritorioIcon.vue
  components/UI/TeritorioIconBadge.vue
  lib/apiPoiDeps.ts
  lib/clusters.ts
  lib/vectorTilesPois.ts
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup on SelectedCategories #394
  components/Home/SelectedCategories.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup to PoiLayout #394
  components/Layout/PoiLayout.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup on TeritorioIcon #394
  components/UI/TeritorioIcon.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup on TeritorioIconBadge #394
  components/UI/TeritorioIconBadge.vue
Due: yarn eslint --fix, yarn stylelint

fix: data fetching reactivity #491
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

feat: add basic panoramax implem
  components/PanoramaxViewer.vue
  declarations.d.ts
  package.json
  pages/pano.vue
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

Fix special fields documentation in readme
  README.md
Due: none

chore: make a usePois composable #491
  components/PoisList/PoisTable.vue
  composables/usePois.ts
Due: yarn eslint --fix, yarn stylelint

fix: article compatibility with WP API #555
  components/MainMap/NavMenu.vue
  layouts/default.vue
  lib/apiArticle.ts
  stores/site.ts
Due: yarn eslint --fix, yarn stylelint

chore: v1.25.1
  package.json
Due: none

fix: missing markers / cluster on map #557
  pages/index.vue
Due: yarn eslint --fix, yarn stylelint

chore: create config page
  layouts/config.vue
  pages/config.vue
Due: yarn eslint --fix, yarn stylelint

chore: create a nuxt module
  layouts/config.vue
  modules/vido-config-ui/components/InstanceCard.vue
  modules/vido-config-ui/components/InstanceCardSkeleton.vue
  modules/vido-config-ui/index.ts
  modules/vido-config-ui/layouts/vido-config-ui.vue
  modules/vido-config-ui/pages/vido-config-ui.vue
  pages/config.vue
Due: yarn eslint --fix, yarn stylelint

chore: upgrade to latest version of teritorio-cluster #560
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  lib/clusters.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: v1.25.2
  package.json
Due: none

chore: enable module on consumer
  modules/vido-config-ui/index.ts
  nuxt.config.ts
Due: yarn eslint --fix

chore: add compatibility version
  modules/vido-config-ui/index.ts
Due: yarn eslint --fix

chore: improve module architecture
  modules/vido-config-ui/index.ts
  modules/vido-config-ui/runtime/components/InstanceCard.vue
  modules/vido-config-ui/runtime/components/InstanceCardSkeleton.vue
  modules/vido-config-ui/runtime/vido-config-ui-layout.vue
  modules/vido-config-ui/runtime/vido-config-ui.vue
Due: yarn eslint --fix, yarn stylelint
