Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

fix: map attribution hidden on desktop #347
  components/Map/Map.vue
Due: yarn eslint --fix, yarn stylelint

chore: update maplibre-gl to v4.5.0 #374
  package.json
  yarn.lock
Due: none

refactor: maplibre styles #347
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

feat: add uncluster plugin support #226
  components/Map/MapBase.vue
  lib/clusters.ts
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: update yarn to v4.4.1
  package.json
Due: none

fix: client-only hydration mismatch #354
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

feat: add local source style support #281
  utils/styles.ts
Due: yarn eslint --fix

refactor: use script setup style #327
  components/Home/ExplorerOrFavoritesBack.vue
Due: yarn eslint --fix, yarn stylelint

fix: wrong label on ExplorerOrFavoritesBack component #327
  components/Home/ExplorerOrFavoritesBack.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

chore: improve types on map store + use store subscriber instead of watcher #362
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.vue
  pages/embedded.vue
  pages/index.vue
  stores/map.ts
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style to MapFeatures #362
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

fix: add cookies-consent on client only #357
  components/Home/Home.vue
  components/Layout/Footer.vue
Due: yarn eslint --fix, yarn stylelint

chore: set cypress base url to localhost
  cypress.config.ts
Due: yarn eslint --fix

feat: add typecheck on lint-staged and build-time only #368
  nuxt.config.ts
  package.json
Due: yarn eslint --fix

fix: wrong lint-staged statement
  README.md
  package.json
Due: none

fix: exclude bin folder from typecheck
  tsconfig.json
Due: none

fix: add homepage link support on bran logo #282
  components/Home/Home.vue
  components/Layout/Header.vue
  components/UI/Logo.vue
Due: yarn eslint --fix, yarn stylelint

feat: add category name in page detail title #350
  components/PoisDetails/PoiDetails.story.vue
  components/PoisDetails/PoiDetails.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint
