Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

feat: update waypoint number and put bold on icon text
  components/PoisCard/PoiCardLight.vue
  components/PoisCard/PoisDeck.vue
  components/UI/TeritorioIconBadge.vue
Due: yarn eslint --fix, yarn stylelint

feat: update display for route in detail page
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/UI/TeritorioIconBadge.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

fix: simplify cluster prop naming
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
Due: yarn eslint --fix, yarn stylelint

fix: namming maker text
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

feat: update routeMap poi to have position + update poiDeck to be more generic
  components/PoisCard/PoiCardLight.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/Route/RouteMap.vue
  lib/apiPoiDeps.ts
Due: yarn eslint --fix, yarn stylelint

fix: cypress.config.ts to ignore html missint attrib cookie__bar__buttons
  cypress.config.ts
Due: yarn eslint --fix

fix: fix default cluster value
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

Update locales/es.js
  locales/es.js
Due: yarn eslint --fix

feat: update notebook menu
  components/MainMap/FavoriteNoteBook.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

feat: update css icon button
  components/UI/IconButton.vue
Due: yarn eslint --fix, yarn stylelint

feat: enable text inside iconButton
  components/MainMap/FavoriteNoteBook.vue
  components/UI/IconButton.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: <p> not allowed under <button>
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

feat: css for print #18 (#63)
  components/Layout/Header.vue
  components/Layout/PoiLayout.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  pages/poi/[id]/details.vue
  tailwind.config.js
Due: yarn eslint --fix, yarn stylelint

feat: poiCard detail button has poi color
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

feat: enable text inside iconButton (#132)
  components/MainMap/FavoriteNoteBook.vue
  components/UI/IconButton.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

feat: update display for route in detail page (#134)
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Route/RouteMap.vue
  components/UI/TeritorioIconBadge.vue
  lib/apiPoiDeps.ts
  lib/mapPois.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

chore: add install step in readme
  README.md
Due: none

chore: update .nvmrc with node v18
  .nvmrc
  README.md
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

chore: add extensions recommendations
  .vscode/extensions.json
Due: none

fix: fsevent error on macOS + delete 3rd party pwa lib
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: remove duplicate props causing ts-check fail + remove await import on maplibre-gl
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapPois.vue
  lib/markerLayerFactory.ts
  utils/histoire-plugin-screenshot.ts
Due: yarn eslint --fix, yarn stylelint

fix: transpile maplibre-gl
  nuxt.config.ts
Due: yarn eslint --fix

fix: remove prettier from eslint config
  .eslintrc.js
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: correct eslint errors
  components/Home/HomeMixin.ts
  components/MainMap/MapFeatures.vue
  plugins/pinia-shared-state.ts
Due: yarn eslint --fix, yarn stylelint

fix: transpile maplibre-gl + update package
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: transpile maplibre-gl on production only
  nuxt.config.ts
Due: yarn eslint --fix

chore: clean nuxt.config.ts
  nuxt.config.ts
Due: yarn eslint --fix

fix: improve i18n integration + fix hover on NavMenu #124
  components/MainMap/NavMenu.vue
  i18n.config.ts
  locales/en-GB.ts
  locales/en.js
  locales/es-ES.ts
  locales/es.js
  locales/fr-FR.ts
  locales/fr.js
  nuxt.config.ts
  tsconfig.json
Due: yarn eslint --fix, yarn stylelint

ci: deploy with git in place of rsync
  .github/workflows/ci.yml
Due: none

ci: more generic deploy
  .github/workflows/ci.yml
Due: none

chore: remove nuxt config watchers
  nuxt.config.ts
Due: yarn eslint --fix

chore: remove manifest
  lib/apiSettings.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap-style.xsl.ts
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix

chore: deactivate sitemap feature
  package.json
  server/routes/sitemap-style.xsl.ts
  server/routes/sitemap.xml.ts
  yarn.lock
Due: yarn eslint --fix

chore: set new eslint config + deactive lint-staged + remove commitlint
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .vscode/extensions.json
  bin/build-config.ts
  commitlint.config.js
  config/i18n.config.ts
  eslint.config.js
  nuxt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

chore: remove sentry
  .env.sample
  docker-compose.yml
  nuxt.config.ts
  package.json
  vidos-config-empty.json
  yarn.lock
Due: yarn eslint --fix

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
