Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
  "*.svg": "yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths"
}

deploy: 5709cb2a2faca2b6a5dc553a6ccaf7e4ec20e472
  fonts/teritorio.5ddae8d.woff2
  fonts/teritorio.66877d3.woff
  fonts/teritorio.8bf1937.woff
  fonts/teritorio.cf8c2c3.woff2
  fonts/teritorio.f805b11.eot
  fonts/teritorio.fa26aee.eot
  iframe.html
  project.json
  vendors~main.181bb89a.iframe.bundle.js
  vendors~main.181bb89a.iframe.bundle.js.LICENSE.txt
  vendors~main.181bb89a.iframe.bundle.js.map
  vendors~main.6aba6d70.iframe.bundle.js
  vendors~main.6aba6d70.iframe.bundle.js.map
Due: yarn eslint --fix

chore: update docker to node16
  .dockerignore
  Dockerfile
  package.json
  yarn.lock
Due: none

deploy: c82e8957b3e3ffab571db1c07cd6251ec3184427
  project.json
Due: none

deploy: cb3649bbc561a7ba586ff2b048ab77eef592597c
  project.json
Due: none

ci: deploy ci with docker
  .github/workflows/ci.yml
Due: none

chore: switch LICENSE to AGPL
  LICENSE
Due: none

deploy: b6c1b786d8fce8a24589574b938cde8cd0d06592
  project.json
Due: none

fix: route sub fields class vido-private#844
  components/Fields/RoutesField.vue
  components/PoisDetails/Fields.vue
Due: yarn eslint --fix, yarn stylelint

fix: fields, fix sub headers
  components/Fields/Field.vue
  components/Fields/RoutesField.vue
  components/UI/FieldsHeader.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix duplicate phone number display
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: coord link as external link
  components/Fields/CoordinateAction.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix description text shortener
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix slideshow dots location
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix one-image slideshow
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix raw html style
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 52162ddb343ab6c45a17f58d6b723457f31a7f2c
  iframe.html
  main.967dc656.iframe.bundle.js
  main.967dc656.iframe.bundle.js.map
  main.994d6361.iframe.bundle.js
  main.994d6361.iframe.bundle.js.LICENSE.txt
  main.994d6361.iframe.bundle.js.map
  pages/poi/_id/details.09abd6d0.iframe.bundle.js
  pages/poi/_id/details.284c2063.iframe.bundle.js
  project.json
  runtime~main.377c8866.iframe.bundle.js
  runtime~main.4284ae1c.iframe.bundle.js
Due: yarn eslint --fix

fix: fix coord links
  components/Fields/CoordinateAction.vue
  components/Fields/Coordinates.vue
  components/PoisCard/PoiCard.vue
  lib/coordinates.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix duplicate css class
  components/PoisCard/PoiCard.vue
Due: yarn eslint --fix, yarn stylelint

refactor: make map controls real maplibre controls
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapControls.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/PoisDetails/PoiDetails.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

feat: support default host config
  plugins/vido-config.ts
Due: yarn eslint --fix

deploy: 7f1b740fe35ab74ad8484ff46b0feaf8ff0a4b23
  iframe.html
  main.994d6361.iframe.bundle.js
  main.994d6361.iframe.bundle.js.map
  main.cfdb5b8a.iframe.bundle.js
  main.cfdb5b8a.iframe.bundle.js.LICENSE.txt
  main.cfdb5b8a.iframe.bundle.js.map
  pages/poi/_id/details.284c2063.iframe.bundle.js
  pages/poi/_id/details.8922b3f6.iframe.bundle.js
  pages/pois/_ids/map.ef6f3c91.iframe.bundle.js
  project.json
  runtime~main.0535e465.iframe.bundle.js
  runtime~main.377c8866.iframe.bundle.js
  vendors~main.181bb89a.iframe.bundle.js
  vendors~main.181bb89a.iframe.bundle.js.map
  vendors~main.5c49e061.iframe.bundle.js
  vendors~main.5c49e061.iframe.bundle.js.LICENSE.txt
  vendors~main.5c49e061.iframe.bundle.js.map
Due: yarn eslint --fix

refactor: move root level compo to dirs
  components/MainMap/FavoriteMenu.vue
  components/Map/MapPois.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisDetails/Share.vue
  components/UI/ShareLinkModal.vue
  pages/pois/_ids/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove dead props fullPage
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapControls.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix Fields/Coordinates
  components/Fields/Coordinates.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix MapPoi and ApiPoi interface inheritance
  components/PoisCard/PoiCardLight.vue
  lib/apiPois.ts
  lib/mapPois.ts
Due: yarn eslint --fix, yarn stylelint

refactor: reuse cluster on MapPois
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  components/Map/MapPois.stories.ts
  components/Map/MapPois.vue
  components/PoisDetails/Route/RouteMap.vue
  lib/clusters.ts
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

deploy: aa49fe332d8eb118ca4fb365d93fe807277ee913
  iframe.html
  main.00f7fc81.iframe.bundle.js
  main.00f7fc81.iframe.bundle.js.LICENSE.txt
  main.00f7fc81.iframe.bundle.js.map
  main.cfdb5b8a.iframe.bundle.js
  main.cfdb5b8a.iframe.bundle.js.map
  pages/index.c9856249.iframe.bundle.js
  pages/index.e571d8f3.iframe.bundle.js
  pages/poi/_id/details.8922b3f6.iframe.bundle.js
  pages/poi/_id/details.cd2ec0cf.iframe.bundle.js
  pages/pois/_ids/map.28cd3861.iframe.bundle.js
  pages/pois/_ids/map.ef6f3c91.iframe.bundle.js
  project.json
  runtime~main.0535e465.iframe.bundle.js
  runtime~main.bcdbe332.iframe.bundle.js
  vendors~main.5c49e061.iframe.bundle.js
  vendors~main.5c49e061.iframe.bundle.js.map
  vendors~main.7813b880.iframe.bundle.js
  vendors~main.7813b880.iframe.bundle.js.LICENSE.txt
  vendors~main.7813b880.iframe.bundle.js.map
Due: yarn eslint --fix

feat: add detail back to map button
  components/PoisDetails/Header.vue
  components/PoisDetails/PoiDetails.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: use gear as NavMenu icon
  components/MainMap/NavMenu.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

refactor: icon button
  .eslintrc.js
  components/MainMap/NavMenu.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisDetails/Share.vue
  components/UI/IconButton.stories.ts
  components/UI/IconButton.vue
Due: yarn eslint --fix, yarn stylelint

fix: route info poiCard layout vido-private#844
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

deploy: f86a669241fa5590cffc2608f638c6b954aa84d5
  iframe.html
  lang-en.js.36e1fa8b.iframe.bundle.js
  lang-en.js.8b63d960.iframe.bundle.js
  lang-es.js.63b8e2c6.iframe.bundle.js
  lang-es.js.ba491284.iframe.bundle.js
  lang-fr.js.1c5bfd09.iframe.bundle.js
  lang-fr.js.429a3323.iframe.bundle.js
  main.00f7fc81.iframe.bundle.js
  main.00f7fc81.iframe.bundle.js.map
  main.784aa647.iframe.bundle.js
  main.784aa647.iframe.bundle.js.LICENSE.txt
  main.784aa647.iframe.bundle.js.map
  pages/index.75b986a6.iframe.bundle.js
  pages/index.c9856249.iframe.bundle.js
  pages/poi/_id/details.2fbfac12.iframe.bundle.js
  pages/poi/_id/details.cd2ec0cf.iframe.bundle.js
  project.json
  runtime~main.a7a79d94.iframe.bundle.js
  runtime~main.bcdbe332.iframe.bundle.js
  vendors~main.57537873.iframe.bundle.js
  vendors~main.57537873.iframe.bundle.js.LICENSE.txt
  vendors~main.57537873.iframe.bundle.js.map
  vendors~main.7813b880.iframe.bundle.js
  vendors~main.7813b880.iframe.bundle.js.map
Due: yarn eslint --fix

fix: gix geo link on client side only
  components/Fields/Coordinates.vue
Due: yarn eslint --fix, yarn stylelint

fix: poiDetails
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 98aea663bbaebe18aa8816b2f2c1ddefdb850403
  iframe.html
  main.58f66657.iframe.bundle.js
  main.58f66657.iframe.bundle.js.LICENSE.txt
  main.58f66657.iframe.bundle.js.map
  main.784aa647.iframe.bundle.js
  main.784aa647.iframe.bundle.js.map
  pages/poi/_id/details.2fbfac12.iframe.bundle.js
  pages/poi/_id/details.9659bde1.iframe.bundle.js
  project.json
  runtime~main.15a763cb.iframe.bundle.js
  runtime~main.a7a79d94.iframe.bundle.js
Due: yarn eslint --fix

test: add more cypress tests
  .gitignore
  components/PoisDetails/Fields.vue
  components/UI/IconButton.stories.ts
  cypress/e2e/detail-route.cy.ts
  cypress/e2e/detail-simple.cy.ts
  cypress/e2e/mock.ts
  cypress/fixtures/APIFixture.ts
  cypress/fixtures/teritorio/references/pois.json
  cypress/fixtures/teritorio/references/teritorioReferenceAPIFixture.ts
  lib/storybook-types.ts
  poi_explode.rb
Due: yarn eslint --fix, yarn stylelint

fix: fix DateRange when on same day
  components/Fields/DateRange.vue
  locales/en.js
  locales/es.js
  locales/fr.js
Due: yarn eslint --fix, yarn stylelint

fix: fix popup default list field array
  components/Fields/Field.stories.ts
  components/Fields/Field.vue
  components/UI/ExternalLink.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix filter multiselect label
  components/Menu/Filter.vue
Due: yarn eslint --fix, yarn stylelint

deploy: 2f4fd8783f92b190a53ecf634647ec89901edd7c
  iframe.html
  lang-en.js.8b63d960.iframe.bundle.js
  lang-en.js.d33514dd.iframe.bundle.js
  lang-es.js.63b8e2c6.iframe.bundle.js
  lang-es.js.e91fc12d.iframe.bundle.js
  lang-fr.js.429a3323.iframe.bundle.js
  lang-fr.js.ad9adb74.iframe.bundle.js
  main.58f66657.iframe.bundle.js
  main.58f66657.iframe.bundle.js.map
  main.ed085198.iframe.bundle.js
  main.ed085198.iframe.bundle.js.LICENSE.txt
  main.ed085198.iframe.bundle.js.map
  project.json
  runtime~main.15a763cb.iframe.bundle.js
  runtime~main.db7fb939.iframe.bundle.js
Due: yarn eslint --fix
