Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

.lintstagedrc:

{
  "*.{js,ts,vue}": "yarn eslint --fix",
  "*.{css,vue}": "yarn stylelint",
}

refactor: apply script setup style on UIButton #364
  components/UI/UIButton.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on favorite store #364
  stores/favorite.ts
Due: yarn eslint --fix

refactor: apply script setup style on snack store #364
  components/MainMap/MapFeatures.vue
  stores/snack.ts
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style to contrib store #364
  stores/contrib.ts
Due: yarn eslint --fix

refactor: apply script setup style to menu store #364
  stores/menu.ts
Due: yarn eslint --fix

refactor: apply script setup style on DateRange #364
  components/Filters/DateRange.vue
  utils/types.ts
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on VFlag #364
  components/UI/VFlag.vue
Due: yarn eslint --fix, yarn stylelint

chore: fix import alias #662
  error.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove custom useAsyncData #662
  lib/getAsyncData.ts
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
Due: yarn eslint --fix, yarn stylelint

fix: avoid image upscale
  server/routes/image-proxy.get.ts
Due: yarn eslint --fix

feat: add static map button from notebook #691
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

fix: add proper responsivness on images + upgrade @nuxt/image to v1.7.0
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/PanoramaxViewer.vue
  components/UI/UIPicture.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: change carousel display condition
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

chore: rename function
  pages/projects.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.27.1
  package.json
Due: none

chore: add elasa-dev domain for local dev #683
  server/plugins/image-domains.ts
Due: yarn eslint --fix

chore: add alt to UIPicture #683
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

fix: client only Phone component
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

feat: add panoramax static image #682
  components/PoisDetails/PanoramaxViewer.vue
  components/PoisDetails/PoiDetails.vue
  server/plugins/image-domains.ts
Due: yarn eslint --fix, yarn stylelint

chore: get image hosts by project slug #683
  providers/custom-proxy.ts
  server/plugins/image-domains.ts
  server/routes/image-proxy.get.ts
Due: yarn eslint --fix

fix: ensure theme & project are present in API url
  .env.sample
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/MapPois.vue
  composables/useApiEndpoint.ts
  composables/useContrib.ts
  composables/usePois.ts
  docker-compose.yml
  layouts/default.vue
  layouts/error.vue
  lib/apiArticle.ts
  lib/apiPoiDeps.ts
  lib/apiPois.ts
  nuxt.config.ts
  pages/embedded.vue
  pages/index.vue
  server/api/config.get.ts
  server/api/projects.get.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
  utils/fetch-domains.ts
Due: yarn eslint --fix, yarn stylelint

fix: missing protocol in config api endpoint
  server/api/config.get.ts
Due: yarn eslint --fix

chore: improve project dev url
  pages/projects.vue
Due: yarn eslint --fix, yarn stylelint

chore: add margin and standardize copyrights #682
  components/PoisDetails/Carousel.vue
  components/PoisDetails/Mapillary.vue
  components/PoisDetails/PanoramaxViewer.vue
  components/PoisDetails/PoiDetails.vue
Due: yarn eslint --fix, yarn stylelint

fix: custom image modifier #683
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/PanoramaxViewer.vue
  package.json
  server/routes/image-proxy.get.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

chore: create a custom image provider #683
  components/UI/UIPicture.vue
  nuxt.config.ts
  package.json
  providers/custom-proxy.ts
  server/api/image-proxy.get.ts
  server/plugins/image-domains.ts
  utils/fetch-domains.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

refactor: rewrite sitemap & manifest
  .env.sample
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix

chore: add size contraint to uipicture #683
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/PanoramaxViewer.vue
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove fetch-domains in dockerfile
  Dockerfile
Due: none

fix: communicate image modifiers to proxy #683
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/PoisDetails/PanoramaxViewer.vue
  components/UI/UIPicture.vue
  providers/custom-proxy.ts
Due: yarn eslint --fix, yarn stylelint

chore: avoid throwing image error #683
  server/routes/image-proxy.get.ts
Due: yarn eslint --fix

fix: image domains and direct links #683
  providers/custom-proxy.ts
  server/plugins/image-domains.ts
  server/routes/image-proxy.get.ts
  stores/site.ts
Due: yarn eslint --fix

fix: add missing async #687
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint
