Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

fix: add theme and project to pdf export path #694
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

fix: update cookie_consent_message type #696
  lib/apiSettings.ts
Due: yarn eslint --fix

fix: display projects page only on generic domain
  server/middleware/project.ts
Due: yarn eslint --fix

chore: v1.27.2
  package.json
Due: none

fix: wrong display of "Go To Map" button #699
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/Home/SelectedCategories.vue
Due: yarn eslint --fix, yarn stylelint

fix: wrong config path + enforce middleware rule
  server/api/config.get.ts
  server/middleware/project.ts
Due: yarn eslint --fix

fix: missing async statement
  lib/apiPois.ts
Due: yarn eslint --fix

chore: v1.27.3
  package.json
Due: none

feat: simple proto
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

fix: update ids regex
  composables/useIdsResolver.ts
Due: yarn eslint --fix

chore: v1.27.4
  package.json
Due: none

feat: add static map button from notebook #691
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

chore: enable feature on contrib only #691
  components/MainMap/FavoriteNoteBook.vue
Due: yarn eslint --fix, yarn stylelint

Add static map button from notebook (#692)
  components/Home/Home.vue
  components/MainMap/FavoriteNoteBook.vue
  locales/en-GB.ts
  locales/es-ES.ts
  locales/fr-FR.ts
Due: yarn eslint --fix, yarn stylelint

chore: v1.27.5
  package.json
Due: none

fix: keep poi deps API order #702
  lib/apiPoiDeps.ts
Due: yarn eslint --fix

fix: add fallback value to missing display key #704
  components/Fields/Field.vue
  components/Isochrone/IsochroneStatus.vue
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/PoiDetails.vue
  lib/clusters.ts
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on DateRange #662
  components/Fields/DateRange.vue
  components/PoisDetails/FieldsGroup.vue
  utils/utilities.ts
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on NumberRange #364
  components/Filters/NumberRange.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on AddressField #394
  components/Fields/AddressField.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on RouteField #364
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Category #364
  components/Menu/Category.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Facebook #364
  components/Fields/Facebook.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Stars #364
  components/Fields/Stars.story.vue
  components/Fields/Stars.vue
  utils/types.ts
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Select #364
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on FavoritesOverlay #364
  components/MainMap/FavoritesOverlay.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Coordinates #364
  components/Fields/Coordinates.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on MapControlsExplorer #364
  components/MainMap/MapControlsExplore.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Field #364
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on LinkedIn #364
  components/Fields/LinkedIn.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on Instagram #364
  components/Fields/Instagram.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on MapControls3D #364
  components/Map/MapControls3D.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on VFlag #364
  components/UI/VFlag.vue
Due: yarn eslint --fix, yarn stylelint

refactor: apply script setup style on ItemList #364
  components/Menu/ItemList.vue
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
