Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint, yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths

chore: replace storybook by histoire
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  README.md
  components/Fields/DateRange.story.vue
  components/Fields/Field.story.vue
  components/Fields/Stars.story.vue
  components/Filters/DateRange.story.vue
  components/Filters/NumberRange.story.vue
  components/Home/Menu.story.vue
  components/MainMap/MapFeatures.story.vue
  components/Map/Map.story.vue
  components/Map/MapBase.story.vue
  components/Map/MapControlsBackground.story.vue
  components/Map/MapPois.story.vue
  components/Menu/Category.story.vue
  components/Menu/Group.story.vue
  components/Menu/ItemList.story.vue
  components/Menu/Link.story.vue
  components/PoisCard/Fields.story.vue
  components/PoisCard/PoiCard.story.vue
  components/PoisCard/PoiCardLight.story.vue
  components/PoisCard/PoisDeck.stories.ts
  components/PoisCard/PoisDeck.story.vue
  components/PoisDetails/FieldsGroup.story.vue
  components/PoisDetails/PoiDetails.story.vue
  components/PoisList/PoisTable.story.vue
  components/UI/FavoriteIcon.story.vue
  components/UI/IconButton.story.vue
  components/UI/TeritorioIcon.story.vue
  histoire.config.ts
  nuxt.config.ts
  package.json
  utils/histoire-plugin-screenshot.ts
  utils/histoire-setup.js
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

test: fix storybook typing
  components/Fields/Field.stories.ts
  components/Home/Menu.stories.ts
  components/MainMap/MapFeatures.stories.ts
  components/Menu/Category.stories.ts
  components/Menu/Category.vue
  components/Menu/Group.stories.ts
  components/Menu/Group.vue
  components/Menu/ItemList.stories.ts
  components/Menu/ItemList.vue
  components/Menu/Link.stories.ts
  components/Menu/Link.vue
  components/PoisCard/Fields.stories.ts
  components/PoisCard/PoisDeck.stories.ts
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisDetails/PoiDetails.stories.ts
  components/UI/IconButton.stories.ts
  cypress/fixtures/teritorio/references/settings.json
Due: yarn eslint --fix, yarn stylelint

fix: fix ayouts/default.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix run histoire from scratch
  package.json
Due: none

chore: update nuxt-image monkey patch
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix carousel config
  components/PoisDetails/Carousel.vue
Due: yarn eslint --fix, yarn stylelint

fix: make filter support pinia
  stores/menu.ts
  utils/types-filters.ts
Due: yarn eslint --fix

fix: update tsconfig
  tsconfig.json
Due: none

test: fix
  cypress/e2e/category/pois-list.cy.ts
  cypress/e2e/poi/detail-route.cy.ts
  cypress/e2e/poi/detail-simple.cy.ts
  cypress/support/mock.ts
Due: yarn eslint --fix

ci: fix cypress
  .github/workflows/ci.yml
Due: none

test: fix jest config
  components/Fields/OpeningHours.test.ts
  jest.config.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

fix: review DateRange
  components/Filters/DateRange.vue
Due: yarn eslint --fix, yarn stylelint

fix: remove tailwind/vietify explicits
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/MainMap/FavoriteMenu.vue
  components/PoisDetails/Carousel.vue
  components/PoisList/CategorySelector.vue
  components/UI/ShareLinkModal.vue
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean pages/poi/[id]/details.vue
  pages/poi/[id]/details.vue
Due: yarn eslint --fix, yarn stylelint

fix: type FontAwesomeIcon size prop
  components/Home/Menu.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

refactor: refacto tailwind css import
  assets/tailwind.scss
  layouts/default.vue
Due: yarn eslint --fix, yarn stylelint

fix: add emit typing
  .eslintrc.js
  components/Fields/Field.vue
  components/Filters/DateRange.vue
  components/Filters/NumberRange.vue
  components/Filters/Select.vue
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Menu.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/FavoritesOverlay.vue
  components/MainMap/SnackBar.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Filter.vue
  components/Menu/Group.vue
  components/Menu/Item.vue
  components/Menu/ItemList.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisCard/PoisDeck.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/Route/RouteMap.vue
  components/PoisList/CategorySelector.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
Due: yarn eslint --fix, yarn stylelint

fix: clean storybook results
  __screenshots__/actual/PoisDetails/Fields/Default Empty.png
  __screenshots__/actual/PoisDetails/Fields/Many.png
  __screenshots__/actual/PoisList/PoisTable/Default.png
  components/PoisCard/PoiCard.stories.ts
  components/PoisDetails/FieldsGroup.stories.ts
  components/PoisList/PoisTable.stories.ts
Due: yarn eslint --fix

fix: clean nuxt config
  nuxt.config.ts
Due: yarn eslint --fix

fix: review NumberRange
  components/Filters/NumberRange.vue
Due: yarn eslint --fix, yarn stylelint

refactor: rename NuxtPicture to UIPicture
  components/PoisCard/PoiCard.vue
  components/PoisCard/PoiCardLight.vue
  components/PoisDetails/Carousel.vue
  components/UI/UIPicture.vue
Due: yarn eslint --fix, yarn stylelint

fix: add missing emits in MapBase
  components/Map/MapBase.vue
Due: yarn eslint --fix, yarn stylelint

chore: update marker cluster to vue3
  lib/markerLayerFactory.ts
Due: yarn eslint --fix

fix: partial fix of Filters/Select
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

chore: nuxt3, rename static dir to public
  public/README.md
  public/api.yaml
  public/favicon.ico
  public/icon.png
  public/tests
Due: none

test: fix cypress test
  components/Fields/Coordinates.vue
  components/MainMap/NavMenu.vue
  components/PoisDetails/FieldsGroup.vue
  components/UI/IconButton.vue
  cypress.config.ts
  cypress/e2e/home-content.cy.ts
Due: yarn eslint --fix, yarn stylelint

chore: replace VueCookieLaw by VueCookieAcceptDecline
  components/UI/CookiesConsent.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

feat: load vidos config at runtime
  lib/config.ts
  nuxt.config.ts
  package.json
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vido-config.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap.xml.ts
  stores/site.ts
  utils/vido-config-static.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix select filter values
  components/Filters/Select.vue
Due: yarn eslint --fix, yarn stylelint

refactor: remove use*() to use this
  components/Fields/Field.vue
  components/Fields/OpeningHours.vue
  components/Fields/RoutesField.vue
  components/Home/Embedded.vue
  components/Home/Home.vue
  components/MainMap/FavoriteMenu.vue
  components/MainMap/FavoriteNoteBook.vue
  components/MainMap/MapControlsExplore.vue
  components/MainMap/MapFeatures.vue
  components/MainMap/NavMenu.vue
  components/Map/Map.vue
  components/Map/MapControls3D.vue
  components/Map/MapControlsBackground.vue
  components/Menu/Category.vue
  components/Menu/Group.vue
  components/Menu/Link.vue
  components/PoisCard/PoiCardContent.vue
  components/PoisDetails/FieldsGroup.vue
  components/PoisDetails/PoiDetails.vue
  components/PoisList/Actions.vue
  components/PoisList/PoisList.vue
  components/PoisList/PoisTable.vue
  components/Search/Search.vue
  components/Search/SearchInput.vue
  components/Search/SearchResultBlock.vue
  components/UI/CookiesConsent.vue
  components/UI/ShareLinkModal.vue
  pages/category/[id].vue
  pages/embedded.vue
  pages/index.vue
  pages/poi/[id]/details.vue
  pages/pois/[ids]/map.vue
  plugins/vido-config.ts
Due: yarn eslint --fix, yarn stylelint

fix: fix hash ulr update
  utils/url.ts
Due: yarn eslint --fix

fix: fix overlay click
  components/MainMap/FavoritesOverlay.vue
Due: yarn eslint --fix, yarn stylelint

refactor: replace useI18n by 'this.'
  components/MainMap/NavMenu.vue
  components/PoisList/CategorySelector.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix build
  lib/bbox.ts
  nuxt.config.ts
Due: yarn eslint --fix

ci: review how to run cypress
  .github/workflows/ci.yml
  package.json
Due: none

fix: remove highlight on back button with focus
  components/Home/ExplorerOrFavoritesBack.vue
  components/Home/Menu.vue
  components/Search/Search.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix css menu shadow
  components/Home/Home.vue
Due: yarn eslint --fix, yarn stylelint

fix: rename server/middleware as server/routes
  cypress/support/commands.ts
  server/middleware/cypress_mock.ts
  server/routes/__cypress_set_mocks.ts
  server/routes/manifest.webmanifest.ts
  server/routes/sitemap-style.xsl.ts
  server/routes/sitemap.xml.ts
Due: yarn eslint --fix

fix: force typing when required
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  components/Map/MapPois.story.vue
  components/Map/MapPois.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
  yarn svgo --disable=removeViewBox --enable=removeOffCanvasPaths: any of: *.svg
