Repository teritorio/vido: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint

chore: add margin around table #206
  components/PoisList/PoisTable.vue
  pages/category/[id].vue
  pages/category/index.vue
Due: yarn eslint --fix, yarn stylelint

chore: set max-width on static table field #207
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

feat: link vuetify i18n to vue-i18n #205
  plugins/vuetify.ts
Due: yarn eslint --fix

chore: update fontawesome to v6.4.2 #166
  package.json
  yarn.lock
Due: none

chore: replace fa-twitter by fa-x-twitter #166
  components/PoisDetails/Share.vue
  plugins/fontawesome.ts
Due: yarn eslint --fix, yarn stylelint

fix: route block not showing on poi details #209
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: route block not showing on poi details #209
  components/Fields/RoutesField.vue
Due: yarn eslint --fix, yarn stylelint

chore: v1.21.4
  package.json
Due: none

feat: open details link in new tab when in embedded context #191
  components/PoisList/PoisTable.vue
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
Due: yarn eslint --fix, yarn stylelint

feat: apply 'filters' query param to CategorySelector entries #173
  components/PoisList/CategorySelector.vue
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
Due: yarn eslint --fix, yarn stylelint

feat: apply filters on embedded map #173
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

chore: add new route to readme #217
  README.md
Due: none

feat: open embedded map details link in new tab #77
  components/Home/Embedded.vue
  components/PoisCard/PoiCardContent.vue
Due: yarn eslint --fix, yarn stylelint

feat: add style on download buttons #144
  components/Fields/Field.vue
Due: yarn eslint --fix, yarn stylelint

fix: use user language preference on RelativeDate #232
  components/UI/RelativeDate.vue
Due: yarn eslint --fix, yarn stylelint

fix: fix typo
  components/MainMap/MapFeatures.vue
Due: yarn eslint --fix, yarn stylelint

fix: use turf for geojson intersections
  components/MainMap/MapFeatures.vue
  package.json
  yarn.lock
Due: yarn eslint --fix, yarn stylelint

fix: stricter LngLatBounds type
  components/Home/HomeMixin.ts
  components/MainMap/MapFeatures.stories.ts
  components/MainMap/MapFeatures.story.vue
  components/MainMap/MapFeatures.vue
  components/Map/Map.vue
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

fix: simplify MapPois map center
  components/Map/MapPois.vue
Due: yarn eslint --fix, yarn stylelint

fix: add uniq featire.id
  components/MainMap/MapFeatures.vue
  components/Map/MapBase.vue
  lib/markerLayerFactory.ts
Due: yarn eslint --fix, yarn stylelint

Flatten Multi* Geojson, allows supercluster to work with multi points #189
  components/Map/MapBase.vue
  lib/bbox.ts
Due: yarn eslint --fix, yarn stylelint

feat: apply 'filters' query param to CategorySelector entries on embedded list pages #173
  components/PoisList/CategorySelector.vue
  pages/category/embedded/[id].vue
  pages/category/embedded/index.vue
Due: yarn eslint --fix, yarn stylelint

feat: apply 'filters' query param to CategorySelector entries on embedded map pages #173
  components/Home/Embedded.vue
Due: yarn eslint --fix, yarn stylelint

chore: remove icon on PoisTable empty state #231
  components/PoisList/PoisTable.vue
Due: yarn eslint --fix, yarn stylelint

fix: get short_description when fetching POIs #235
  pages/index.vue
  stores/menu.ts
Due: yarn eslint --fix, yarn stylelint

fix: embedded test
  cypress/e2e/embedded.cy.ts
Due: yarn eslint --fix

fix: tracking test
  cypress/e2e/tracking.cy.ts
Due: yarn eslint --fix

fix: map test
  components/Map/MapBase.vue
  components/Map/MapPois.vue
  cypress/e2e/pois/map.cy.ts
Due: yarn eslint --fix, yarn stylelint

Path conditions:
  yarn eslint --fix: any of: *.{js,ts,vue}
  yarn stylelint: any of: *.{css,vue}
